<div class="mb-3 " style="text-align: center; position: relative; ">
    <mat-card class="title-card ">Descuentos de Activos</mat-card>
    <button mat-icon-button class="closeButtonModal" (click)="fnSalir()">
        <mat-icon>close</mat-icon>
    </button>
</div>

<!-- Botones -->
<div class="fab-container" [ngStyle]="{display: mostrarBotones ? 'flex' : 'none'}">
    <button mat-mini-fab class="fab-toggler" (click)="onToggleFab(1, -1)">
        <i class="material-icons" [@fabToggler]="{value: tsLista}">add</i>
    </button>
    <div [@speedDialStagger]="abLista.length">
        <ng-container *ngFor="let btn of abLista; let ibtn = index;">
            <button *ngIf="btn.state" mat-mini-fab class="fab-secondary" [matTooltip]="btn.tool"
                matTooltipPosition="left" color="secondary" (click)="clickFab(ibtn)">
                <i class="material-icons">{{btn.icon}}</i>
            </button>
        </ng-container>
    </div>
</div>

<div mat-dialog-content>
    <div class="row mx-auto" [formGroup]="formDescuentoExcel" style="width: 100%;">

        <div class="col-md-12 mt-1">
            <ng-select [clearable]="true" placeholder="Personal" formControlName="personal"
                notFoundText="No hay personal disponible" appendTo="body">
                <ng-option *ngFor="let element of listaPersonal" [value]="element.nId">
                    {{element.sDescripcion}}
                </ng-option>
            </ng-select>
        </div>
        <div class="col-md-6 mt-1">
            <mat-form-field class="datePickerPointer" style="width: 100%;" (click)="fechaInicioPicker.open()" >
                <mat-label>Fecha Inicio</mat-label>
                <input matInput [matDatepicker]="fechaInicioPicker" formControlName="fechaInicio" readonly>
                <mat-datepicker-toggle matSuffix [for]="fechaInicioPicker">
                </mat-datepicker-toggle>
                <mat-datepicker #fechaInicioPicker></mat-datepicker>
                <mat-error
                    *ngIf="this.formDescuentoExcel.get('fechaInicio').hasError('required') && formDescuentoExcel.get('fechaInicio').touched">
                    La fecha inicial es obligatoria
                </mat-error>
                <mat-error
                    *ngIf="formDescuentoExcel.get('fechaInicio').hasError('dateRangeValidator') && formDescuentoExcel.get('fechaInicio').touched">
                    La fecha de inicio no puede ser mayor a la fecha final
                </mat-error>
            </mat-form-field>
        </div>
        <div class="col-md-6 mt-1">
            <mat-form-field class="datePickerPointer" style="width: 100%;" (click)="fechaFinPicker.open()">
                <mat-label>Fecha Fin</mat-label>
                <input matInput [matDatepicker]="fechaFinPicker" formControlName="fechaFin" readonly>
                <mat-datepicker-toggle matSuffix [for]="fechaFinPicker">
                </mat-datepicker-toggle>
                <mat-datepicker #fechaFinPicker></mat-datepicker>
                <mat-error
                    *ngIf="this.formDescuentoExcel.get('fechaFin').hasError('required') && formDescuentoExcel.get('fechaFin').touched">
                    La fecha final es obligatoria
                </mat-error>
                <mat-error
                    *ngIf="formDescuentoExcel.get('fechaFin').hasError('dateRangeValidator') && formDescuentoExcel.get('fechaFin').touched">
                    La fecha final no puede ser menor a la fecha de inicio
                </mat-error>
            </mat-form-field>
        </div>
    </div>
</div>