<!-- <div class="card">
    <div class="card-body"> -->
<div class="fab-container">
  <div>
    <!-- Buscar -->
    <button mat-mini-fab class="fab-secondary" color="white" (click)="fnLlenarTabla()">
      <i class="material-icons" matTooltip="Buscar" matTooltipPosition="left">search</i>
    </button>
    <!-- Generar Excel -->
    <button mat-mini-fab class="fab-secondary" color="white" (click)="descargarExcel()">
      <i class="material-icons" matTooltip="Generar Excel" matTooltipPosition="left">cloud_download</i>
    </button>
    <!-- Reiniciar filtros -->
    <button mat-mini-fab class="fab-secondary" color="white" (click)="reiniciarFiltros()">
      <i class="material-icons" matTooltip="Reiniciar filtros" matTooltipPosition="left">format_strikethrough</i>
    </button>
  </div>
</div>
<div>
  <div class="kardex-container">
    <mat-accordion>
      <mat-expansion-panel [expanded]="true" #ingresosSalidasFiltersPanel>
        <mat-expansion-panel-header>
          <mat-panel-title style="justify-content: space-between; line-height: 40px; color: #334D6E; font-weight: bold">
            <span style="vertical-align: middle;">Filtros de búsqueda</span>
            <button mat-icon-button>
              <mat-icon color="accent">search</mat-icon>
            </button>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <form autocomplete="off" [formGroup]="formIngresosSalidas">
          <div class="row">
            <div class="col-md-12">
              <mat-card>
                <mat-radio-group class="d-flex justify-content-around" formControlName="tipoReporte"
                  [(ngModel)]="selectedRadio" (change)="radioChange($event)">
                  <span>Tipo:</span>
                  <mat-radio-button value="1" [checked]='true'>
                    Ingresos
                  </mat-radio-button>
                  <mat-radio-button style="margin-left: 5px;" value="2">
                    Salidas
                  </mat-radio-button>
                </mat-radio-group>
              </mat-card>
            </div>
            <hr>
            <!-- Cliente NgSelect-->
            <div class="col-md-6">
              <ng-select [clearable]="true" placeholder="Cliente" formControlName="cliente"
                notFoundText="No hay clientes registrados" appendTo="body">
                <ng-option *ngFor="let element of clientes" [value]="element.nId">
                  {{element.sDescripcion}}
                </ng-option>
              </ng-select>
            </div>
            <!-- Presupuesto NgSelect -->
            <div class="col-md-6">
              <ng-select [clearable]="true" placeholder="Presupuesto" formControlName="presupuesto"
                notFoundText="No hay articulos disponibles" appendTo="body">
                <ng-option *ngFor="let element of presupuestos" [value]="element.nId">
                  {{element.sDescripcion}}
                </ng-option>
              </ng-select>
            </div>
            <!-- Chipset Almacén -->
            <div class="col-md-6" style="padding-top: 6px;">
              <mat-form-field class="example-chip-list" style="width: 100%">
                <mat-label>Almacenes</mat-label>
                <mat-chip-list #chipList style="height: 51.5px;">
                  <mat-chip *ngFor="let chipElement of chipElements" [selectable]="true" [removable]="true"
                    (removed)="fnEliminarAlmacen(chipElement)">
                    {{chipElement.sDescripcion}}
                    <mat-icon matChipRemove *ngIf="true">cancel</mat-icon>
                  </mat-chip>
                  <input placeholder="Seleccionar almacén(es)..." #almacenesInput formControlName="almacenes"
                    [matAutocomplete]="auto" [matChipInputFor]="chipList"
                    [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                    (matChipInputTokenEnd)="fnAgregarAlmacen($event)">
                </mat-chip-list>
                <mat-autocomplete #auto="matAutocomplete" (optionSelected)="fnSeleccionarAlmacen($event)"
                  [displayWith]="fnDisplayAlmacen">
                  <mat-option *ngFor="let almacen of filteredAlmacen | async" [value]="almacen">
                    {{almacen.sDescripcion}}
                  </mat-option>
                </mat-autocomplete>
              </mat-form-field>
            </div>

            <!-- Oper. Log NgSelect -->

            <div class="col-md-6" style="padding-top: 6px;">
              <mat-form-field class="example-chip-list" style="width: 100%">
                <mat-label>OperLog</mat-label>
                <mat-chip-list #chipListOperLog style="height: 51.5px;">
                  <mat-chip *ngFor="let chipElement of chipElementsOper" [selectable]="true" [removable]="true"
                    (removed)="fnEliminarOperLog(chipElement)">
                    {{chipElement.sDescripcion}}
                    <mat-icon matChipRemove *ngIf="true">cancel</mat-icon>
                  </mat-chip>
                  <input placeholder="Seleccionar Operador(es)..." #OperLogInput formControlName="operLogs"
                    [matAutocomplete]="autoOper" [matChipInputFor]="chipListOperLog"
                    [matChipInputSeparatorKeyCodes]="separatorKeysCodesOper"
                    (matChipInputTokenEnd)="fnAgregarOperLog($event)">
                </mat-chip-list>
                <mat-autocomplete #autoOper="matAutocomplete" (optionSelected)="fnSeleccionarOperLog($event)"
                  [displayWith]="fnDisplayOper">
                  <mat-option *ngFor="let operLog of filteredOperLog | async" [value]="operLog">
                    {{operLog.sDescripcion}}
                  </mat-option>
                </mat-autocomplete>
              </mat-form-field>
            </div>

            <!-- <div class="col-md-6" [ngStyle]="{'padding-top': (chipElements.length > 0 ) ? '14px' : '0px' } ">
          <ng-select [clearable]="true" placeholder="Oper Log" formControlName="operLog"
            notFoundText="No hay ningún Oper Log" appendTo="body">
            <ng-option *ngFor="let element of operadoresLogicos" [value]="element.nId">
              {{element.sDescripcion}}
            </ng-option>
          </ng-select>
        </div> -->

            <div class="col-md-6" *ngIf="destinoFTraslado">
              <br>
              <mat-radio-group class="d-flex justify-content-around" formControlName="destino">
                <span>Destino:</span>
                <mat-radio-button [value]="1" [checked]='true'>
                  Ambos
                </mat-radio-button>
                <mat-radio-button style="margin-left: 5px;" [value]="2">
                  Central
                </mat-radio-button>
                <mat-radio-button [value]="3">
                  Provincia
                </mat-radio-button>
              </mat-radio-group>
            </div>

            <div class="col-md-6" *ngIf="destinoFTraslado">

              <mat-form-field style="width: 100%;">
                <mat-label>Fecha Traslado:</mat-label>
                <input matInput [matDatepicker]="txtFechaTraslado" formControlName="txtFechaTraslado" readonly>
                <button style="outline: none;" mat-button matSuffix mat-icon-button aria-label="Clear"
                  (click)="this.formIngresosSalidas.controls.txtFechaTraslado.setValue('')">
                  <mat-icon>close</mat-icon>
                </button>

                <mat-datepicker-toggle matSuffix [for]="txtFechaTraslado"></mat-datepicker-toggle>
                <mat-datepicker #txtFechaTraslado></mat-datepicker>
              </mat-form-field>

            </div>



          </div>

          <mat-expansion-panel #matExpUbicacion class="mt-2" [expanded]="true">
            <mat-expansion-panel-header>
              <mat-panel-title
                style="justify-content: space-between; line-height: 40px; color:#334D6E; font-weight: bold">
                <span style="vertical-align: middle;">Filtrar por fechas</span>
                <button mat-icon-button>
                  <mat-icon color="accent">date_range</mat-icon>
                </button>
              </mat-panel-title>
            </mat-expansion-panel-header>
            <div class="row mt-3">
              <div class="col-md-12">
                <mat-radio-group formControlName="fechasController" (ngModelChange)="mostrarFiltroFechas();"
                  class="d-flex justify-content-around">
                  <mat-radio-button style="margin-left: 5px;" [value]="true">
                    Por Rango de Meses
                  </mat-radio-button>
                  <mat-radio-button [value]="false">
                    Por Rango de Fechas
                  </mat-radio-button>
                </mat-radio-group>
              </div>
              <div *ngIf="filtroFecha" class="col-md-10 mt-3 w-100 mx-auto">
                <div class="row">
                  <div class="col-md-6 mx-auto">
                    <div class="row">
                      <div class="col-md-10">
                        Desde
                      </div>
                      <div class="col-md-6">
                        <ng-select [clearable]="false" formControlName="rangoMesAnhoInicio" placeholder="Año"
                          appendTo="body">
                          <ng-option *ngFor="let element of anhos" [value]="element.nId">
                            {{element.sDescripcion}}
                          </ng-option>
                        </ng-select>
                        <mat-error
                          *ngIf="formIngresosSalidas.get('rangoMesAnhoInicio').hasError('monthRangeValidator') && formIngresosSalidas.get('rangoMesAnhoInicio').touched">
                          El año inicial debe ser menor o igual al año final
                        </mat-error>
                      </div>
                      <div class="col-md-6">
                        <ng-select [clearable]="false" formControlName="rangoMesMesInicio" placeholder="Mes"
                          appendTo="body">
                          <ng-option *ngFor="let element of meses" [value]="element.nId">
                            {{element.sDescripcion}}
                          </ng-option>
                        </ng-select>
                        <mat-error
                          *ngIf="formIngresosSalidas.get('rangoMesMesInicio').hasError('monthRangeValidator') && formIngresosSalidas.get('rangoMesMesInicio').touched">
                          El mes inicial debe ser menor o igual al mes final
                        </mat-error>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6 mx-auto">
                    <div class="row">
                      <div class="col-md-10">
                        Hasta
                      </div>
                      <div class="col-md-6">
                        <ng-select [clearable]="false" formControlName="rangoMesAnhoFin" placeholder="Año"
                          appendTo="body">
                          <ng-option *ngFor="let element of anhos" [value]="element.nId">
                            {{element.sDescripcion}}
                          </ng-option>
                        </ng-select>
                        <mat-error
                          *ngIf="formIngresosSalidas.get('rangoMesAnhoFin').hasError('monthRangeValidator') && formIngresosSalidas.get('rangoMesAnhoFin').touched">
                          El año final debe ser mayor o igual al año inicial
                        </mat-error>
                      </div>
                      <div class="col-md-6">
                        <ng-select [clearable]="false" formControlName="rangoMesMesFin" placeholder="Mes"
                          appendTo="body">
                          <ng-option *ngFor="let element of meses" [value]="element.nId">
                            {{element.sDescripcion}}
                          </ng-option>
                        </ng-select>
                        <mat-error
                          *ngIf="formIngresosSalidas.get('rangoMesMesFin').hasError('monthRangeValidator') && formIngresosSalidas.get('rangoMesMesFin').touched">
                          El mes final debe ser mayor o igual al mes inicial
                        </mat-error>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div *ngIf="!filtroFecha" class="col-md-10 mt-3 w-100 mx-auto">
                <div class="row">
                  <div class="col-md-5 mx-auto">
                    <mat-form-field>
                      <mat-label>Fecha Inicio</mat-label>
                      <input matInput [matDatepicker]="fechaInicioPicker" formControlName="rangoFechasFechaInicio"
                        (click)="fechaInicioPicker.open()">
                      <mat-datepicker-toggle matSuffix [for]="fechaInicioPicker"></mat-datepicker-toggle>
                      <mat-datepicker #fechaInicioPicker></mat-datepicker>
                      <mat-error
                        *ngIf="formIngresosSalidas.get('rangoFechasFechaInicio').hasError('required') && formIngresosSalidas.get('rangoFechasFechaInicio').touched">
                        Ingrese una fecha de nacimiento válida
                      </mat-error>
                      <mat-error
                        *ngIf="formIngresosSalidas.get('rangoFechasFechaInicio').hasError('dateRangeValidator') && formIngresosSalidas.get('rangoFechasFechaInicio').touched">
                        La fecha de inicio no puede ser mayor a la fecha final
                      </mat-error>
                    </mat-form-field>
                  </div>
                  <div class="col-md-5 mx-auto">
                    <mat-form-field>
                      <mat-label>Fecha Fin</mat-label>
                      <input matInput [matDatepicker]="fechaFinPicker" formControlName="rangoFechasFechaFin"
                        (click)="fechaFinPicker.open()">
                      <mat-datepicker-toggle matSuffix [for]="fechaFinPicker"></mat-datepicker-toggle>
                      <mat-datepicker #fechaFinPicker></mat-datepicker>
                      <mat-error
                        *ngIf="formIngresosSalidas.get('rangoFechasFechaFin').hasError('required') && formIngresosSalidas.get('rangoFechasFechaFin').touched">
                        Ingrese una fecha de nacimiento válida
                      </mat-error>
                      <mat-error
                        *ngIf="formIngresosSalidas.get('rangoFechasFechaFin').hasError('dateRangeValidator') && formIngresosSalidas.get('rangoFechasFechaFin').touched">
                        La fecha final no puede ser menor a la fecha de inicio
                      </mat-error>
                    </mat-form-field>
                  </div>
                </div>
              </div>
            </div>
          </mat-expansion-panel>

        </form>
      </mat-expansion-panel>
      <mat-expansion-panel [disabled]="listaIngresos.length == 0 && listaSalidas.length == 0" #ingresosSalidasTablePanel>
        <mat-expansion-panel-header>
          <mat-panel-title style="justify-content: space-between; line-height: 40px; color: #334D6E; font-weight: bold">
            <span style="vertical-align: middle;">Resultado</span>
            <button mat-icon-button>
              <mat-icon color="accent">table</mat-icon>
            </button>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div class="mt-5" [ngStyle]="{'display': (listaIngresos.length != 0) ? 'block' : 'none'}">
          <div class="row">
            <div class="col-lg-6 mx-auto">
              <mat-form-field style="width: 100%;">
                <mat-label>Buscar:</mat-label>
                <input type="text" matInput [formControl]="txtFiltroIngresos" (keyup)="fnFiltrarIngresos($event)">
                <button mat-button *ngIf="txtFiltroIngresos.value" matSuffix mat-icon-button aria-label="Clear"
                  (click)="this.txtFiltroIngresos.setValue('')">
                  <mat-icon>close</mat-icon>
                </button>
              </mat-form-field>
            </div>
          </div>
          <div id="listaMobile" class="mat-elevation-z8 scroll-table">
            <div class="example-container">
              <table mat-table [dataSource]="dataSourceIngresos" matSort #matSortIngresos="matSort">

                <ng-container matColumnDef="sCodAlmacen">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> Almacén </th>
                  <td mat-cell *matCellDef="let row" class='has_label_on_mobile'
                    data-label='Almacén: '>
                    <ngb-highlight [result]="row.sCodAlmacen" [term]="txtFiltroIngresos.value"></ngb-highlight>
                  </td>
                </ng-container>

                <ng-container matColumnDef="dFechaCreadDoc">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> F. Documento </th>
                  <td mat-cell *matCellDef="let row" class='has_label_on_mobile'
                    data-label='F. Documento: '>
                    <ngb-highlight [result]="row.dFechaCreadDoc | date: 'dd/MM/yyyy'" [term]="txtFiltroIngresos.value"></ngb-highlight>
                  </td>
                </ng-container>

                <ng-container matColumnDef="dFechaTraslado">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> F. Traslado </th>
                  <td mat-cell *matCellDef="let row" class='has_label_on_mobile'
                    data-label='F. Traslado: '>
                    <ngb-highlight [result]="row.dFechaTraslado | date: 'dd/MM/yyyy'" [term]="txtFiltroIngresos.value"></ngb-highlight>
                  </td>
                </ng-container>

                <!-- <ng-container matColumnDef="sEjecutivo">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> Ejecutivo </th>
                  <td mat-cell *matCellDef="let row" class='has_label_on_mobile'
                    data-label='Ejecutivo: '>
                    <ngb-highlight [result]="row.sEjecutivo" [term]="txtFiltroIngresos.value"></ngb-highlight>
                  </td>
                </ng-container> -->

                <ng-container matColumnDef="sGuia">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> Guía Referencia </th>
                  <td mat-cell *matCellDef="let row" class='has_label_on_mobile'
                    data-label='Guía Referencia: '>
                    <ngb-highlight [result]="row.sGuia" [term]="txtFiltroIngresos.value"></ngb-highlight>
                  </td>
                </ng-container>

                <ng-container matColumnDef="sUsuarioMovo">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> Usuario Movo </th>
                  <td mat-cell *matCellDef="let row" class='has_label_on_mobile'
                    data-label='Usuario Movo: '>
                    <ngb-highlight [result]="row.sUsuarioMovo" [term]="txtFiltroIngresos.value"></ngb-highlight>
                  </td>
                </ng-container>

                <ng-container matColumnDef="dFechaMovo">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> Fecha Movo </th>
                  <td mat-cell *matCellDef="let row" class='has_label_on_mobile'
                    data-label='Artículo Descripción: '>
                    <ngb-highlight [result]="row.dFechaMovo | date: 'dd/MM/yyyy'" [term]="txtFiltroIngresos.value"></ngb-highlight>
                  </td>
                </ng-container>

                <ng-container matColumnDef="sCliente">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> Cliente </th>
                  <td mat-cell *matCellDef="let row" class='has_label_on_mobile'
                    data-label='Cliente: '>
                    <ngb-highlight [result]="row.sCliente" [term]="txtFiltroIngresos.value"></ngb-highlight>
                  </td>
                </ng-container>

                <ng-container matColumnDef="sCodCentroCosto">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> Presupuesto </th>
                  <td mat-cell *matCellDef="let row" class='has_label_on_mobile'
                    data-label='Presupuesto: '>
                    <ngb-highlight [result]="row.sCodCentroCosto" [term]="txtFiltroIngresos.value"></ngb-highlight>
                  </td>
                </ng-container>

                <ng-container matColumnDef="sCodArticulo">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> Artículo </th>
                  <td mat-cell *matCellDef="let row" class='has_label_on_mobile'
                    data-label='Artículo: '>
                    <ngb-highlight [result]="row.sCodArticulo" [term]="txtFiltroIngresos.value"></ngb-highlight>
                  </td>
                </ng-container>

                <ng-container matColumnDef="sDescripcion">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> Artículo Descripción </th>
                  <td mat-cell *matCellDef="let row" class='has_label_on_mobile'
                    data-label='Artículo Descripción: '>
                    <ngb-highlight [result]="row.sDescripcion" [term]="txtFiltroIngresos.value"></ngb-highlight>
                  </td>
                </ng-container>

                <ng-container matColumnDef="sCodUndMedida">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> U.M. </th>
                  <td mat-cell *matCellDef="let row" class='has_label_on_mobile'
                    data-label='U.M.: '>
                    <ngb-highlight [result]="row.sCodUndMedida" [term]="txtFiltroIngresos.value"></ngb-highlight>
                  </td>
                </ng-container>

                <ng-container matColumnDef="sLote">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> Lote </th>
                  <td mat-cell *matCellDef="let row" class='has_label_on_mobile'
                    data-label='Lote: '>
                    <ngb-highlight [result]="row.sLote" [term]="txtFiltroIngresos.value"></ngb-highlight>
                  </td>
                </ng-container>

                <ng-container matColumnDef="dFechaVence">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> F. Vencimiento </th>
                  <td mat-cell *matCellDef="let row" class='has_label_on_mobile'
                    data-label='F. Vencimiento: '>
                    <ngb-highlight [result]="row.dFechaVence | date: 'dd/MM/yyyy'" [term]="txtFiltroIngresos.value"></ngb-highlight>
                  </td>
                </ng-container>

                <ng-container matColumnDef="nCantidad">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> Cantidad </th>
                  <td mat-cell *matCellDef="let row" class='has_label_on_mobile'
                    data-label='Cantidad: '>
                    <ngb-highlight [result]="row.nCantidad" [term]="txtFiltroIngresos.value"></ngb-highlight>
                  </td>
                </ng-container>

                <ng-container matColumnDef="sSolicitante">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> Solicitante </th>
                  <td mat-cell *matCellDef="let row" class='has_label_on_mobile'
                    data-label='Solicitante: '>
                    <ngb-highlight [result]="row.sSolicitante" [term]="txtFiltroIngresos.value"></ngb-highlight>
                  </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumnsIngresos; sticky: true"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumnsIngresos;"></tr>

                <tr class="mat-row" *matNoDataRow>
                  <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
                </tr>
              </table>
            </div>

          </div>
          <mat-paginator [pageSizeOptions]="[10, 20, 30]" #paginatorIngresos class="paginator-fixed"></mat-paginator>
        </div>
        <div class="mt-5" [ngStyle]="{'display': (listaSalidas.length != 0) ? 'block' : 'none'}">
          <div class="row">
            <div class="col-lg-6 mx-auto">
              <mat-form-field style="width: 100%;">
                <mat-label>Buscar:</mat-label>
                <input type="text" matInput [formControl]="txtFiltroSalidas" (keyup)="fnFiltrarSalidas($event)">
                <button mat-button *ngIf="txtFiltroSalidas.value" matSuffix mat-icon-button aria-label="Clear"
                  (click)="this.txtFiltroSalidas.setValue('')">
                  <mat-icon>close</mat-icon>
                </button>
              </mat-form-field>
            </div>
          </div>
          <div id="listaMobile" class="mat-elevation-z8 scroll-table">
            <div class="example-container">
              <table mat-table [dataSource]="dataSourceSalidas" matSort #matSortSalidas="matSort">

                <ng-container matColumnDef="sCodAlmacen">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> Almacén </th>
                  <td mat-cell *matCellDef="let row" class='has_label_on_mobile'
                    data-label='Almacén: '>
                    <ngb-highlight [result]="row.sCodAlmacen" [term]="txtFiltroSalidas.value"></ngb-highlight>
                  </td>
                </ng-container>

                <ng-container matColumnDef="dFechaCreadDoc">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> F. Documento </th>
                  <td mat-cell *matCellDef="let row" class='has_label_on_mobile'
                    data-label='F. Documento: '>
                    <ngb-highlight [result]="row.dFechaCreadDoc | date: 'dd/MM/yyyy'" [term]="txtFiltroSalidas.value"></ngb-highlight>
                  </td>
                </ng-container>

                <ng-container matColumnDef="dFechaTraslado">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> F. Traslado </th>
                  <td mat-cell *matCellDef="let row" class='has_label_on_mobile'
                    data-label='F. Traslado: '>
                    <ngb-highlight [result]="row.dFechaTraslado | date: 'dd/MM/yyyy'" [term]="txtFiltroSalidas.value"></ngb-highlight>
                  </td>
                </ng-container>

                <ng-container matColumnDef="sGuia">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> Guía Referencia </th>
                  <td mat-cell *matCellDef="let row" class='has_label_on_mobile'
                    data-label='Guía Referencia: '>
                    <ngb-highlight [result]="row.sGuia" [term]="txtFiltroSalidas.value"></ngb-highlight>
                  </td>
                </ng-container>

                <ng-container matColumnDef="nNumeroOper">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> Operación </th>
                  <td mat-cell *matCellDef="let row" class='has_label_on_mobile'
                    data-label='Operación: '>
                    <ngb-highlight [result]="row.nNumeroOper" [term]="txtFiltroSalidas.value"></ngb-highlight>
                  </td>
                </ng-container>

                <ng-container matColumnDef="sUsuarioMovo">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> Usuario Movo </th>
                  <td mat-cell *matCellDef="let row" class='has_label_on_mobile'
                    data-label='Usuario Movo: '>
                    <ngb-highlight [result]="row.sUsuarioMovo" [term]="txtFiltroSalidas.value"></ngb-highlight>
                  </td>
                </ng-container>

                <ng-container matColumnDef="dFechaMovo">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> Fecha Movo </th>
                  <td mat-cell *matCellDef="let row" class='has_label_on_mobile'
                    data-label='Fecha Movo: '>
                    <ngb-highlight [result]="row.dFechaMovo | date: 'dd/MM/yyyy'" [term]="txtFiltroSalidas.value"></ngb-highlight>
                  </td>
                </ng-container>

                <ng-container matColumnDef="sCliente">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> Cliente </th>
                  <td mat-cell *matCellDef="let row" class='has_label_on_mobile'
                    data-label='Cliente: '>
                    <ngb-highlight [result]="row.sCliente" [term]="txtFiltroSalidas.value"></ngb-highlight>
                  </td>
                </ng-container>

                <ng-container matColumnDef="sCodCentroCosto">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> Presupuesto </th>
                  <td mat-cell *matCellDef="let row" class='has_label_on_mobile'
                    data-label='Presupuesto: '>
                    <ngb-highlight [result]="row.sCodCentroCosto" [term]="txtFiltroSalidas.value"></ngb-highlight>
                  </td>
                </ng-container>

                <ng-container matColumnDef="sCodArticulo">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> Artículo </th>
                  <td mat-cell *matCellDef="let row" class='has_label_on_mobile'
                    data-label='Artículo: '>
                    <ngb-highlight [result]="row.sCodArticulo" [term]="txtFiltroSalidas.value"></ngb-highlight>
                  </td>
                </ng-container>

                <ng-container matColumnDef="sArticulo">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> Artículo Descripción </th>
                  <td mat-cell *matCellDef="let row" class='has_label_on_mobile'
                    data-label='Artículo Descripción: '>
                    <ngb-highlight [result]="row.sArticulo" [term]="txtFiltroSalidas.value"></ngb-highlight>
                  </td>
                </ng-container>

                <ng-container matColumnDef="sCodUndMedida">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> U.M. </th>
                  <td mat-cell *matCellDef="let row" class='has_label_on_mobile'
                    data-label='U.M.: '>
                    <ngb-highlight [result]="row.sCodUndMedida" [term]="txtFiltroSalidas.value"></ngb-highlight>
                  </td>
                </ng-container>

                <ng-container matColumnDef="sLote">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> Lote </th>
                  <td mat-cell *matCellDef="let row" class='has_label_on_mobile'
                    data-label='Lote: '>
                    <ngb-highlight [result]="row.sLote" [term]="txtFiltroSalidas.value"></ngb-highlight>
                  </td>
                </ng-container>

                <ng-container matColumnDef="dFechaVence">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> F. Vencimiento </th>
                  <td mat-cell *matCellDef="let row" class='has_label_on_mobile'
                    data-label='F. Vencimiento: '>
                    <ngb-highlight [result]="row.dFechaVence | date: 'dd/MM/yyyy'" [term]="txtFiltroSalidas.value"></ngb-highlight>
                  </td>
                </ng-container>

                <ng-container matColumnDef="nCantidad">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> Cantidad </th>
                  <td mat-cell *matCellDef="let row" class='has_label_on_mobile'
                    data-label='Cantidad: '>
                    <ngb-highlight [result]="row.nCantidad" [term]="txtFiltroSalidas.value"></ngb-highlight>
                  </td>
                </ng-container>

                <ng-container matColumnDef="sSolicitante">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> Solicitante </th>
                  <td mat-cell *matCellDef="let row" class='has_label_on_mobile'
                    data-label='Solicitante: '>
                    <ngb-highlight [result]="row.sSolicitante" [term]="txtFiltroSalidas.value"></ngb-highlight>
                  </td>
                </ng-container>

                <ng-container matColumnDef="sDestinatario">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> Destinatario </th>
                  <td mat-cell *matCellDef="let row" class='has_label_on_mobile'
                    data-label='Destinatario: '>
                    <ngb-highlight [result]="row.sDestinatario" [term]="txtFiltroSalidas.value"></ngb-highlight>
                  </td>
                </ng-container>

                <ng-container matColumnDef="sEntidadDestinatario">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> Entidad </th>
                  <td mat-cell *matCellDef="let row" class='has_label_on_mobile'
                    data-label='Entidad: '>
                    <ngb-highlight [result]="row.sEntidadDestinatario" [term]="txtFiltroSalidas.value"></ngb-highlight>
                  </td>
                </ng-container>

                <ng-container matColumnDef="sSucursal">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> Sucursal </th>
                  <td mat-cell *matCellDef="let row" class='has_label_on_mobile'
                    data-label='Sucursal: '>
                    <ngb-highlight [result]="row.sSucursal" [term]="txtFiltroSalidas.value"></ngb-highlight>
                  </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumnsSalidas; sticky: true"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumnsSalidas;"></tr>

                <tr class="mat-row" *matNoDataRow>
                  <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
                </tr>
              </table>
            </div>
            <mat-paginator [pageSizeOptions]="[10, 20, 30]" #paginatorSalidas class="paginator-fixed"></mat-paginator>
          </div>
        </div>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
</div>
<!-- </div>
</div> -->
