<!-- Div Principal -->
<div style="padding-top: 80px; min-height: calc(100% - 123px);">
    <div class="container-fluid">
        <div class="card">
            <h5 class="card-header">Prestación Alimentaria</h5>

            <!-- Fab -->
            <div class="fab-container">
                <button [@tada]="{value: tadaMain}" mat-mini-fab class="fab-toggler" (click)="onToggleFab(1, -1)">
                    <i class="material-icons" [@fabToggler]="{value: tsMain}">add</i>
                </button>
                <div [@speedDialStagger]="abMain.length">
                    <button *ngFor="let btn of abMain; let ibtn = index;" mat-mini-fab class="fab-secondary" color="secondary" (click)="clickFab(1, ibtn)">
                        <i class="material-icons" matTooltip="{{btn.tool}}" matTooltipPosition="left">{{btn.icon}}</i>
                    </button>
                </div>
            </div>

            <!-- Body -->
            <div id="body-main" class="card-body" style="padding-bottom: 0px;">

                <div class="icard melevation col-xl-12">
                    <div class="row">

                        <!-- Imagen -->
                        <div class="col-lg-2" style="text-align: center; align-self: center;">
                            <img class="imgAvatar" src="../../../../../assets/img/LuckyAvatar.png" alt="">
                        </div>

                        <!-- Información del usuario -->
                        <div class="col-lg-3 fix-inf-user" style="padding-top: 25px; padding-bottom: 20px; align-self: center; padding-left: 0px;">
                            <h4 style="font-size: 20px;">{{this.getInfoUser.sNombres.value}}</h4>
                            <h6 style="font-size: 14px; color: rgba(0,0,0,.54);">{{this.getInfoUser.sTipo.value}} : {{this.getInfoUser.sDocumento.value}}</h6>
                        </div>

                        <mat-divider [vertical]="true"></mat-divider>

                        <!-- Filtro -->
                        <div class="col-lg">

                            <div class="row" style="margin-left: 0px;">
                                <h6>Aplicar filtro por :</h6>
                                <hr style="margin-top: 0px; margin-bottom: 10px;">
                            </div>

                            <form autocomplete="off" id="fgMain" [formGroup]="fgMain">

                                <div class="form-row">

                                    <!-- Cliente -->
                                    <div class="col-lg-4">
                                        <mat-form-field style="width: 100%;">
                                            <mat-label>Cliente</mat-label>
                                            <mat-select formControlName="nIdCliente" (valueChange)="ChangeCliente($event)">
                                                <mat-option>--</mat-option>
                                                <mat-option *ngFor="let item of cboCliente" [value]="item.nIdCliente">
                                                    {{item.sCliente}}
                                                </mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                    </div>

                                    <!-- Centro de costo -->
                                    <div class="col-lg-4">
                                        <mat-form-field style="width: 100%;">
                                            <mat-label>Centro de costo</mat-label>
                                            <input type="text" matInput formControlName="sCentroCosto" [matAutocomplete]="sCentroCosto" class="titlecase">

                                            <mat-autocomplete #sCentroCosto="matAutocomplete">
                                                <mat-option *ngFor="let option of foCentroCosto | async" [value]="option.sCentroCosto">
                                                    {{option.sCentroCosto | titlecase}}
                                                </mat-option>
                                            </mat-autocomplete>

                                            <button style="outline: none;" mat-button *ngIf="getMain.sCentroCosto.value" matSuffix mat-icon-button aria-label="Clear" (click)="getMain.sCentroCosto.patchValue('')">
                                                <mat-icon>close</mat-icon>
                                            </button>

                                            <!-- <input type="text" matInput formControlName="CentroCosto" [ngbTypeahead]="searchCC" [inputFormatter]="formatCC" [resultFormatter]="formatCC" [editable]='false'> -->
                                        </mat-form-field>
                                    </div>

                                    <!-- Fecha devengue -->
                                    <div class="col-lg-4">
                                        <mat-form-field style="width: 100%;" appYearMonthFormat>
                                            <mat-label>Fecha devengue</mat-label>
                                            <input matInput [matDatepicker]="dFecha" formControlName="dFecha">
                                            <mat-datepicker-toggle matSuffix [for]="dFecha"></mat-datepicker-toggle>
                                            <mat-datepicker #dFecha startView="multi-year" (yearSelected)="chosenYearHandler($event)" (monthSelected)="chosenMonthHandler($event, dFecha)">
                                            </mat-datepicker>
                                        </mat-form-field>
                                    </div>

                                </div>

                                <div class="form-row">

                                    <!-- Nombres o documento -->
                                    <div class="col-lg-8">
                                        <mat-form-field style="width: 100%;">
                                            <mat-label>Nombres o documento de identidad</mat-label>
                                            <input type="text" matInput formControlName="sNombres">
                                            <button style="outline: none;" mat-button *ngIf="getMain.sNombres.value" matSuffix mat-icon-button aria-label="Clear" (click)="getMain.sNombres.patchValue('')">
                        <mat-icon>close</mat-icon>
                      </button>
                                        </mat-form-field>
                                    </div>

                                    <!-- Estado -->
                                    <div class="col-lg-4">
                                        <mat-form-field style="width: 100%;">
                                            <mat-label>Estado</mat-label>
                                            <mat-select formControlName="nIdEstado">
                                                <mat-option>--</mat-option>
                                                <mat-option *ngFor="let item of cboEstado" [value]="item.nEleCod">
                                                    {{item.cEleNam}}
                                                </mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                    </div>

                                </div>

                            </form>

                        </div>

                    </div>
                </div>

                <div class="row" style="margin-top: 20px;">
                    <div class="col-sm">
                        <h6>Lista de registros históricos :</h6>
                        <hr style="margin-top: 0px; margin-bottom: 20px;">
                    </div>
                </div>

                <ngx-spinner name="spi_main" [fullScreen]="true" type="ball-clip-rotate-multiple" size="medium">
                    <p style="color: white; padding-top: 50px;">Cargando información...</p>
                </ngx-spinner>

                <div class="row">
                    <div class="col-lg-12">
                        <div id="dTableMain" class="melevation">
                            <table mat-table [dataSource]="MainDS" style="width: 100%;" multiTemplateDataRows>

                                <!-- Action Column -->
                                <ng-container matColumnDef="action">
                                    <th mat-header-cell *matHeaderCellDef> Visualizar</th>
                                    <td mat-cell *matCellDef="let element">
                                        <button matTooltip="Visualizar" matTooltipPosition="right" mat-stroked-button color="accent" (click)="showModal(2, element)">
                                            <mat-icon>visibility</mat-icon>
                                        </button>
                                    </td>
                                </ng-container>

                                <!-- Cliente Column -->
                                <ng-container matColumnDef="sCliente">
                                    <th mat-header-cell *matHeaderCellDef> Cliente</th>
                                    <td mat-cell *matCellDef="let element" class='m-card-title' data-label='Cliente :'>
                                        <ngb-highlight [result]="element.sCliente" [term]="getMain.sCliente.value"></ngb-highlight>
                                    </td>
                                </ng-container>

                                <!-- Centro de costo Column -->
                                <ng-container matColumnDef="sCentroCosto">
                                    <th mat-header-cell *matHeaderCellDef> Centro de costo</th>
                                    <td mat-cell *matCellDef="let element" class='has_label_on_mobile' data-label='Centro de costo :'>
                                        <ngb-highlight [result]="element.sCentroCosto | titlecase" [term]="getMain.sCentroCosto.value"></ngb-highlight>
                                    </td>
                                </ng-container>

                                <!-- Devengue Column -->
                                <ng-container matColumnDef="dDevengue">
                                    <th mat-header-cell *matHeaderCellDef> Devengue</th>
                                    <td mat-cell *matCellDef="let element" class='has_label_on_mobile' data-label='Fecha devengue :'> {{ MomentDate(element.dFecha) }} </td>
                                </ng-container>

                                <!-- # Personas Column -->
                                <ng-container matColumnDef="nCant">
                                    <th mat-header-cell *matHeaderCellDef> Persona(s)</th>
                                    <td mat-cell *matCellDef="let element" class='has_label_on_mobile' data-label='Cantidad de personas :'> {{element.nCant}} </td>
                                </ng-container>

                                <!-- Estado Column -->
                                <ng-container matColumnDef="sEstado">
                                    <th mat-header-cell *matHeaderCellDef> Estado</th>
                                    <td mat-cell *matCellDef="let element" class='has_label_on_mobile' data-label='Estado :'> {{element.sEstado}} </td>
                                </ng-container>

                                <!-- More Column -->
                                <ng-container matColumnDef="more">
                                    <th mat-header-cell *matHeaderCellDef></th>
                                    <td mat-cell *matCellDef="let element; let row;let i = index" (click)="clickExpanded(row, element)">
                                        <span [@fabToggler]="{value: tsMore}" class="material-icons" style="cursor: pointer;">expand_more</span>
                                    </td>
                                </ng-container>

                                <!-- More Expanded -->
                                <ng-container matColumnDef="expanded_More">
                                    <td mat-cell *matCellDef="let element" [attr.colspan]="MainDC.length">
                                        <div style="overflow: hidden;" [@detailExpand]="element == expandedMore ? 'expanded' : 'collapsed'">
                                            <div class="row" style="padding: 10px;">
                                                <div class="col-lg-12">
                                                    <!-- Lista de trabajadores -->
                                                    <div class="row" style="padding-left: 15px;">
                                                        <div class="col-sm" style="padding: 10px 0px 0px 0px;">
                                                            <h6>Lista de trabajadores:</h6>
                                                            <hr style="margin-top: 0px; margin-bottom: 10px;">
                                                        </div>
                                                    </div>

                                                    <div id="dTableExpanded" class="melevation">
                                                        <table mat-table [dataSource]="ExpandedDS" style="width: 100%;">

                                                            <!-- Position Column -->
                                                            <ng-container matColumnDef="position">
                                                                <th mat-header-cell *matHeaderCellDef> N°</th>
                                                                <td mat-cell *matCellDef="let element; let i = index;">{{i + 1}}</td>
                                                            </ng-container>

                                                            <!-- Apellido y nombres Column -->
                                                            <ng-container matColumnDef="sNombres">
                                                                <th mat-header-cell *matHeaderCellDef> Apellidos y nombres</th>
                                                                <td mat-cell *matCellDef="let element" class='m-card-title' data-label='Apellidos y nombres :'>
                                                                    <ngb-highlight [result]="element.sNombres | titlecase" [term]="getMain.sNombres.value"></ngb-highlight>
                                                                </td>
                                                            </ng-container>

                                                            <!-- Planilla Column -->
                                                            <ng-container matColumnDef="sCodPlla">
                                                                <th mat-header-cell *matHeaderCellDef> Plla</th>
                                                                <td mat-cell *matCellDef="let element" class='has_label_on_mobile' data-label='Tipo de planilla :'> {{element.sCodPlla}} </td>
                                                            </ng-container>

                                                            <!-- Tipo documento Column -->
                                                            <ng-container matColumnDef="sDscTipo">
                                                                <th mat-header-cell *matHeaderCellDef> Tipo</th>
                                                                <td mat-cell *matCellDef="let element" class='has_label_on_mobile' data-label='Tipo de documento :'> {{element.sDscTipo}} </td>
                                                            </ng-container>

                                                            <!-- N° Documento Column -->
                                                            <ng-container matColumnDef="sDocumento">
                                                                <th mat-header-cell *matHeaderCellDef> Documento</th>
                                                                <td mat-cell *matCellDef="let element" class='has_label_on_mobile' data-label='N° Documento : '>
                                                                    <ngb-highlight [result]="element.sDocumento" [term]="getMain.sNombres.value"></ngb-highlight>
                                                                </td>
                                                            </ng-container>

                                                            <!-- Ciudad Column -->
                                                            <ng-container matColumnDef="sCiudad">
                                                                <th mat-header-cell *matHeaderCellDef> Ciudad</th>
                                                                <td mat-cell *matCellDef="let element" class='has_label_on_mobile' data-label='Ciudad :'> {{element.sCiudad}} </td>
                                                            </ng-container>

                                                            <!-- Importe Column -->
                                                            <ng-container matColumnDef="nImporte">
                                                                <th mat-header-cell *matHeaderCellDef> Neto ( S/ )</th>
                                                                <td mat-cell *matCellDef="let element" class='has_label_on_mobile' data-label='Importe ( S/ ) : '>{{ (element.nImporte * 1) | number : '1.2-2'}} </td>
                                                            </ng-container>

                                                            <tr mat-header-row *matHeaderRowDef="ExpandedDC; sticky: true"></tr>
                                                            <tr mat-row *matRowDef="let element; columns: ExpandedDC;"></tr>
                                                        </table>
                                                    </div>
                                                    <mat-paginator #pagExpanded style="display: contents;" [hidePageSize]="false" [pageSize]="4"></mat-paginator>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                </ng-container>

                                <ng-container matColumnDef="noData">
                                    <mat-footer-cell *matFooterCellDef [attr.colspan]="MainDC.length">
                                        No se encuentran registros.
                                    </mat-footer-cell>
                                </ng-container>

                                <tr mat-header-row *matHeaderRowDef="MainDC; sticky: true"></tr>
                                <tr mat-row *matRowDef="let row; columns: MainDC;"></tr>
                                <tr mat-row *matRowDef="let row; columns: ['expanded_More']" [class.example-expanded-row]="expandedMore === row" style="height: 0px; border-top-style: none;"></tr>
                                <mat-footer-row *matFooterRowDef="['noData']" [hidden]="MainDS && this.MainDS.filteredData.length > 0"></mat-footer-row>
                            </table>
                        </div>
                        <mat-paginator #pagMain style="display: contents;" [hidePageSize]="false" [pageSize]="4"></mat-paginator>
                    </div>
                </div>

            </div>

            <mat-progress-bar *ngIf="pbMain" color="accent" mode="indeterminate"></mat-progress-bar>
        </div>
    </div>
</div>

<!-- Div Provis -->
<div style="z-index: 1042" class="modal fade bd-example-modal-xl" id="ModalProvis" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="ModalProvisTitle" aria-hidden="true">

    <!-- Fab -->
    <div class="fab-container">
        <button mat-mini-fab class="fab-toggler" (click)="onToggleFab(toggleProvis, -1)">
      <i class="material-icons" [@fabToggler]="{value: tsProvis}">add</i>
    </button>
        <div [@speedDialStagger]="abProvis.length">
            <button *ngFor="let btn of abProvis; let ibtn = index;" mat-mini-fab class="fab-secondary" color="secondary" (click)="clickFab(toggleProvis, ibtn)" [disabled]="btn.dis">
        <i class="material-icons" matTooltip="{{btn.tool}}" matTooltipPosition="left">{{btn.icon}}</i>
      </button>
        </div>
    </div>

    <!-- Modal -->
    <div id="ModalProvisCenter" class="modal-dialog modal-dialog-scrollable modal-dialog-centered modal-xl" role="document">
        <div class="modal-content">

            <!-- Cabecera -->
            <h5 class="card-header">
                Detalle de prestación alimentaria
                <button type="button" class="close" (click)="clickFab(toggleProvis,-1)" style="color: white !important; text-shadow: none !important; outline: none;" data-dismiss="modal" aria-label="Close">
          <span class="material-icons">close</span>
        </button>
            </h5>

            <!-- Cuerpo -->
            <div class="modal-body">
                <div class="row">

                    <div id="dLeftDetail" class="col-lg-6">
                        <mat-accordion>

                            <!-- Información provis -->
                            <mat-expansion-panel [expanded]="panelOpenState">

                                <mat-expansion-panel-header>
                                    <mat-panel-title>
                                        Información de prestación alimentaria :
                                    </mat-panel-title>
                                    <mat-panel-description style="margin-right: 0px;"></mat-panel-description>
                                    <mat-icon style="margin-right: 10px;">info</mat-icon>
                                </mat-expansion-panel-header>

                                <div class='row'>
                                    <div id="fgProvis" [formGroup]="fgProvis" class="col-lg-12">

                                        <div class="form-row">

                                            <div class="col-lg-3">
                                                <mat-form-field style="width: 100%;">
                                                    <mat-label>N°</mat-label>
                                                    <input type="text" matInput formControlName="nCentroCosto">
                                                </mat-form-field>
                                            </div>

                                            <div class="col-lg-9">
                                                <mat-form-field style="width: 100%;">
                                                    <mat-label>Centro de costo</mat-label>
                                                    <input type="text" matInput formControlName="sCentroCosto">
                                                </mat-form-field>
                                            </div>

                                        </div>

                                        <div class="form-row">

                                            <div class="col-lg-6">
                                                <mat-form-field style="width: 100%;">
                                                    <mat-label>Cliente</mat-label>
                                                    <input type="text" matInput formControlName="sCliente">
                                                </mat-form-field>
                                            </div>

                                            <div class="col-lg-6">
                                                <mat-form-field style="width: 100%;" appMesYearFormat>
                                                    <mat-label>Devengue</mat-label>
                                                    <input formControlName="T1_dFecha" matInput [matDatepicker]="T1_dFecha" style="text-transform: capitalize;">
                                                    <mat-datepicker-toggle matSuffix [for]="T1_dFecha"></mat-datepicker-toggle>
                                                    <mat-datepicker #T1_dFecha></mat-datepicker>
                                                </mat-form-field>
                                            </div>

                                        </div>

                                        <div class="form-row">
                                            <div class="col-lg-12">
                                                <mat-form-field style="width: 100%;">
                                                    <mat-label>Responsable</mat-label>
                                                    <input type="text" matInput formControlName="sResp">
                                                </mat-form-field>
                                            </div>
                                        </div>

                                        <div class="form-row">

                                            <div class="col-lg-6">
                                                <mat-form-field style="width: 100%;">
                                                    <mat-label>Planilla</mat-label>
                                                    <input type="text" matInput formControlName="sPlla">
                                                </mat-form-field>
                                            </div>

                                            <div class="col-lg-6">
                                                <mat-form-field style="width: 100%;">
                                                    <mat-label>Estado</mat-label>
                                                    <input type="text" matInput formControlName="sEstado">
                                                </mat-form-field>
                                            </div>

                                        </div>

                                    </div>
                                </div>

                            </mat-expansion-panel>

                            <!-- Información personal -->
                            <mat-expansion-panel>

                                <mat-expansion-panel-header>
                                    <mat-panel-title>
                                        Selección de personal :
                                    </mat-panel-title>
                                    <mat-panel-description style="margin-right: 0px;"></mat-panel-description>
                                    <mat-icon style="margin-right: 10px;">account_circle</mat-icon>
                                </mat-expansion-panel-header>

                                <div class="card__row row">

                                    <div id="card_inner" class="card__inner">

                                        <div class="card__face card__face--front">

                                            <div class="row" style="width: 100%;">

                                                <div class="col-xl-3 divAvatar">
                                                    <a>
                                                        <span class="imgBadge">{{getInfoPerso.sCodPlla.value}}</span>
                                                        <img class="imgAvatar" src="../../../../../assets/img/LuckyAvatar.png" (click)="clickFlipCard()" alt="">
                                                    </a>
                                                </div>

                                                <div class="col-xl-9">

                                                    <div class="row">
                                                        <div id="fgSearch" [formGroup]="fgSearch" class="col-lg-12">
                                                            <div class="form-row">
                                                                <div class="col-lg-12">
                                                                    <mat-form-field style="width: 100%;">
                                                                        <mat-label>Apellidos y nombres</mat-label>

                                                                        <input type="text" (ngModelChange)="updatedVal($event)" matInput formControlName="sNombres" [matAutocomplete]="sNombres" class="titlecase">

                                                                        <mat-autocomplete #sNombres="matAutocomplete" [displayWith]="displayWith" (optionSelected)="osPerso($event, 1)">
                                                                            <mat-option [ngClass]="{'hide-autocomplete': !saPersonal}" *ngFor="let option of foPersonal | async" [value]="option">
                                                                                {{option.sNombres | titlecase}}
                                                                            </mat-option>
                                                                        </mat-autocomplete>


                                                                        <button style="outline: none;" mat-button *ngIf="getSearch.sNombres.value" matSuffix mat-icon-button aria-label="Clear" (click)="getSearch.sNombres.patchValue('')">
                                                                            <mat-icon>close</mat-icon>
                                                                        </button>

                                                                        <!-- <input type="text" matInput formControlName="sNombres" [ngbTypeahead]="searchperso" [inputFormatter]="formatPerso" [resultFormatter]="formatPerso" [editable]='false'> -->
                                                                    </mat-form-field>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="row">
                                                        <div id="fgPerso" [formGroup]="fgPerso" class="col-lg-12">
                                                            <div class="form-row">

                                                                <div class="col-lg-12">
                                                                    <mat-form-field style="width: 100%;">
                                                                        <mat-label>Importe</mat-label>
                                                                        <span matPrefix>S/ &nbsp;</span>
                                                                        <input type="number" matInput formControlName="nImporte" [errorStateMatcher]="matcher">
                                                                        <mat-error *ngIf="getPerso.nImporte.hasError('vMonto')">. Importe inválido</mat-error>
                                                                        <mat-error *ngIf="getPerso.nImporte.hasError('max')">. Importe inválido</mat-error>
                                                                    </mat-form-field>
                                                                </div>

                                                            </div>
                                                        </div>
                                                    </div>

                                                </div>

                                            </div>

                                        </div>

                                        <div class="card__face card__face--back">
                                            <div class="row">

                                                <div class="col-xl-3 divAvatar">
                                                    <a>
                                                        <img class="imgAvatar" src="../../../../../assets/img/LuckyInfo.png" (click)="clickFlipCard()" alt="">
                                                    </a>
                                                </div>

                                                <div class="col-xl-9">

                                                    <div class="row">
                                                        <div id="fgInfoPerso" [formGroup]="fgInfoPerso" class="col-lg-12">

                                                            <div class="form-row">

                                                                <div class="col-lg-8">
                                                                    <mat-form-field style="width: 100%;">
                                                                        <mat-label>Tipo</mat-label>
                                                                        <input type="text" matInput formControlName="sTipo">
                                                                    </mat-form-field>
                                                                </div>

                                                                <div class="col-lg-4">
                                                                    <mat-form-field style="width: 100%;">
                                                                        <mat-label>N° Documento</mat-label>
                                                                        <input type="text" matInput formControlName="sDocumento">
                                                                    </mat-form-field>
                                                                </div>

                                                            </div>

                                                            <div class="form-row">

                                                                <div class="col-lg-4">
                                                                    <mat-form-field style="width: 100%;">
                                                                        <mat-label>Ciudad</mat-label>
                                                                        <input type="text" matInput formControlName="sCiudad">
                                                                    </mat-form-field>
                                                                </div>

                                                                <div class="col-lg-4">
                                                                    <mat-form-field style="width: 100%;" appDateFormat>
                                                                        <mat-label>Fecha ingreso</mat-label>
                                                                        <input formControlName="dFechIni" matInput [matDatepicker]="dFechIni">
                                                                        <mat-datepicker-toggle matSuffix [for]="dFechIni"></mat-datepicker-toggle>
                                                                        <mat-datepicker #dFechIni></mat-datepicker>
                                                                    </mat-form-field>
                                                                </div>

                                                                <div class="col-lg-4">
                                                                    <mat-form-field style="width: 100%;" appDateFormat>
                                                                        <mat-label>Fecha término</mat-label>
                                                                        <input formControlName="dFechFin" matInput [matDatepicker]="dFechFin">
                                                                        <mat-datepicker-toggle matSuffix [for]="dFechFin"></mat-datepicker-toggle>
                                                                        <mat-datepicker #dFechFin></mat-datepicker>
                                                                    </mat-form-field>
                                                                </div>

                                                            </div>

                                                        </div>
                                                    </div>

                                                </div>

                                            </div>
                                        </div>

                                    </div>

                                </div>

                                <!-- Fab Perso -->
                                <div class="fab-perso">
                                    <button mat-mini-fab class="fab-toggler-perso">
                                        <i class="material-icons" [@fabToggler]="{value: tsPerso}">control_camera</i>
                                    </button>
                                    <div [@speedDialStagger]="abPerso.length">
                                        <button *ngFor="let btn of abPerso; let ibtn = index;" mat-mini-fab class="fab-secondary-perso" color="secondary" (click)="clickFab(4, ibtn)">
                                          <i class="material-icons" matTooltip="{{btn.tool}}" matTooltipPosition="below">{{btn.icon}}</i>
                                        </button>
                                    </div>
                                </div>

                                <!-- <div class="dButtons row">
                                    <button style="float: right;" mat-button (click)="addPerso()">Añadir</button>
                                </div> -->

                            </mat-expansion-panel>

                        </mat-accordion>
                    </div>

                    <div id="dRightDetail" class="col-lg-6">

                        <div class="row">
                            <div class="col-sm">
                                <h6>Lista de personal :</h6>
                                <hr style="margin-top: 0px; margin-bottom: 10px;">
                            </div>
                        </div>

                        <div class="row">
                            <div [formGroup]="fgFilter" class="col-lg-12">
                                <div class="form-row">
                                    <!-- Nombres o documento -->
                                    <div class="col-lg-12">
                                        <mat-form-field style="width: 100%;">
                                            <mat-label>Filtrar personal por nombres o documento de identidad</mat-label>
                                            <input type="text" matInput formControlName="sNombres">
                                            <button style="outline: none;" mat-button *ngIf="getFilter.sNombres.value" matSuffix mat-icon-button aria-label="Clear" (click)="getFilter.sNombres.patchValue('')">
                        <mat-icon>close</mat-icon>
                      </button>
                                        </mat-form-field>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div id="dTableProvis" class="melevation">
                            <table #mtProvis mat-table [dataSource]="ProvisDS" style="width: 100%;">

                                <!-- Imagen Personal -->
                                <ng-container matColumnDef="sPersoImg">
                                    <th mat-header-cell *matHeaderCellDef> Perfil </th>
                                    <td mat-cell *matCellDef="let element" class='has_label_on_mobile' data-label=''>
                                        <div class="divImg">
                                            <div [@divTable]="element == editTable ? 'over' : 'out'" class="divMouse" (click)="editPerso(element)" (mouseover)="mouseOver(1, element)" (mouseout)="editTable = null">
                                                <span [@editTable]="element == editTable ? 'over' : 'out'" class="material-icons imgMouse">edit</span>
                                            </div>
                                            <img class="imgTable" src="../../../../../assets/img/LuckyAvatar.png" alt="">
                                        </div>
                                    </td>
                                </ng-container>

                                <!-- Apellidos y nombres Column -->
                                <ng-container matColumnDef="sNombres">
                                    <th mat-header-cell *matHeaderCellDef> Apellidos y nombres</th>
                                    <td mat-cell *matCellDef="let element" class='m-card-title' data-label='Apellidos y nombres :'>
                                        <ngb-highlight [result]="element.sNombres | titlecase" [term]="getMain.sNombres.value"></ngb-highlight>
                                        <br style="display:block;line-height:5px;">
                                        <label >  Neto ( S/ ) : {{ (element.nImporte * 1) | number : '1.2-2'}} </label>
                                    </td>
                                </ng-container>

                                <!-- Importe Column -->
                                <!-- <ng-container matColumnDef="nImporte">
                                    <th mat-header-cell *matHeaderCellDef> Importe ( S/ )</th>
                                    <td mat-cell *matCellDef="let element" class='has_label_on_mobile' data-label='Importe ( S/ ) : '>{{ (element.nImporte * 1) | number : '1.2-2'}} </td>
                                </ng-container> -->

                                <!-- Action Column -->
                                <ng-container matColumnDef="action">
                                    <th style="text-align: center;" mat-header-cell *matHeaderCellDef> Opción </th>
                                    <td style="text-align: center;" mat-cell *matCellDef="let element" style="text-align: right;width: 20%;">
                                        <button matTooltip="Remover" matTooltipPosition="right" mat-icon-button color="accent" [disabled]="(mProvis === 1) ? 'false' : 'true'" (click)="removePerso(element)">
                                          <mat-icon>remove_circle</mat-icon>
                                      </button>
                                    </td>
                                </ng-container>

                                <ng-container matColumnDef="noData">
                                    <mat-footer-cell *matFooterCellDef [attr.colspan]="ProvisDC.length">
                                        No se encuentran registros.
                                    </mat-footer-cell>
                                </ng-container>

                                <tr mat-header-row *matHeaderRowDef="ProvisDC; sticky: true"></tr>
                                <tr mat-row *matRowDef="let row; columns: ProvisDC;"></tr>
                                <mat-footer-row *matFooterRowDef="['noData']" [hidden]="ProvisDS && this.ProvisDS.filteredData.length > 0"></mat-footer-row>

                            </table>
                        </div>
                        <mat-paginator #pagProvis style="display: contents;" [hidePageSize]="false" [pageSize]="3"></mat-paginator>

                    </div>

                </div>
            </div>

            <mat-progress-bar *ngIf="pbProvis" color="accent" mode="indeterminate"></mat-progress-bar>
        </div>
    </div>

</div>

<!-- Div Responsable -->
<div style="z-index: 1042" class="modal fade" id="ModalResponsable" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="ModalResponsableTitle" aria-hidden="true">

    <!-- Modal -->
    <div id="ModalRespCenter" class="modal-dialog modal-dialog-scrollable modal-dialog-centered" role="document">
        <div class="modal-content">

            <!-- Cabecera -->
            <h5 class="card-header">
                Cambiar responsable
                <button type="button" class="close" (click)="clickFab(7,-1)" style="color: white !important; text-shadow: none !important; outline: none;" data-dismiss="modal" aria-label="Close">
                    <span class="material-icons">close</span>
                </button>
            </h5>

            <!-- Cuerpo  -->
            <div class="modal-body">

                <div class="row" style="margin-left: 0px;">
                    <h6>Aplicar filtro por :</h6>
                    <hr style="margin-top: 0px; margin-bottom: 10px;">
                </div>

                <div class="row">
                    <div [formGroup]="fgResp" class="col-lg-12">
                        <div class="form-row">
                            <!-- Nombres o documento -->
                            <div class="col-lg-12">
                                <mat-form-field style="width: 100%;">
                                    <mat-label>Filtrar personal por apellidos y nombres</mat-label>
                                    <input type="text" matInput formControlName="sNombres">
                                    <button style="outline: none;" mat-button *ngIf="getResp.sNombres.value" matSuffix mat-icon-button aria-label="Clear" (click)="getResp.sNombres.patchValue('')">
                                    <mat-icon>close</mat-icon>
                                    </button>
                                </mat-form-field>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm">
                        <h6>Lista de responsables :</h6>
                        <hr style="margin-top: 0px; margin-bottom: 10px;">
                    </div>
                </div>

                <div id="dTableResponsable">
                    <table #mtResponsable mat-table [dataSource]="ResponsableDS" style="width: 100%;">

                        <!-- Imagen Personal -->
                        <ng-container matColumnDef="sPersoImg">
                            <th mat-header-cell *matHeaderCellDef> Perfil </th>
                            <td mat-cell *matCellDef="let element" class='has_label_on_mobile' data-label=''>
                                <div class="divImg">
                                    <div [@divTable]="element == selectResp ? 'over' : 'out'" class="divMouse" (click)="clickResp(element)" (mouseover)="mouseOver(2, element)" (mouseout)="selectResp = null">
                                        <span [@editTable]="element == selectResp ? 'over' : 'out'" class="material-icons imgMouse">touch_app</span>
                                    </div>
                                    <img class="imgTable" src="../../../../../assets/img/LuckyAvatar.png" alt="">
                                </div>
                            </td>
                        </ng-container>

                        <!-- Apellidos y nombres Column -->
                        <ng-container matColumnDef="sNombres">
                            <th mat-header-cell *matHeaderCellDef> Apellidos y nombres </th>
                            <td mat-cell *matCellDef="let element" class='m-card-title' data-label='Apellidos y nombres :'>
                                <ngb-highlight [result]="element.sNombres | titlecase" [term]="getResp.sNombres.value"></ngb-highlight>
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="noData">
                            <mat-footer-cell *matFooterCellDef [attr.colspan]="ResponsableDC.length">
                                No se encuentran registros.
                            </mat-footer-cell>
                        </ng-container>

                        <tr mat-header-row *matHeaderRowDef="ResponsableDC; sticky: true"></tr>
                        <tr mat-row *matRowDef="let row; columns: ResponsableDC;"></tr>
                        <mat-footer-row *matFooterRowDef="['noData']" [hidden]="ResponsableDS && this.ResponsableDS.filteredData.length > 0"></mat-footer-row>

                    </table>
                </div>
                <mat-paginator #pagResp style="display: contents;" [hidePageSize]="false" [pageSize]="5"></mat-paginator>

            </div>

            <mat-progress-bar *ngIf="pbResp" color="accent" mode="indeterminate"></mat-progress-bar>
        </div>
    </div>

</div>