<ngx-spinner name="spiDialog" [fullScreen]="true" type="ball-clip-rotate-multiple" size="medium">
    <p style="color: white; padding-top: 50px;">Cargando información...</p>
</ngx-spinner>

<div class="container-fluid" [ngClass]="vPrincipal ? 'clsShow' : 'clsHide'">

    <!-- Botones Flotantes -->
    <div class="fab-container">
        <button mat-mini-fab class="fab-toggler" (click)="onToggleFab(1, -1)">
            <i class="material-icons" [@fabToggler]="{value: tsLista}">add</i>
        </button>
        <div [@speedDialStagger]="abLista.length">
            <button *ngFor="let btn of abLista; let ibtn = index;" mat-mini-fab class="fab-secondary" color="secondary"
                (click)="clickFab(ibtn)">
                <i class="material-icons" matTooltip="{{btn.tool}}" matTooltipPosition="left">{{btn.icon}}</i>
            </button>
        </div>
    </div>

    <br>

    <div class="form-row">
        <div class="form-group col-md-12">
            <!-- Inicio del Busqueda -->
            <div class="row">
                <div class="col-md-12">
                    <div class="col-md-12 offset-md-1 form-row">
                        <div class="form-group col-md-3">
                            <mat-form-field style="width: 100%;">
                                <mat-label>Año:</mat-label>
                                <mat-select (ngModelChange)="fnSeleccionarAnio($event)" [formControl]="cboAnio">
                                    <mat-option *ngFor="let element of lAnios" [value]="element">
                                        {{element}}</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>

                        <div class="col-md-4">

                            <mat-form-field style="width: 100%;">
                                <mat-label>Buscar:</mat-label>
                                <input type="text" matInput [formControl]="txtFiltro" (keyup)="fnFiltrar($event)"
                                    autocomplete="off">
                                <button style="outline: none;" mat-button *ngIf="txtFiltro.value" matSuffix
                                    mat-icon-button aria-label="Clear"
                                    (click)="this.txtFiltro.setValue('');fnListarNotas()">
                                    <mat-icon>close</mat-icon>
                                </button>
                            </mat-form-field>
                        </div>

                        <!-- <div class="col-sm-1 col-2">
                            <button mat-mini-fab class="fab-toggler" matTooltip="Nueva Nota de Traslado"
                                (click)="fnNuevaNota()">
                                <i class="material-icons">add</i>
                            </button>

                        </div> -->

                        <div class="col-md-5" style="align-self: center;">
                            <mat-radio-group style="padding-top: 3px;" [formControl]="nEstado">
                                <mat-radio-button style="margin-left: 16px;" *ngFor="let item of listaEstados"
                                    [value]="item.codigo" (change)="cambioEstado($event.value)"> {{ item.nombre }}
                                </mat-radio-button>
                            </mat-radio-group>
                        </div>

                    </div>

                </div>
            </div>

            <!-- Nueva tabla material -->
            <div class="col-md-12 ">
                <div id="listaMobile" class="mat-elevation-z8">
                    <div class="example-container ">
                        <table mat-table [dataSource]="listaNotaTableData" matSort style="width: 100%;">

                            <!-- ID Column -->
                            <ng-container matColumnDef="nIdOperMov" sticky>
                                <th mat-header-cell *matHeaderCellDef mat-sort-header class="clsColumnaOpc2"> Opción
                                </th>
                                <td mat-cell *matCellDef="let row" class="has_label_on_mobile clsColumnaOpc2"
                                    data-label='Opción: '>

                                    <button mat-icon-button [matMenuTriggerFor]="menu" matTooltip="Desplegar"
                                        matTooltipPosition="right" mat-stroked-button color="accent">
                                        <mat-icon>more_vert</mat-icon>
                                    </button>
                                    <mat-menu #menu="matMenu" xPosition="after">
                                        <button mat-menu-item (click)="fnVerDetalle(row.nIdOperMov)">
                                            <mat-icon color="accent">touch_app</mat-icon>
                                            <span>Ver Detalle</span>
                                        </button>
                                    </mat-menu>

                                </td>
                            </ng-container>

                            <ng-container matColumnDef="sNomPresupuesto">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header class="clsColumnaLib"> Presupuesto
                                </th>
                                <td mat-cell *matCellDef="let row" class="has_label_on_mobile clsColumnaLib"
                                    data-label='Presupuesto: '>
                                    <ngb-highlight [result]="row.sNomPresupuesto" [term]="txtFiltro.value">
                                    </ngb-highlight>
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="sDocumento">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header class="clsColumnaOpc"> Documento
                                </th>
                                <td mat-cell *matCellDef="let row" class="has_label_on_mobile clsColumnaOpc"
                                    data-label='Documento: '>
                                    <ngb-highlight [result]="row.sDocumento" [term]="txtFiltro.value"></ngb-highlight>
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="nCantidad">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header class="clsColumnaOpc"> Cantidad
                                </th>
                                <td mat-cell *matCellDef="let row" class="has_label_on_mobile clsColumnaOpc"
                                    data-label='Cantidad: '>
                                    <ngb-highlight [result]="row.nCantidad" [term]="txtFiltro.value"></ngb-highlight>
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="sFechaCreado">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header class="clsColumnaOpc"> Fecha
                                    Creado </th>
                                <td mat-cell *matCellDef="let row" class="has_label_on_mobile clsColumnaOpc"
                                    data-label='Fecha Creado: '>
                                    <ngb-highlight [result]="row.sFechaCreado" [term]="txtFiltro.value"></ngb-highlight>
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="sFechaAgendado">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header class="clsColumnaOpc"> Fecha
                                    Agendado </th>
                                <td mat-cell *matCellDef="let row" class="has_label_on_mobile clsColumnaOpc"
                                    data-label='Fecha Agendado: '>
                                    <ngb-highlight [result]="row.sFechaAgendado" [term]="txtFiltro.value">
                                    </ngb-highlight>
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="sEstado">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header class="clsColumnaOpc"> Estado
                                </th>
                                <td mat-cell *matCellDef="let row" class="has_label_on_mobile clsColumnaOpc"
                                    data-label='Estado: '>
                                    <ngb-highlight [result]="row.sEstado" [term]="txtFiltro.value"></ngb-highlight>
                                </td>
                            </ng-container>

                            <tr mat-header-row *matHeaderRowDef="ListaNotaColumns; sticky: true"></tr>
                            <tr mat-row *matRowDef="let row; columns: ListaNotaColumns;">
                            </tr>
                        </table>

                    </div>
                    <mat-paginator [pageSizeOptions]="[10, 20, 40]"></mat-paginator>
                </div>
            </div>
        </div>
    </div>
</div>

<app-nota-ingreso-detalle [pOpcion]="pOpcion" [nIdNota]="nIdNota" (newEvent)="eventTempF($event)" *ngIf="vSecundario">
</app-nota-ingreso-detalle>