<div class="col-md-12 classContainer">

    <!-- Listado Fidelización -->
    <div [ngClass]="divList ? 'clsShow' : 'clsHide'">

        <!-- Card Header Titulo-->
        <div class="text-center mt-0 mb-2">
            <h3 class="col-md-10 offset-md-1 card-header mb-4">
                Fidelización
            </h3>
        </div>

        <!-- Filtros de Busqueda -->
        <mat-card class="mb-4">
            <div class="form-row d-flex justify-content-center">
                <div class="col-md-4">
                    <mat-form-field class="w-100">
                        <mat-label>Filtro</mat-label>
                        <input matInput (keyup)="applyFilter($event.target.value)" [formControl]="txtControl">
                    </mat-form-field>
                </div>
            </div>

            <div class="col-md-12 text-right align-self-center">
                <button mat-raised-button class="mr-2" color="accent" (click)="openDialogHistorico()">Historico</button>
                <button mat-raised-button class="mr-2" (click)="openDialogIndicadores()">Indicadores</button>
            </div>

        </mat-card>

        <!-- Lista Fidelización -->
        <div id="listaMobile" class="mb-4 mat-elevation-z8">
            <div class="example-container">
                <table mat-table [dataSource]="dataSource" matSort>

                    <!-- Opcion -->
                    <ng-container matColumnDef="pCodPostulacion" sticky>
                        <th mat-header-cell *matHeaderCellDef mat-sort-header class="clsColumnaOpcion"> Opcion</th>
                        <td mat-cell *matCellDef="let row" class="clsColumnaOpcion">
                            <button mat-stroked-button color="accent" (click)="fnDatos(row.pCodPostulacion)">
                                <mat-icon> create</mat-icon>
                            </button>
                        </td>
                    </ng-container>

                    <!-- Tipo Documento -->
                    <ng-container matColumnDef="pTipDoc">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header class="clsColumnaOpcion"> Tipo Documento
                        </th>
                        <td mat-cell *matCellDef="let row"> {{row.pTipDoc}} </td>
                    </ng-container>

                    <!-- Numero Documento -->
                    <ng-container matColumnDef="pNumDoc">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header class="clsColumnaNumDoc"> Numero de
                            Documento </th>
                        <td mat-cell *matCellDef="let row"> {{row.pNumDoc}} </td>
                    </ng-container>

                    <!-- Nombres Apellidos -->
                    <ng-container matColumnDef="pNom">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header class="clsColumnaNombre"> Apellidos y
                            Nombres </th>
                        <td mat-cell *matCellDef="let row"> {{row.pNom}} </td>
                    </ng-container>

                    <!-- Correo -->
                    <ng-container matColumnDef="pCorreo">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header class="clsColumnaNombre"> Correo </th>
                        <td mat-cell *matCellDef="let row"> {{row.pCorreo}} </td>
                    </ng-container>

                    <!-- Puesto Postulado -->
                    <ng-container matColumnDef="pPuesto">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header class="clsPuestoPost"> Puesto Postulado
                        </th>
                        <td mat-cell *matCellDef="let row"> {{row.pPuesto}} </td>
                    </ng-container>

                    <!-- Puesto Considerado -->
                    <ng-container matColumnDef="pPuestoCon">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header class="clsPuestoEval"> Puesto Considerado
                            por
                            Evaluador</th>
                        <td mat-cell *matCellDef="let row"> {{row.pPuestoCon}} </td>
                    </ng-container>

                    <!-- Fecha Cita -->
                    <ng-container matColumnDef="pFechaCita">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header class="clsColumnaOpcion"> Fecha de Cita
                        </th>
                        <td mat-cell *matCellDef="let row"> {{row.pFechaCita}} </td>
                    </ng-container>

                    <!-- Evaluador -->
                    <ng-container matColumnDef="pEvaluador">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header class="clsColumnaOpcion"> Evaluador </th>
                        <td mat-cell *matCellDef="let row"> {{row.pEvaluador}} </td>
                    </ng-container>

                    <!-- Estado Fidelizacion -->
                    <ng-container matColumnDef="pEstadoFidelizador">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header class="clsColumnaOpcion"> Estado
                            Fidelización </th>
                        <td mat-cell *matCellDef="let row"> {{row.pEstadoFidelizador}} </td>
                    </ng-container>

                    <!-- Firmo Contrato -->
                    <ng-container matColumnDef="pFirmo">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header class="clsColumnaOpcion"> Firmó Contrato
                        </th>
                        <td mat-cell *matCellDef="let row"> {{row.pFirmo}} </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;">
                    </tr>

                </table>
            </div>
            <mat-paginator [pageSizeOptions]="[10, 20, 30]" showFirstLastButtons></mat-paginator>
        </div>

    </div>

    <!-- Crear/Editar -->
    <div [ngClass]="divCreate ? 'clsShow' : 'clsHide'">

        <!-- Card Header Titulo-->
        <div class="text-center mt-0 mb-2">
            <h3 class="col-md-10 offset-md-1 card-header mb-4">
                Ficha de Postulante
            </h3>
        </div>

        <mat-horizontal-stepper #stepper>

            <mat-step [stepControl]="DatosFormGroup">
                <form [formGroup]="DatosFormGroup">
                    <ng-template matStepLabel>Datos Personales</ng-template>

                    <div class="row">
                        <div class="col-sm-3">
                            <mat-form-field>
                                <mat-label>Tipo de Documento</mat-label>
                                <mat-select formControlName="TipoDoc">
                                    <mat-option *ngFor="let vMatOpcion of lCboTipoDocumento"
                                        [value]="vMatOpcion.codigo">
                                        {{vMatOpcion.valor}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <div class="col-sm-3">
                            <mat-form-field class="example-form-field">
                                <mat-label>N° de Documento</mat-label>
                                <input matInput type="text" name="valueNDoc" formControlName="NumDoc">
                            </mat-form-field>
                        </div>
                        <div class="col-sm-3">
                            <mat-form-field class="example-form-field">
                                <mat-label>Primer Nombre</mat-label>
                                <input matInput type="text" name="valuePriN" formControlName="PrimerMombre">
                            </mat-form-field>
                        </div>
                        <div class="col-sm-3">
                            <mat-form-field class="example-form-field">
                                <mat-label>Segundo Nombre</mat-label>
                                <input matInput type="text" name="valueSegN" formControlName="SegundoMombre">
                            </mat-form-field>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-3">
                            <mat-form-field class="example-form-field">
                                <mat-label>Apellido Paterno</mat-label>
                                <input matInput type="text" name="valueAPat" formControlName="PrimerApellido">
                            </mat-form-field>
                        </div>
                        <div class="col-sm-3">
                            <mat-form-field class="example-form-field">
                                <mat-label>Apellido Materno</mat-label>
                                <input matInput type="text" name="valueAMat" formControlName="SegundoApellido">
                            </mat-form-field>
                        </div>
                        <div class="col-sm-3">
                            <mat-form-field class="example-form-field">
                                <mat-label>Celular</mat-label>
                                <input matInput type="text" name="valueCel" formControlName="Celular">
                            </mat-form-field>
                        </div>
                        <div class="col-sm-3">
                            <mat-form-field class="example-form-field">
                                <mat-label>Celular Opcional</mat-label>
                                <input matInput type="text" name="valuePues" formControlName="CelularOpc">
                            </mat-form-field>
                        </div>
                        <div style="padding-bottom: 10px; width:100%;">
                            <div class="clsSeparador col-md-12"></div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-6">
                            <mat-form-field>
                                <mat-label>Correo</mat-label>
                                <input matInput type="text" name="valueNDoc" formControlName="Correo">
                            </mat-form-field>
                        </div>
                        <div class="col-sm-6">
                            <mat-form-field>
                                <mat-label>Puesto</mat-label>
                                <input matInput type="text" name="valueNDoc" formControlName="Puesto">
                            </mat-form-field>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-6">
                            <mat-form-field>
                                <mat-label>Dirección</mat-label>
                                <input matInput type="text" name="valueNDoc" formControlName="Direccion">
                            </mat-form-field>
                        </div>
                        <div class="col-sm-6">
                            <mat-form-field>
                                <mat-label>Distrito</mat-label>
                                <input matInput type="text" name="valueNDoc" formControlName="Distrito">
                            </mat-form-field>
                        </div>
                    </div>
                </form>
            </mat-step>

            <mat-step [stepControl]="ContactoFormGroup">
                <ng-template matStepLabel>Contactación</ng-template>

                <form [formGroup]="ContactoFormGroup">
                    <div class="row">
                        <div class="col-sm-4">
                            <mat-form-field>
                                <mat-label>Medio de Contacto</mat-label>
                                <mat-select formControlName="MedioContactacion">
                                    <mat-option *ngFor="let vMatOpcion of lCboMedioCont" [value]="vMatOpcion.codigo">
                                        {{vMatOpcion.valor}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <div class="col-sm-4">
                            <mat-form-field>
                                <mat-label>Contactado</mat-label>
                                <mat-select formControlName="Contactado">
                                    <mat-option *ngFor="let vMatOpcion of estado" [value]="vMatOpcion.id">
                                        {{vMatOpcion.valor}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <div class="col-sm-4">
                            <mat-form-field>
                                <mat-label>Fuente</mat-label>
                                <mat-select formControlName="Fuente">
                                    <mat-option *ngFor="let vMatOpcion of lCboTipoFuente" [value]="vMatOpcion.codigo">
                                        {{vMatOpcion.valor}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <div class="col-sm-4">
                            <mat-form-field>
                                <mat-label>Referido</mat-label>
                                <input matInput type="text" formControlName="Referido">
                            </mat-form-field>
                        </div>
                        <div class="col-sm-4">
                            <mat-form-field>
                                <mat-label>Motivo de NO Contactación</mat-label>
                                <mat-select formControlName="NoContactacion">
                                    <mat-option *ngFor="let vMatOpcion of lCboMotNoCont" [value]="vMatOpcion.codigo">
                                        {{vMatOpcion.valor}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                    </div>
                </form>

                <form [formGroup]="CitaFormGroup">
                    <div class="row">
                        <div class="col-sm-4">
                            <mat-form-field>
                                <mat-label>Citado</mat-label>
                                <mat-select formControlName="Citado">
                                    <mat-option *ngFor="let vMatOpcion of estado" [value]="vMatOpcion.id">
                                        {{vMatOpcion.valor}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <div class="col-sm-4">
                            <mat-form-field>
                                <mat-label>Fecha de Cita</mat-label>
                                <input matInput [matDatepicker]="fr"
                                    (dateInput)="first($event.value.format('YYYY-MM-D'))" formControlName="Fecha">
                                <mat-datepicker-toggle matSuffix [for]="fr"></mat-datepicker-toggle>
                                <mat-datepicker #fr></mat-datepicker>
                            </mat-form-field>
                        </div>
                        <div class="col-sm-4">
                            <mat-form-field>
                                <mat-label>Hora de Cita</mat-label>
                                <mat-select formControlName="Hora">
                                    <mat-option *ngFor="let vMatOpcion of lCboHorario" [value]="vMatOpcion.pIdTurno">
                                        {{vMatOpcion.pHora}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <div class="col-sm-4">
                            <mat-form-field>
                                <mat-label>Turno</mat-label>
                                <input matInput type="text" formControlName="Turno">
                            </mat-form-field>
                        </div>
                        <div class="col-sm-4">
                            <mat-form-field>
                                <mat-label>Motivo de NO Citación</mat-label>
                                <mat-select formControlName="Nocitado">
                                    <mat-option *ngFor="let vMatOpcion of lCboMotNoCita" [value]="vMatOpcion.codigo">
                                        {{vMatOpcion.valor}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <div class="col-sm-4">
                            <mat-form-field>
                                <mat-label>Último Estado de Contactación</mat-label>
                                <input matInput type="text" formControlName="UltEstCont">
                            </mat-form-field>
                        </div>
                    </div>
                </form>

            </mat-step>

            <mat-step [stepControl]="formEvaluacion">
                <ng-template matStepLabel>Evaluación</ng-template>

                <form [formGroup]="formEvaluacion">
                    <div class="form-row">
                        <div class="col-md-3">
                            <div class="clsScrollTable">
                                <table class="table table-fixed table-bordered">
                                    <thead>
                                        <tr>
                                            <th>Presentación</th>
                                            <th>Puntuación</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td style="height: 55.5px">Contextura (C)</td>
                                            <td>
                                                <select class="form-control" #haba
                                                    (change)="fnChangeEva(haba.value,habb.value,habc.value,0,0)"
                                                    formControlName="cboContextura">
                                                    <option *ngFor="let vListaC of lListaCombo" value="{{vListaC.id}}">
                                                        {{vListaC.valor}}
                                                    </option>
                                                </select>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td style="height: 55.5px">Sonrisa (S)</td>
                                            <td>
                                                <select class="form-control" #habb
                                                    (change)="fnChangeEva(haba.value,habb.value,habc.value,0,0)"
                                                    formControlName="cboSonrisa">
                                                    <option *ngFor="let vListaC of lListaCombo" value="{{vListaC.id}}">
                                                        {{vListaC.valor}}
                                                    </option>
                                                </select>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Imagen y Cuidado Personal (I)</td>
                                            <td>
                                                <select class="form-control" #habc
                                                    (change)="fnChangeEva(haba.value,habb.value,habc.value,0,0)"
                                                    formControlName="cboImagen">
                                                    <option *ngFor="let vListaC of lListaCombo" value="{{vListaC.id}}">
                                                        {{vListaC.valor}}
                                                    </option>
                                                </select>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>PUNTUACIÓN</td>
                                            <td>
                                                {{this.puntPre}}
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="clsScrollTable">
                                <table class="table table-fixed table-bordered">
                                    <thead>
                                        <tr>
                                            <th style="width:140px">Habilidades</th>
                                            <th style="width:125px">Puntuación</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>Comunicación Efectiva</td>
                                            <td>
                                                <select class="form-control" #prea
                                                    (change)="fnChangeEva(prea.value,preb.value,prec.value,pred.value,1)"
                                                    formControlName="cboComunicacion">
                                                    <option *ngFor="let vListaC of lListaComboH" value="{{vListaC.id}}">
                                                        {{vListaC.valor}}
                                                    </option>
                                                </select>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Orientación al cliente</td>
                                            <td>
                                                <select class="form-control" #preb
                                                    (change)="fnChangeEva(prea.value,preb.value,prec.value,pred.value,1)"
                                                    formControlName="cboOrientacion">
                                                    <option *ngFor="let vListaC of lListaComboH" value="{{vListaC.id}}">
                                                        {{vListaC.valor}}
                                                    </option>
                                                </select>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Negociación Efectiva</td>
                                            <td>
                                                <select class="form-control" #prec
                                                    (change)="fnChangeEva(prea.value,preb.value,prec.value,pred.value,1)"
                                                    formControlName="cboNegociacion">
                                                    <option *ngFor="let vListaC of lListaComboH" value="{{vListaC.id}}">
                                                        {{vListaC.valor}}
                                                    </option>
                                                </select>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Flexibilidad y Adaptabilidad</td>
                                            <td>
                                                <select class="form-control" #pred
                                                    (change)="fnChangeEva(prea.value,preb.value,prec.value,pred.value,1)"
                                                    formControlName="cboFlexibilidad">
                                                    <option *ngFor="let vListaC of lListaComboH" value="{{vListaC.id}}">
                                                        {{vListaC.valor}}
                                                    </option>
                                                </select>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>PUNTUACIÓN</td>
                                            <td>
                                                {{this.puntHabi}}
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="col-md-5">
                            <div class="form-row">
                                <div class="col-md-6">
                                    <div class="clsScrollTable">
                                        <table class="table table-fixed table-bordered">
                                            <thead>
                                                <tr>
                                                    <th>Resultado / Presentación</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>{{this.vpuntPre}}</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="clsScrollTable">
                                        <table class="table table-fixed table-bordered">
                                            <thead>
                                                <tr>
                                                    <th>Resultado / Habilidades</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>{{this.vpuntHabi}}</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div style="margin-top:15px !important;" class="clsScrollTable">
                                        <table class="table table-fixed table-bordered">
                                            <thead>
                                                <tr>
                                                    <th>Resultado / Experiencia</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>
                                                        <select class="form-control select1"
                                                            formControlName="cboExperiencia">
                                                            <option *ngFor="let vListaC of lListaResul"
                                                                value="{{vListaC.id}}">{{vListaC.valor}}
                                                            </option>
                                                        </select>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div style="margin-top:15px !important;" class="clsScrollTable">
                                        <table class="table table-fixed table-bordered">
                                            <thead>
                                                <tr>
                                                    <th>Último Estado de Evaluación</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>
                                                        <select class="form-control select1"
                                                            formControlName="cboEstEva">
                                                            <option value="">Seleccione</option>
                                                            <option value="0">Pre Calificado</option>
                                                            <option value="1">No Calificado</option>
                                                        </select>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <div class="form-group col-md-6 text-center align-self-center">
                                    <span>Fidelizador al que se deriva:</span>
                                </div>
                                <div class="form-group col-md-6">
                                    <select class="form-control select2 w-100" formControlName="cboFil">
                                        <option value="">Seleccione</option>
                                        <option *ngFor="let vListaF of lListaFidelizador" [ngValue]="vListaF.codigo">
                                            {{vListaF.valor}}
                                        </option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>

                <form [formGroup]="CambioCitaFormGroup">
                    <div class="row">
                        <div class="col-sm-4">
                            <mat-form-field>
                                <mat-label>Puesto considerado por evaluador:</mat-label>
                                <mat-select formControlName="PuestoConsi">
                                    <mat-option *ngFor="let vMatOpcion of lCboPuesto" [value]="vMatOpcion.codigo">
                                        {{vMatOpcion.valor}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <div class="col-sm-8">
                            <mat-form-field appearance="Motivo">
                                <mat-label>Motivo</mat-label>
                                <textarea matInput formControlName="Motivo"></textarea>
                            </mat-form-field>
                        </div>
                    </div>
                </form>

            </mat-step>

            <mat-step [stepControl]="FidelizacionFormGroup">
                <ng-template matStepLabel>Fidelización</ng-template>

                <form [formGroup]="FidelizacionFormGroup">
                    <div class="row">
                        <div class="col-sm-4">
                            <mat-form-field>
                                <mat-label>Puesto considerado por Fidelizador:</mat-label>
                                <mat-select formControlName="PuestoFi">
                                    <mat-option *ngFor="let vMatOpcion of lCboPuesto" [value]="vMatOpcion.codigo">
                                        {{vMatOpcion.valor}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <div class="col-sm-4">
                            <mat-form-field>
                                <mat-label>Proceso</mat-label>
                                <mat-select formControlName="nProceso">
                                    <mat-option *ngFor="let vMatOpcion of proceso" [value]="vMatOpcion.id">
                                        {{vMatOpcion.valor}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <div class="col-sm-4">
                            <mat-form-field>
                                <mat-label>Enviado a firmar contrato</mat-label>
                                <input matInput type="text" formControlName="Envio">
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4">
                            <mat-form-field>
                                <mat-label>Entrevistado</mat-label>
                                <mat-select formControlName="nEntrevistado">
                                    <mat-option *ngFor="let vMatOpcion of estado" [value]="vMatOpcion.id">
                                        {{vMatOpcion.valor}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <div class="col-sm-4">
                            <mat-form-field>
                                <mat-label>Seleccionado</mat-label>
                                <mat-select formControlName="nSeleccion">
                                    <mat-option *ngFor="let vMatOpcion of estado" [value]="vMatOpcion.id">
                                        {{vMatOpcion.valor}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <div class="col-sm-4">
                            <mat-form-field>
                                <mat-label>Validado</mat-label>
                                <mat-select formControlName="nValidado">
                                    <mat-option *ngFor="let vMatOpcion of estado" [value]="vMatOpcion.id">
                                        {{vMatOpcion.valor}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="row">

                        <div class="col-sm-4">
                            <mat-form-field>
                                <mat-label>Último Estado / Fidelización</mat-label>
                                <mat-select formControlName="nEstadoFid">
                                    <mat-option *ngFor="let vMatOpcion of lListaResul" [value]="vMatOpcion.id">
                                        {{vMatOpcion.valor}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <div class="col-sm-4">
                            <mat-form-field>
                                <mat-label>¿Firmó contrato?</mat-label>
                                <mat-select formControlName="nFirmo">
                                    <mat-option *ngFor="let vMatOpcion of estado" [value]="vMatOpcion.id">
                                        {{vMatOpcion.valor}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <div class="col-sm-4">

                            <ng-select appendTo="body" formControlName="RQ" placeholder="N° Requerimiento"
                                [clearable]="false"
                                [ngClass]="FidelizacionFormGroup.controls.RQ.value=='' ? '' : 'selectContent' "
                                (change)="fnChangeRQPersonal($event)">
                                <ng-option *ngFor="let item of lListaReqPers" [value]="item.sCodRQ">
                                    {{item.sCodRQ}}
                                </ng-option>
                            </ng-select>

                        </div>
                    </div>
                </form>

            </mat-step>

        </mat-horizontal-stepper>

        <!-- Opciones Botones -->
        <div class="row">
            <div class="col-md-2 mb-4">
                <button mat-raised-button class="w-100" color="warn" (click)="fnChange(0)">Cancelar</button>
            </div>
            <div class="col-md-2 mb-4">
                <button mat-raised-button class="w-100" (click)="openDialogEnviar()">Enviar a firmar</button>
            </div>
            <div class="col-md-2 mb-4">
                <button mat-raised-button class="w-100" (click)="openDialogDocumento()">Validación de
                    Documentos</button>
            </div>
            <div class="col-md-2 mb-4">
                <button mat-raised-button class="w-100" (click)="fnVerEstado()">Histórico de estados</button>
            </div>
            <div class="col-md-2 mb-4">
                <button mat-raised-button class="w-100" (click)="openDialogFicha()">Ver Ficha</button>
            </div>
            <div class="col-md-2 mb-4">
                <button mat-raised-button class="w-100" (click)="fnAction(stepper);">Guardar</button>
            </div>
        </div>
        
    </div>

</div>