<div class="clsprincipal" [ngClass]="vPrincipal ? 'clsShow' : 'clsHide'">
    <!-- Botones Flotantes pantalla -->
    <div class="fab-container">
        <button mat-mini-fab class="fab-toggler" (click)="onToggleFab(1, -1)">
            <i class="material-icons" [@fabToggler]="{value: tsLista}">add</i>
        </button>
        <div [@speedDialStagger]="abLista.length">
            <button *ngFor="let btn of abLista; let ibtn = index;" mat-mini-fab class="fab-secondary" color="secondary"
                matTooltipPosition="left" (click)="clickFab(0)">
                <i class="material-icons" matTooltip="{{btn.tool}}">{{btn.icon}}</i>
            </button>
        </div>
    </div>
    
    <h3 class="col-md-10 offset-md-1 card-header" style="text-align: center;">Registro de Proveedor</h3>
    <br />
    <div class="form-row">
        <div class="form-group col-md-12">
            <div class="row">
                <div class="col-md-8 offset-md-4">
                    <div class="form-row">
                        <div class="col-sm-6 col-10">
                            <mat-form-field style="width: 100%">
                                <mat-label>Buscar Proveedor: </mat-label>
                                <input matInput [formControl]="txtFiltro" (keyup)="applyFilter($event)"
                                    [(ngModel)]="searchKey" #input />
                                <button style="outline: none" mat-button matSuffix mat-icon-button aria-label="Clear"
                                    (click)="limpiar()">
                                    <mat-icon>close</mat-icon>
                                </button>
                            </mat-form-field>
                        </div>
                        <!-- <div class="col-sm-2 col-2">
                            <button mat-mini-fab class="fab-toggler" matTooltip="Nuevo " (click)="nuevo()"
                                matTooltip="Nuevo proveedor">
                                <i class="material-icons">add</i>
                            </button>
                        </div> -->
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-10 offset-md-1">
            <div id="listaMobile" class="mat-elevation-z8">
                <div class="example-container">
                    <table mat-table [dataSource]="dataSource" matSort style="width: 100%">
                        <ng-container matColumnDef="opciones" sticky>
                            <th mat-header-cell *matHeaderCellDef mat-sort-header class="clsColumnaOpc2">
                                Opción
                            </th>
                            <td mat-cell *matCellDef="let row" class="has_label_on_mobile clsColumnaOpc2"
                                data-label='Opción: '>

                                <button mat-icon-button [matMenuTriggerFor]="menu" matTooltip="Desplegar"
                                    matTooltipPosition="right" mat-stroked-button color="accent">
                                    <mat-icon>more_vert</mat-icon>
                                </button>
                                <mat-menu #menu="matMenu" xPosition="after">
                                    <button mat-menu-item (click)="Editar(row.pIdPost)">
                                        <mat-icon color="accent">edit</mat-icon>
                                        <span>Editar proveedor</span>

                                    </button>
                                    <button mat-menu-item (click)="agregarDirecion(row.pIdPost, row.sNombreComercial)">
                                        <mat-icon color="accent">add_location</mat-icon>
                                        <span>Agregar dirección</span>
                                    </button>
                                </mat-menu>
                            </td>
                        </ng-container>

                        <!-- Color Column -->
                        <ng-container matColumnDef="sRuc">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header class="clsColumnaLib">
                                RUC/DNI
                            </th>
                            <td mat-cell *matCellDef="let row" class="has_label_on_mobile" data-label='RUC/DNI: '>
                                <ngb-highlight [result]="row.sRuc" [term]="txtFiltro.value"></ngb-highlight>
                            </td>
                        </ng-container>
                        <!-- Color Column -->
                        <ng-container matColumnDef="sRazonSocial">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header class="clsColumnaLib">
                                Razón Social
                            </th>
                            <td mat-cell *matCellDef="let row" class="has_label_on_mobile" data-label='Razón Social: '>
                                <ngb-highlight [result]="row.sRazonSocial" [term]="txtFiltro.value"></ngb-highlight>
                            </td>
                        </ng-container>
                        <!-- Color Column -->
                        <ng-container matColumnDef="sNombreComercial">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header class="clsColumnaLib">
                                Nombre Comercial
                            </th>
                            <td mat-cell *matCellDef="let row" class="has_label_on_mobile"
                                data-label='Nombre Comercial: '>
                                <ngb-highlight [result]="row.sNombreComercial" [term]="txtFiltro.value"></ngb-highlight>
                            </td>
                        </ng-container>
                        <!-- Color Column -->

                        <!-- Color Column -->
                        <ng-container matColumnDef="sGiroNegocio">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header class="clsColumnaLib">
                                Giro de Negocio
                            </th>
                            <td mat-cell *matCellDef="let row" class="has_label_on_mobile"
                                data-label='Giro de Negocio: '>
                                <ngb-highlight [result]="row.sGiroNegocio | slice:0:30" [term]="txtFiltro.value">
                                </ngb-highlight>
                                <ngb-highlight [result]="row.sDocumento" [term]="txtFiltro.value"></ngb-highlight>
                            </td>
                        </ng-container>

                        <!-- Color Column -->
                        <ng-container matColumnDef="sEstado">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header class="clsColumnaLib">
                                Estado
                            </th>
                            <td mat-cell *matCellDef="let row" class="has_label_on_mobile" data-label='Estado: '>
                                <ngb-highlight [result]="row.sEstado" [term]="txtFiltro.value"></ngb-highlight>
                            </td>
                        </ng-container>

                        <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns">
                            <!-- Row shown when there is no matching data. -->
                        </tr>

                        <tr class="mat-row" *matNoDataRow>
                            <td class="mat-cell" colspan="4">
                                No data matching the filter "{{ input.value }}"
                            </td>
                        </tr>
                    </table>
                </div>
                <mat-paginator [pageSizeOptions]="[50, 100, 200]"></mat-paginator>
            </div>
        </div>
    </div>
</div>