<div class="col-md-10 offset-md-1 clsprincipal">

    <!-- Card Header Titulo-->
    <div class="text-center mt-0 mb-2">
        <h3 class="col-md-10 offset-md-1 card-header mb-4">
            Objetivos de Facturación
        </h3>
    </div>

    <!-- Botones Flotantes -->
    <div class="fab-container">
        <button mat-mini-fab class="fab-toggler" (click)="onToggleFab(1, -1)">
            <i class="material-icons" [@fabToggler]="{value: tsLista}">add</i>
        </button>
        <div [@speedDialStagger]="abLista.length">
            <button *ngFor="let btn of abLista; let ibtn = index;" mat-mini-fab class="fab-secondary" color="secondary"
                (click)="clickFab(ibtn)">
                <i class="material-icons" matTooltip="{{btn.tool}}" matTooltipPosition="left">{{btn.icon}}</i>
            </button>
        </div>
    </div>

    <!-- Filtros de Busqueda -->
    <mat-card class="mb-4">
        <div class="form-row d-flex justify-content-center">
            <div class="col-lg-4">
                <mat-form-field class="w-100">
                    <mat-label>Buscar:</mat-label>
                    <input matInput [formControl]="tFiltro" (keyup)="applyFilter($event)" [(ngModel)]="searchKey"
                        #input />
                    <button mat-button style="outline: none" matSuffix mat-icon-button aria-label="Clear"
                        (click)="limpiarFiltro()">
                        <mat-icon>close</mat-icon>
                    </button>
                </mat-form-field>
            </div>
        </div>
    </mat-card>

    <!-- Lista Objetivos Facturacion -->
    <div id="listaMobile" class="mat-elevation-z8">
        <div class="example-container">

            <table mat-table [dataSource]="dataSource" matSort>

                <!-- Columna Opciones -->
                <ng-container matColumnDef="opciones" sticky>
                    <th mat-header-cell *matHeaderCellDef>Opcion</th>
                    <td mat-cell *matCellDef="let row" class="has_label_on_mobile">
                        <button matTooltip="Ver" matTooltipPosition="right" (click)="verObjetivoFacturacion(row.anio)"
                            mat-stroked-button color="accent">
                            <mat-icon>remove_red_eye</mat-icon>
                        </button>
                    </td>
                </ng-container>

                <!-- Columna Empresa -->
                <ng-container matColumnDef="empresa">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Empresa</th>
                    <td mat-cell *matCellDef="let row" class="has_label_on_mobile" data-label='Empresa: '>
                        {{row.razonSocial}}
                    </td>
                </ng-container>

                <!-- Columna Año -->
                <ng-container matColumnDef="anio">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Año</th>
                    <td mat-cell *matCellDef="let row" class="has_label_on_mobile" data-label='Año: '>
                        {{row.anio}}
                    </td>
                </ng-container>

                <!-- Columna Total Objetivo -->
                <ng-container matColumnDef="objetivo">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Total Objetivo
                    </th>
                    <td mat-cell *matCellDef="let row" class="has_label_on_mobile" data-label='Total Objetivo: '>
                        {{row.objetivoTotal | number:'1.2-2'}}
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky:true"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

            </table>
        </div>
        <mat-paginator [pageSizeOptions]="[10, 20, 30]" showFirstLastButtons></mat-paginator>
    </div>

    <br>
</div>