<div class="clsprincipal">
    <div class="col-md-8 offset-md-2">
        <!-- <h5 class="card-header center-text-card">Matriz: Partida de Cargo</h5> -->
        <div class="row"><br /></div>
        <mat-tab-group  mat-align-tabs="center">
            <mat-tab label="Planilla - Partida">
                <app-planilla-partida></app-planilla-partida>  
            </mat-tab>
            <mat-tab label="Cargo - Partida">
                <app-cargo-partida></app-cargo-partida>
            </mat-tab>
        </mat-tab-group>
    </div>
</div>