<div class="fab-container">
    <button mat-mini-fab class="fab-toggler" (click)="onToggleFab(1, -1)">
        <i class="material-icons" [@fabToggler]="{value: tsDetail}">add</i>
    </button>
    <div [@speedDialStagger]="abDetail.length">
        <button *ngFor="let btn of abDetail; let ibtn = index;" mat-mini-fab class="fab-secondary" color="secondary" [disabled]="btn.dis" (click)="clickFab(ibtn)">
            <i class="material-icons" matTooltip="{{btn.tool}}" matTooltipPosition="left">{{btn.icon}}</i>
        </button>
    </div>
</div>

<ngx-spinner name="spi_contactr" [fullScreen]="false" type="ball-clip-rotate-multiple" size="medium">
    <p style="color: rgb(204, 203, 203); padding-top: 50px;">Cargando información...</p>
</ngx-spinner>

<div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Contactar al responsable</h4>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss()">
      <span class="material-icons">close</span>
    </button>
</div>

<div class="modal-body">
    <div class="row">

        <div id="dLeftDetail" class="col-lg-4">
            <mat-accordion #maDetail="matAccordion">
                <!-- Información personal -->
                <mat-expansion-panel [expanded]="true" [disabled]="true">

                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            Información del responsable :
                        </mat-panel-title>
                        <mat-icon style="margin-right: 10px;">supervisor_account</mat-icon>
                    </mat-expansion-panel-header>

                    <div class="row">

                        <div class="col-xl-12 divAvatar">
                            <a>
                                <span class="imgBadge">{{getDetail.sCodPlla.value}}</span>
                                <img class="imgAvatar" src="../../../../../assets/img/LuckyAvatar.png" alt="">
                            </a>
                        </div>

                        <div id="fgDetail" [formGroup]="fgDetail" class="col-xl-12">

                            <div class="form-row">
                                <div class="col-lg-12">
                                    <mat-form-field style="width: 100%;">
                                        <mat-label>Apellidos y nombres</mat-label>
                                        <input type="text" matInput formControlName="sNombres">
                                    </mat-form-field>
                                </div>
                            </div>

                            <div class="form-row">

                                <div class="col-lg-8">
                                    <mat-form-field style="width: 100%;">
                                        <mat-label>Tipo</mat-label>
                                        <input type="text" matInput formControlName="sTipo">
                                    </mat-form-field>
                                </div>

                                <div class="col-lg-4">
                                    <mat-form-field style="width: 100%;">
                                        <mat-label>N° Documento</mat-label>
                                        <input type="text" matInput formControlName="sDocumento">
                                    </mat-form-field>
                                </div>

                            </div>

                            <div class="form-row">
                                <div class="col-lg-12">
                                    <mat-form-field style="width: 100%;">
                                        <mat-label>Cliente / Dirección</mat-label>
                                        <input type="text" matInput formControlName="sOrganizacion">
                                    </mat-form-field>
                                </div>
                            </div>

                            <div class="form-row">
                                <div class="col-lg-12">
                                    <mat-form-field style="width: 100%;">
                                        <mat-label>Campaña / Área</mat-label>
                                        <input type="text" matInput formControlName="sCentroCosto">
                                    </mat-form-field>
                                </div>
                            </div>

                            <div class="form-row">

                                <div class="col-lg-6">
                                    <mat-form-field style="width: 100%;">
                                        <mat-label>Ciudad</mat-label>
                                        <input type="text" matInput formControlName="sCiudad">
                                    </mat-form-field>
                                </div>

                                <div class="col-lg-6">
                                    <mat-form-field style="width: 100%;">
                                        <mat-label># Celular</mat-label>
                                        <input type="text" matInput formControlName="nTelMovil">
                                    </mat-form-field>
                                </div>

                            </div>

                            <div class="form-row">

                                <div class="col-lg-6">
                                    <mat-form-field style="width: 100%;" appDateFormat>
                                        <mat-label>Fecha ingreso</mat-label>
                                        <input formControlName="dFechIni" matInput [matDatepicker]="dFechIni">
                                        <mat-datepicker-toggle matSuffix [for]="dFechIni"></mat-datepicker-toggle>
                                        <mat-datepicker #dFechIni></mat-datepicker>
                                    </mat-form-field>
                                </div>

                                <div class="col-lg-6">
                                    <mat-form-field style="width: 100%;" appDateFormat>
                                        <mat-label>Fecha término</mat-label>
                                        <input formControlName="dFechFin" matInput [matDatepicker]="dFechFin">
                                        <mat-datepicker-toggle matSuffix [for]="dFechFin"></mat-datepicker-toggle>
                                        <mat-datepicker #dFechFin></mat-datepicker>
                                    </mat-form-field>
                                </div>

                            </div>

                        </div>

                    </div>

                </mat-expansion-panel>
            </mat-accordion>
        </div>

        <mat-divider [vertical]="true"></mat-divider>

        <div class="col-lg">
            <mat-accordion>

                <!-- Personal a cargo -->
                <mat-expansion-panel [expanded]="true">

                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            Personal a cargo :
                        </mat-panel-title>
                        <mat-icon style="margin-right: 10px;">group</mat-icon>
                    </mat-expansion-panel-header>

                    <div class="row">
                        <div class="col-lg-12">
                            <div id="dTableMain" class="melevation">
                                <table #mtMain mat-table [dataSource]="TeamDS" style="width: 100%;" multiTemplateDataRows>

                                    <!-- Apellidos y nombres Column -->
                                    <ng-container matColumnDef="sNombres">
                                        <th mat-header-cell *matHeaderCellDef> Apellidos y nombres </th>
                                        <td mat-cell *matCellDef="let element" class='m-card-title' data-label='Apellidos y nombres :'>{{element.sNombres | titlecase}}</td>
                                    </ng-container>

                                    <!-- Planilla Column -->
                                    <ng-container matColumnDef="sCodPlla">
                                        <th mat-header-cell *matHeaderCellDef> Plla </th>
                                        <td mat-cell *matCellDef="let element" class='has_label_on_mobile' data-label='Tipo de planilla :'> {{element.sCodPlla}} </td>
                                    </ng-container>

                                    <!-- Fecha ingreso Column -->
                                    <ng-container matColumnDef="dFechIni">
                                        <th mat-header-cell *matHeaderCellDef> F. Ingreso </th>
                                        <td mat-cell *matCellDef="let element" class='has_label_on_mobile' data-label='Fecha ingreso :'> {{element.dFechIni | date:"dd/MM/yyyy"}} </td>
                                    </ng-container>

                                    <!-- Fecha cese Column -->
                                    <ng-container matColumnDef="dFechFin">
                                        <th mat-header-cell *matHeaderCellDef> F. Cese </th>
                                        <td mat-cell *matCellDef="let element" class='has_label_on_mobile' data-label='Fecha cese :'> {{element.dFechFin | date:"dd/MM/yyyy"}} </td>
                                    </ng-container>

                                    <!-- Dias Column -->
                                    <ng-container matColumnDef="nDias">
                                        <th mat-header-cell *matHeaderCellDef> Días </th>
                                        <td mat-cell *matCellDef="let element" class='has_label_on_mobile' data-label='# Días :'> {{element.nDias}} </td>
                                    </ng-container>

                                    <!-- Estado Column -->
                                    <ng-container matColumnDef="sEstado">
                                        <th mat-header-cell *matHeaderCellDef> Estado </th>
                                        <td mat-cell *matCellDef="let element" class='has_label_on_mobile' data-label='Estado :'> {{ element.sEstado }} </td>
                                    </ng-container>

                                    <!-- More Column -->
                                    <ng-container matColumnDef="more">
                                        <th mat-header-cell *matHeaderCellDef></th>
                                        <td mat-cell *matCellDef="let element; let row">
                                            <span [ngStyle]="{'display': element.nIdContacto === null ? 'none' : 'block' }" [@fabToggler]="element == expandedMore ? 'active3' : 'inactive'" class="material-icons" style="cursor: pointer;" (click)="clickExpanded(row)">expand_more</span>
                                        </td>
                                    </ng-container>

                                    <!-- More Expanded -->
                                    <ng-container matColumnDef="expanded_More">
                                        <td mat-cell *matCellDef="let element" [attr.colspan]="TeamDC.length">
                                            <div style="overflow: hidden;" [@detailExpand]="element == expandedMore ? 'expanded' : 'collapsed'">
                                                <div class="row" style="padding: 10px 10px 0px 10px">

                                                    <div class="col-lg-12" style="padding-left: 5px;">

                                                        <div class="row">

                                                            <div class="col-lg-6">

                                                                <!-- Contacto -->
                                                                <div class="col-sm" style="padding: 10px 0px 0px 0px;">
                                                                    <h6>Último contacto:</h6>
                                                                    <hr style="margin-top: 0px; margin-bottom: 10px;">
                                                                </div>

                                                                <div class="form-row">

                                                                    <div class="col-lg-12">
                                                                        <mat-form-field style="width: 100%;" id="fcDateTime">
                                                                            <mat-label>Fecha y hora</mat-label>
                                                                            <input type="text" matInput [formControl]="fcDateTime">
                                                                        </mat-form-field>
                                                                    </div>

                                                                    <div class="col-lg-6">
                                                                        <mat-form-field style="width: 100%;">
                                                                            <mat-label>Motivo</mat-label>
                                                                            <input type="text" matInput [formControl]="fcMotivo">
                                                                        </mat-form-field>
                                                                    </div>

                                                                    <div class="col-lg-6">
                                                                        <mat-form-field style="width: 100%;">
                                                                            <mat-label>Respuesta</mat-label>
                                                                            <input type="text" matInput [formControl]="fcRespuesta">
                                                                        </mat-form-field>
                                                                    </div>

                                                                </div>

                                                            </div>

                                                            <div class="col-lg-6">

                                                                <!-- Observacion -->
                                                                <div class="col-sm" style="padding: 10px 0px 0px 0px;">
                                                                    <h6>Observación:</h6>
                                                                    <hr style="margin-top: 0px; margin-bottom: 0px;">
                                                                </div>

                                                                <div class="form-row">
                                                                    <div class="col-lg-12">
                                                                        <mat-form-field style="width: 100%;">
                                                                            <textarea matInput [formControl]="fcObservacion" style="max-height: 85px; min-height: 85px;"></textarea>
                                                                        </mat-form-field>
                                                                    </div>
                                                                </div>
                                                            </div>

                                                        </div>

                                                    </div>

                                                </div>
                                            </div>
                                        </td>
                                    </ng-container>

                                    <ng-container matColumnDef="noData">
                                        <mat-footer-cell *matFooterCellDef [attr.colspan]="TeamDC.length">
                                            No se encuentran registros.
                                        </mat-footer-cell>
                                    </ng-container>

                                    <tr mat-header-row *matHeaderRowDef="TeamDC; sticky: true"></tr>
                                    <tr mat-row *matRowDef="let row; columns: TeamDC;"></tr>
                                    <tr mat-row *matRowDef="let row; columns: ['expanded_More']" [class.example-expanded-row]="expandedMore === row" style="height: 0px; border-top-style: none;"></tr>
                                    <mat-footer-row *matFooterRowDef="['noData']" [hidden]="TeamDS && this.TeamDS.filteredData.length > 0"></mat-footer-row>
                                </table>
                            </div>
                        </div>
                        <mat-paginator #pagTeam style="display: contents;" [hidePageSize]="false" [pageSize]="4"></mat-paginator>
                    </div>

                </mat-expansion-panel>

                <!-- Contacto -->
                <mat-expansion-panel>

                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            Contacto :
                        </mat-panel-title>
                        <mat-icon style="margin-right: 10px;">call</mat-icon>
                    </mat-expansion-panel-header>

                    <div class="row">
                        <div id="fgContacto" [formGroup]="fgContacto" class="col-xl-12">

                            <div class="form-row">

                                <div class="col-lg-6">
                                    <mat-form-field style="width: 100%;">
                                        <mat-label>Motivo</mat-label>
                                        <mat-select formControlName="T1_nIdMotivo" [errorStateMatcher]="matcher">
                                            <mat-option>--</mat-option>
                                            <mat-option *ngFor="let item of cboMotivo" [value]="item.nIdPC">
                                                {{item.sDesc}}
                                            </mat-option>
                                        </mat-select>
                                        <mat-error *ngIf="getContacto.T1_nIdMotivo.hasError('noSelect')">. Obligatorio</mat-error>
                                    </mat-form-field>
                                </div>

                                <div class="col-lg-6">
                                    <mat-form-field style="width: 100%;">
                                        <mat-label>Respuesta</mat-label>
                                        <mat-select formControlName="T1_nIdRespuesta" [errorStateMatcher]="matcher">
                                            <mat-option>--</mat-option>
                                            <mat-option *ngFor="let item of cboRespuesta" [value]="item.nIdPC">
                                                {{item.sDesc}}
                                            </mat-option>
                                        </mat-select>
                                        <mat-error *ngIf="getContacto.T1_nIdRespuesta.hasError('noSelect')">. Obligatorio</mat-error>
                                    </mat-form-field>
                                </div>

                                <div class="col-lg-12">
                                    <mat-form-field style="width: 100%;">
                                        <mat-label>Observación</mat-label>
                                        <textarea matInput formControlName="T1_sObservacion" style="max-height: 75px; min-height: 75px;" [errorStateMatcher]="matcher"></textarea>
                                    </mat-form-field>
                                </div>

                            </div>

                        </div>
                    </div>

                </mat-expansion-panel>

            </mat-accordion>
        </div>

    </div>
</div>

<div class="modal-footer">
    <mat-progress-bar *ngIf="pbDetail" color="accent" mode="indeterminate"></mat-progress-bar>
</div>