<div class="clsprincipal">
    <div class="col-md-10 offset-md-1">
        <h5 style="text-align: center;" class="card-header center-text-card">Matriz: Permisos</h5>
        <div class="row"><br /></div>
        <mat-tab-group mat-align-tabs="center">
            <mat-tab label="Almacén - Usuario">
                <app-almacen-usuario></app-almacen-usuario>
            </mat-tab>
            <mat-tab label="Almacén - Operación">
                <app-almacen-operacion></app-almacen-operacion>
            </mat-tab>
            <mat-tab label="Almacén - Destino Almacén">
                <app-almacen-destino-almacen></app-almacen-destino-almacen>
            </mat-tab>
        </mat-tab-group>
    </div>
</div>