<h1 class="title-card" mat-dialog-title> Añade una partida </h1>
<form [formGroup]="forma " style="text-align: -webkit-center;">
    <!-- <mat-form-field class="p-2" style="width: 100%;">
        <mat-label>Partida Genérica</mat-label>
        <mat-select formControlName="padre" (selectionChange)="mostrarPartidaEspecifica()">
            <mat-option>Escoja una partida genérica</mat-option>
            <mat-option *ngFor="let item of lPartidaEspecifica" [value]="item.idTipEle">{{ item.sCode }} - {{item.descripcion}}</mat-option>
        </mat-select>
    </mat-form-field> -->

    <ng-select appendTo="body" [clearable]="false" placeholder="Partida Genérica" formControlName="padre" (change)="mostrarPartidaEspecifica()">
        <ng-option *ngFor="let item of lPartidaEspecifica" [value]="item.idTipEle">
            {{ item.sCode }} - {{item.descripcion}}
        </ng-option>
    </ng-select>

    <!-- <mat-form-field class="p-2" style="width: 100%;">
        <mat-label>Partida Específica</mat-label>
        <mat-select formControlName="hijo">
            <mat-option>Escoja una partida Específica</mat-option>
            <mat-option *ngFor="let item of lPartidaEspecificaItem" [value]="item">{{ item.sCode }} - {{item.descripcion}}</mat-option>
        </mat-select>
    </mat-form-field> -->

    <ng-select appendTo="body" [clearable]="false" placeholder="Partida Específica" formControlName="hijo">
        <ng-option *ngFor="let item of lPartidaEspecificaItem" [value]="item">
            {{ item.sCode }} - {{item.descripcion}}
        </ng-option>
    </ng-select>

</form>

<div mat-dialog-actions align="center">
    <button mat-raised-button color="primary" (click)="agregarDetalle()">Añadir</button>
    <button mat-raised-button color="warn" (click)="onNoClick()">Cancelar</button>
</div>