.clsDivRegistro {
  background-color: white;
  border: solid 2px #002c4b;
  border-radius: 5px;
}

/* Cabecera */

.title-card {
  background-color: #334D6E;
  color: white;
  font-size: 20px;
}

/*Opcion para poner mostrar y ocultar*/
.clsShow {
  display: block;
}

.clsHide {
  display: none;
}

.clsShow2 {
  display: inline-block;
}

.clsHide2 {
  display: none;
}

.btnOne {
  font-size: 12px;
  width: 120px;
  height: 30px;
  font-weight: bold;
}
.form-row .form-group label {
  font-size: 12.5px;
}

.clsScrollTable {
  overflow: auto;
  width: 100%;
  height: 500px;
}

.clsScrollTable2 {
  overflow: auto;
  width: 100%;
  height: 200px;
}

.clsbtnAccion2ed {
  margin: 5px 0px 5px 0px;
  border: 0px;
  width: 30px;
  height: 30px;
  align-items: center;
  font-size: 12px;
}

.clsbutton2 button {
  width: 80%;
  margin: 5px 0px 5px 0px;
  padding: 5px;
  border: 0px;
  font-size: 10px;
  color: darkblue;
}

.clsScrollTable .table tr th {
  padding: 5px !important;
  font-size: 12px;
  text-align: center;
  vertical-align: middle;
  background-color: #334d6e;
  color: white;
}

.clsScrollTable .table tr td {
  padding: 10px !important;
  font-size: 12px;
  text-align: left;
  vertical-align: middle;
}

.clsScrollTable2 {
  overflow: auto;
  width: 100%;
  height: 200px;
}

.clsScrollTable2 .table tr th {
  padding: 5px !important;
  font-size: 12px;
  text-align: center;
  vertical-align: middle;
  background-color: #334d6e;
  color: white;
}

.clsScrollTable2 .table tr td {
  padding: 10px !important;
  font-size: 12px;
  text-align: left;
  vertical-align: middle;
}

.table {
  margin-bottom: 2px;
  text-align: left;
}

.clsbutton button {
  width: 100%;
  margin: 5px 0px 5px 0px;
  padding: 5px;
  font-size: 12px;
}

th {
  font-size: 10px;
}
th label {
  font-size: 9.5px !important;
}

.clsMin {
  width: 63% !important;
}

.clsMin2 {
  width: 50% !important;
}

.clsMin3 {
  width: 40% !important;
}

input [type="button"] {
  cursor: pointer;
}

select {
  width: 70%;
  float: right;
  font-size: 10.5px;
  background-color: #d8ebff;
}

.clsSeparador {
  height: 100%;
  border-right: 2px solid rgb(236, 0, 140);
}

.clsEstatico {
  position: sticky;
  top: 0;
  /* background-color: #7F7F7F; */
  /* color: white; */
  font-weight: bold;
  text-align-last: center;
}

.clsImg {
  width: 370px !important;
  height: 220px !important;
}

.clsNum {
  text-align: right;
}

.clsNum .table tr {
  text-align: center;
}

.clsprincipal {
  padding: 80px 15px 0px 15px;
}

td,
th {
  font-size: 14px;
  /* text-align: center; */
}

/* td {
    font-size: 14px;
    text-align: center;
  }
  th {
      font-size: 14px;
      text-align: center;
  } */

.mat-header-row {
  background-color: rgb(51, 77, 110);
}

.mat-header-row .mat-header-cell {
  color: white;
}
.card-header {
  background-color: rgb(51, 77, 110);
  color: white;
}

.example-container {
  height: 400px;
  width: 100%;
  overflow: auto;
}

.example-container2 {
  height: 407px;
  width: 100%;
  overflow: auto;
}

/* Estilos del formulario principal */

.ngSelectError {
  position: absolute;
  bottom: 0px;
  font-size: 12px;
}

/* Estilos de la tabla */
table {
  width: 100%;
}

.tableColSmall{
  width: 80px;
}

.tableColMedium{
  width: 110px;
}

.tableColLarge{
  width: 200px;
}

.tableColExtraLarge{
  width: 400px;
}

.campoTablaEditar{
  cursor: pointer;
  color:rgb(51, 77, 110)
}

.campoTablaEditarVacio{
  cursor: pointer;
  color: grey;
}

.campoTablaEditar:hover{
  color:rgb(51, 77, 110);
  font-weight: bold;
}

.badgeCampoTablaEditar{
  display: none;
}

.campoTablaEditar:hover + .badgeCampoTablaEditar{
  display: initial;
}

:host /deep/ .badgeCampoTablaEditar .mat-badge-content {
  font-family: 'Material Icons';
}

.campoTablaRow{
  position: relative;
  height: 70px;
}

.inputTablaEditarMensaje{
  position: absolute;
  width: 90%;
  padding-top: 8px;
  top: 2px;
  left: 0;
}

.inputTablaEditarTotal{
  position: absolute;
  width: 100px;
  padding-top: 8px;
  top: 2px;
  left: 0;
}

/* .container-fluid {
    height: 200px;
  } */
/* ************************* */
:host /deep/ .mat-step-header .mat-step-icon-selected,
:host /deep/ .mat-step-header .mat-step-icon {
  background-color: rgb(236, 0, 140);
}

:host /deep/ .mat-step-header .mat-step-icon-state-error {
  background-color: rgb(51, 77, 110);
}

:host /deep/ .mat-step-header .mat-step-label.mat-step-label-active,
:host /deep/ .mat-step-header .mat-step-label {
  color: white;
}

:host /deep/ .mat-stepper-horizontal-line {
  border-top-color: white;
}

:host /deep/ .mat-horizontal-stepper-header-container {
  background-color: rgb(51, 77, 110);
  margin-bottom: 10px;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  z-index: 149;
}

:host /deep/ .mat-sort-header-arrow {
  color: white;
}

/* :host /deep/ .create-account-form { */
.mat-focused .mat-form-field-ripple {
  background-color: red !important;
}
.mat-focused .mat-form-field-label {
  /*change color of label when focused*/
  color: blue !important;
}
/* } */

/*
body::-webkit-scrollbar {
    background-color: #fff;
    width: 16px;
  }
  body::-webkit-scrollbar-track {
    background-color: #fff;
  }
  body::-webkit-scrollbar-thumb {
    background-color: #babac0;
    border-radius: 16px;
    border: 4px solid #fff;
  }
  body::-webkit-scrollbar-button {
    display: none;
  }

  div {
    height: 100vh;
  } */

.selector {
  /* definir una altura pequeña para forzar el scroll */
  height: 100px;
  overflow-y: scroll;
  width: 300px;

  /* cambiar el estilo por defecto de la barra de scroll */
  scrollbar-color: yellow #800080;
  scrollbar-width: 10px;
}

.clsScrollTable {
  overflow: auto;
  width: 100%;
}

/* Area de botones */
.fab-container {
  position: fixed;
  top: 100px;
  right: 50px;
  z-index: 150;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.fab-container > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 5px;
}

.fab-container > div > button {
  margin-top: 10px;
  outline: none;
}



:host /deep/ .mat-form-field-disabled input {
  color: black;
}

::ng-deep .mat-select-value {
  color: black !important;
}

:host /deep/.mat-checkbox-checked.mat-accent.mat-checkbox-disabled {
  color: black !important;
}

ng-select-value {
  color: black !important;
}



/* Estilos de los chipset*/

.mat-expanded > .mat-expansion-panel-header{ /* Estilo del acordeon*/
  background-color: #e1e1e1;
}

:host ::ng-deep .chipListSucursales .mat-chip-list-wrapper{
  width: 90%;
}

.botonChipset{
  height: 30px;
  line-height: 30px;
}

/* Estilo del modal de generacion / actualizacion de gastos*/

.header-modal-lucky{
  background-color: rgb(51, 77, 110);
  color: white;
}

/* Estilos de Acordeón */
.campoAuditoriaAcordeon{
  display: none;
}

:host ::ng-deep .campoAuditoriaAcordeon mat-panel-title{
  justify-content: space-between;
  line-height: 40px;
  color: #334D6E;
  font-weight: bold;
}


@media screen and (max-width: 959px) {
  /* Campo auditoria */
  .inputTable{
    height: 20px;
  }

  .inputTablaEditarTotal{
    position: inherit;
    width: 100%;
  }

  .inputTablaEditarMensaje{
    position: inherit;
    width: 100%;
  }

  .campoTablaRow{
    height: inherit;
  }
}


@media screen and (max-width: 1199px) {
  /* Campo auditoria */
  .campoAuditoria{
    display: none;
  }

  .campoAuditoriaAcordeon{
    display: block;
    border-top: 2px rgb(236, 0, 140) solid;
    margin: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
  }

  .clsSeparador{
    height: 0;
    border: none;
  }
}

:host /deep/.ng-select.ng-select-disabled .ng-select-container .ng-value-container .ng-value{
  color:black !important
}

/* Estilos de impresion */
.impresionActiva{
  display: none;
}

.impresion{
  display: none;
}

@media print {
  .impresionActiva{
    display: initial;
  }

  .noImpresion{
    display: none;
  }
}
