/* .example-container {
    height: 300px;
    width: 100%;
    overflow: auto;
}

.fondo {
    background-color: #334D6E;
    color: white;
    padding: 5px;
    text-align: center;
}

th {
    font-size: 10px;
}

th label {
    font-size: 9.5px !important;
}

.mat-header-row {
    background-color: rgb(51, 77, 110);
}

.mat-header-row .mat-header-cell {
    color: white;
}

table {

    width: 1400px;
}

.clsColumnaOpc {
    width: 110px;
}

.clsColumnaLarge {
    width: 250px;
}

.clsColumnaLib {
    width: 200px;
}

.clsColumnaOpc2 {
    width: 60px;
}

.clsColumnaOpc3 {
    width: 60px;
} */
