.form-row .form-group label {
    font-size: 12.5px;
}

.title-card {
    background-color: #334D6E;
    color: white;
    font-size: 25px;
    font-weight: 500;
}

mat-form-field {
    width: 100%;
}
 

input [type="button"] {
    cursor: pointer;
}


/*Tabla responsive*/

.example-container {
    width: 100%;
    overflow: auto;
    height: 350px;
}

.clsprincipal {
    padding: 60px 5px 0px 5px;
}  
 
.mat-header-cell {
    color: white;
    height: 10px;
    margin-left: 10px;
}
.card-header {
    background-color: rgb(51, 77, 110);
    color: white;
}

table {
    width: 1400px;
}

.titulo {
    background-color: #334d6e;
    color: white;
    text-align: center;
    margin-top: 10px;
}
 

.fab-container {
    position: fixed;
    top: 100px;
    right: 50px;
    z-index: 150;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.fab-container>div {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 5px;
}

.fab-container>div>button {
    margin-top: 10px;
    outline: none;
}