<!-- Cabecera Orden de compra -->
<div class="row ">
    <h5 class="card-header" style="text-align: center; width:100%; margin-bottom: 5px;">Documentos de la Orden de
        compra: {{sNumero}}
    </h5>
</div>
<div mat-dialog-content>
    <div class="row" style="margin-top: 15px;">
        <mat-accordion style="width: 100%;">
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title style="color: #002c4b; font-weight: bold; padding-top: 10px;">
                        Subir Documento:
                    </mat-panel-title>
                    <mat-panel-description style="margin-right: 0px">

                    </mat-panel-description>
                    <button mat-icon-button>
                        <!-- <mat-icon style="margin-right: 10px;" color="accent">cloud_upload</mat-icon> -->
                    </button>
                </mat-expansion-panel-header>
                <div class="form-row">
                    <div class="form-row col-md-12">
                        <div class="form-group col-md-10">
                            <form [formGroup]="formArchivo">
                                <input type="file" #archivoFile accept="application/pdf"
                                    (change)="fnSeleccionarArchivo($event,lblName.id)" formControlName="fileUpload"
                                    class="custom-file-input" aria-describedby="inputGroupFileAddon04">
                                <mat-label class="custom-file-label" #lblName id="lblName" style="width: 100%">
                                    Seleccione Archivo:</mat-label>
                            </form>
                        </div>
                        <div class="form-group col-md-2">
                            <button mat-raised-button color="primary" matTooltip="Subir Archivo"
                                (click)="fnUploadFile(lblName.id)" type="button">
                                <mat-icon>cloud_upload</mat-icon>
                            </button>
                        </div>
                    </div>
                    <div *ngIf="vArchivoSeleccioado.length == 0" class="col-md-12 alert alert-info">
                        ¡No selecciono nigun documento!
                    </div>
                </div>
                <div class="col-md-12">
                    <form [formGroup]="formOrdenCompra">
                        <div class="form-row col-md-12 ">
                            <div class="form-group col-md-2">
                                <mat-form-field style="width: 100%;">
                                    <mat-label>Tipo documento:</mat-label>
                                    <mat-select formControlName="lstTipoDoc" (selectionChange)="validarTipoDocumento()">
                                        <mat-option *ngFor="let item of tipoDocumento" [value]="item.nId">
                                            {{item.sDescripcion}}
                                        </mat-option>
                                    </mat-select>
                                    <mat-error *ngIf="formOrdenCompra.controls['lstTipoDoc'].hasError('required')">
                                        .Obligatorio
                                    </mat-error>
                                </mat-form-field>
                            </div>
                            <div class="form-group col-md-2">
                                <mat-form-field style="width: 100%;">
                                    <mat-label>Nombre:</mat-label>
                                    <input type="text" matInput formControlName="nombre">
                                    <mat-error *ngIf="formOrdenCompra.controls['nombre'].hasError('required')">
                                        .Obligatorio
                                    </mat-error>
                                </mat-form-field>
                            </div>

                            <div class="form-group col-md-2">
                                <mat-form-field style="width: 100%;">
                                    <mat-label>Total:</mat-label>
                                    <input type="text" matInput formControlName="total">
                                    <mat-error *ngIf="formOrdenCompra.controls['total'].hasError('required')">
                                        .Obligatorio
                                    </mat-error>
                                </mat-form-field>
                            </div>

                            <div class="form-group col-md-2">
                                <mat-form-field style="width: 100%;">
                                    <mat-label>Fecha Emision</mat-label>
                                    <input matInput readonly [matDatepicker]="picker" formControlName="fechaEmision">
                                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                    <mat-datepicker #picker></mat-datepicker>
                                    <mat-error *ngIf="formOrdenCompra.controls['fechaEmision'].hasError('required')">
                                        .Obligatorio
                                    </mat-error>
                                </mat-form-field>

                            </div>
                            <div class="form-group col-md-2">
                                <mat-form-field style="width: 100%;">
                                    <mat-label>Fecha Recepcion</mat-label>
                                    <input matInput readonly [matDatepicker]="picker2" formControlName="fechaRecepcion">
                                    <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                                    <mat-datepicker #picker2></mat-datepicker>
                                    <mat-error *ngIf="formOrdenCompra.controls['fechaRecepcion'].hasError('required')">
                                        .Obligatorio
                                    </mat-error>
                                </mat-form-field>
                            </div>
                            <div class="form-group col-md-2">
                                <mat-form-field style="width: 100%;">
                                    <mat-label>Fecha Vencimiento</mat-label>
                                    <input matInput readonly [matDatepicker]="picker3"
                                        formControlName="fechaVencimiento">
                                    <mat-datepicker-toggle matSuffix [for]="picker3"></mat-datepicker-toggle>
                                    <mat-datepicker #picker3></mat-datepicker>
                                    <mat-error
                                        *ngIf="formOrdenCompra.controls['fechaVencimiento'].hasError('required')">
                                        .Obligatorio
                                    </mat-error>
                                </mat-form-field>
                            </div>
                        </div>
                    </form>
                </div>
            </mat-expansion-panel>
        </mat-accordion>
    </div>

    <div class="row" style="margin-top: 15px;">
        <div class="col-md">
            <div id="listaMobile" class="mat-elevation-z8">
                <div class="table-container-1">
                    <table mat-table [dataSource]="dataSource" matSort style="width: 100%;">

                        <ng-container matColumnDef="nId" sticky>
                            <th mat-header-cell *matHeaderCellDef mat-sort-header class="clsColumnaOpc2"> Opción</th>
                            <td mat-cell *matCellDef="let row" class="clsColumnaOpc2">
                                <button mat-icon-button [matMenuTriggerFor]="menu" matTooltip="Desplegar"
                                    matTooltipPosition="right" mat-stroked-button color="accent">
                                    <mat-icon>more_vert</mat-icon>
                                </button>
                                <mat-menu #menu="matMenu" xPosition="after">
                                    <button mat-menu-item (click)="fnDescargar(row)">
                                        <mat-icon color="accent">cloud_download</mat-icon>
                                        <span>Descargar</span>
                                    </button>
                                    <button mat-menu-item (click)="fnVerFile(row)">
                                        <mat-icon color="accent">open_in_browser </mat-icon>
                                        <span>Ver Archivo</span>
                                    </button>

                                </mat-menu>
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="tipo">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header class="clsColumnaLib"> Tipo
                            </th>
                            <td mat-cell *matCellDef="let row" class="" class='clsColumnaLib has_label_on_mobile'
                                data-label='Tipo: '> {{row.stipoDoc}} </td>
                        </ng-container>

                        <ng-container matColumnDef="sNombreArchivo">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header style="width: 250px;"> Nombre Archivo
                            </th>
                            <td mat-cell *matCellDef="let row" class='clsColumnaLib has_label_on_mobile'
                                data-label='Nombre Archivo: '> {{row.sArchvo}} </td>
                        </ng-container>

                        <ng-container matColumnDef="total">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header class="clsColumnaOpc"> Total</th>
                            <td mat-cell *matCellDef="let row" class='clsColumnaOpc has_label_on_mobile'
                                data-label='Total: '> {{row.total}} </td>
                        </ng-container>

                        <ng-container matColumnDef="emision">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header class="clsColumnaOpc"> Fecha Emisión
                            </th>
                            <td mat-cell *matCellDef="let row" class='clsColumnaOpc has_label_on_mobile'
                                data-label='Fecha Emisión: '> {{row.fecheEmision}} </td>
                        </ng-container>
                        <ng-container matColumnDef="recepcion">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header class="clsColumnaOpc"> Fecha Recepción
                            </th>
                            <td mat-cell *matCellDef="let row" class='clsColumnaOpc has_label_on_mobile'
                                data-label='Fecha Recepción: '> {{row.fecheRecepcion}} </td>
                        </ng-container>
                        <ng-container matColumnDef="vence">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header class="clsColumnaOpc"> Fecha Vence
                            </th>
                            <td mat-cell *matCellDef="let row" class='clsColumnaOpc has_label_on_mobile'
                                data-label='Fecha Vence: '> {{row.fechavence}} </td>
                        </ng-container>
                        <ng-container matColumnDef="estado">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header class="clsColumnaExt"> V.B </th>
                            <td mat-cell *matCellDef="let row" class='clsColumnaOpc2 has_label_on_mobile'
                                data-label='V.B: '> {{row.Estado}} </td>
                        </ng-container>

                        <ng-container matColumnDef="sUsuario">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header class="clsColumnaOpc"> Usuario Subió
                            </th>
                            <td mat-cell *matCellDef="let row" class='clsColumnaOpc has_label_on_mobile'
                                data-label='Usuario Subió: '> {{row.sUsuario}} </td>
                        </ng-container>

                        <ng-container matColumnDef="sFechaSubio">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header class="clsColumnaExt"> Fecha Subió
                            </th>
                            <td mat-cell *matCellDef="let row" class='clsColumnaExt has_label_on_mobile'
                                data-label='Fecha Subió: '> {{row.sFecha}} - {{ row.sHora }} </td>
                        </ng-container>

                        <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                    </table>
                </div>
                <mat-paginator [pageSizeOptions]="[5, 10, 20]"></mat-paginator>
            </div>
        </div>
    </div>

</div>