<div class="mb-3 col-md-12">

    <!-- Card Header Titulo-->
    <div class="text-center mt-0 mb-2">
        <h4 class="col-md-10 offset-md-1 card-header mb-4">
            Exportar Registro de Ventas
        </h4>
    </div>

    <!-- Botones Flotantes -->
    <div class="fab-container">
        <button mat-mini-fab class="fab-toggler" (click)="onToggleFab(1, -1)">
            <i class="material-icons" [@fabToggler]="{value: tsLista}">add</i>
        </button>
        <div [@speedDialStagger]="abLista.length">
            <button *ngFor="let btn of abLista; let ibtn = index;" mat-mini-fab class="fab-secondary" color="secondary"
                (click)="clickFab(ibtn)" [disabled]="btn.estado">
                <i class="material-icons" matTooltip="{{btn.tool}}" matTooltipPosition="left">{{btn.icon}}</i>
            </button>
        </div>
    </div>

    <!-- Inputs Form -->
    <div class="card mt-3 mb-4">
        <div class="card-body">
            <form autocomplete="off" [formGroup]="formExpRegistroVentas">
                <div class="row">

                    <div class="col-md-4 registroVentas">
                        Año:
                    </div>

                    <div class="col-md-5">
                        <ng-select appendTo="body" [clearable]="true"  placeholder="Seleccionar Año"
                            formControlName="anio" notFoundText="No hay años registrados"
                            (change)="fnChangeAnio()"
                            >
                            <ng-option *ngFor="let item of lAnio" [value]="item.anio">
                                {{item.anio}}</ng-option>
                        </ng-select>
                        <mat-error style="font-size: 12px;"
                            *ngIf="formExpRegistroVentas.get('anio').hasError('required') && formExpRegistroVentas.get('anio').touched">
                            Año necesario
                        </mat-error>
                    </div>

                    <div class="col-md-4 registroVentas">
                        Mes:
                    </div>

                    <div class="col-md-5">
                        <ng-select appendTo="body" [clearable]="true" placeholder="Seleccionar Mes"
                            formControlName="mes" notFoundText="No hay meses registrados"
                            (change)="listaTiposDocumentoFacturacion()">
                            <ng-option *ngFor="let item of lMeses" [value]="item.codigoMes">
                                {{item.mes}}</ng-option>
                        </ng-select>
                        <mat-error style="font-size: 12px;"
                            *ngIf="formExpRegistroVentas.get('mes').hasError('required') && formExpRegistroVentas.get('mes').touched">
                            Mes necesario
                        </mat-error>
                    </div>

                    <div class="col-md-4 registroVentas">
                        Tipo de Documento:
                    </div>

                    <div class="col-md-5">
                        <ng-select appendTo="body" [clearable]="true" placeholder="Tipo de Documento"
                            formControlName="tipoDocumento" notFoundText="No hay tipos de documento registrados"
                            (change)="listaSeriesExp()">
                            <ng-option *ngFor="let item of lTiposDocumentoFacturacion" [value]="item.codigoDocumento">
                                {{item.nombreDocumento}}</ng-option>
                        </ng-select>
                        <mat-error style="font-size: 12px;"
                            *ngIf="formExpRegistroVentas.get('tipoDocumento').hasError('required') && formExpRegistroVentas.get('tipoDocumento').touched">
                            Tipo de Documento necesario
                        </mat-error>
                    </div>

                    <div class="col-md-4 registroVentas">
                        Serie:
                    </div>

                    <div class="col-md-5">
                        <ng-select appendTo="body" [clearable]="true" placeholder="Serie" formControlName="serie"
                            notFoundText="No hay Series registradas"
                            (change)="listaNumeradoresInicial(); listaNumeradoresFinal()">
                            <ng-option *ngFor="let item of lSeriesExp" [value]="item.codigoSerie">
                                {{item.serie}}</ng-option>
                        </ng-select>
                        <mat-error style="font-size: 12px;"
                            *ngIf="formExpRegistroVentas.get('serie').hasError('required') && formExpRegistroVentas.get('serie').touched">
                            Serie necesaria
                        </mat-error>
                    </div>

                    <div class="col-md-4 registroVentas">
                        Generar del Nro:
                    </div>

                    <div class="col-md-2">
                        <ng-select appendTo="body" [clearable]="true" placeholder="Numerador Inicial"
                            formControlName="numeradorInicial" notFoundText="No hay numeradores registrados">
                            <ng-option *ngFor="let item of lNumeradoresInicial" [value]="item.numerador">
                                {{item.numerador}}</ng-option>
                        </ng-select>
                        <mat-error style="font-size: 12px;"
                            *ngIf="formExpRegistroVentas.get('numeradorInicial').hasError('required') && formExpRegistroVentas.get('numeradorInicial').touched">
                            Dato necesario
                        </mat-error>
                    </div>

                    <div class="col-md-1 registroVentas" style="text-align: end;">
                        Al:
                    </div>

                    <div class="col-md-2">
                        <ng-select appendTo="body" [clearable]="true" placeholder="Numerador Final"
                            formControlName="numeradorFinal" notFoundText="No hay numeradores registrados">
                            <ng-option *ngFor="let item of lNumeradoresFinal" [value]="item.numerador">
                                {{item.numerador}}</ng-option>
                        </ng-select>
                        <mat-error style="font-size: 12px;"
                            *ngIf="formExpRegistroVentas.get('numeradorFinal').hasError('required') && formExpRegistroVentas.get('numeradorFinal').touched">
                            Dato necesario
                        </mat-error>
                    </div>

                    <div class="col-md-4 registroVentas">
                        Correlativo inicia en:
                    </div>

                    <div class="col-md-5">
                        <mat-form-field class="input">
                            <mat-label>Ingresar Correlativo</mat-label>
                            <input matInput formControlName="correlativo">
                            <mat-error>Correlativo necesario</mat-error>
                        </mat-form-field>
                    </div>
                    
                </div>
            </form>
        </div>
    </div>

</div>