
  <div class="modal-header">
    <h4 class="modal-title">Documento</h4>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss()">
      <span class="material-icons">close</span>
    </button>
  </div>
  
  <!-- contenido -->
  <div class="modal-body">
    <div class="row">
        <div id="dLeftDetail" class="col-lg-5">
            <mat-accordion #maDetail="matAccordion" multi>

                <!-- Información personal -->
                <mat-expansion-panel [expanded]="true" [disabled]="true">

                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            Información del personal :
                        </mat-panel-title>
                        <mat-panel-description style="margin-right: 0px;">

                        </mat-panel-description>
                        <mat-icon style="margin-right: 10px;">account_circle</mat-icon>
                    </mat-expansion-panel-header>

                    <div class="row">

                        <div class="col-xl-3 divAvatar">
                            <a>
                                <!-- <span class="imgBadge"> {{getDetail.sCodPlla.value}}</span> -->
                                <img class="imgAvatar" src="../../../../../assets/img/LuckyAvatar.png" alt="">
                            </a>
                        </div>

                        <div id="fgDetail2" [formGroup]="fgDetail2" class="col-xl-9">

                            <div class="form-row">

                                <div class="col-lg-8">
                                    <mat-form-field style="width: 100%;">
                                        <mat-label>Tipo</mat-label>
                                        <input type="text" matInput formControlName="sDscTipo">
                                    </mat-form-field>
                                </div>

                                <div class="col-lg-4">
                                    <mat-form-field style="width: 100%;">
                                        <mat-label>N° Documento</mat-label>
                                        <input type="text" matInput formControlName="sDocumento">
                                    </mat-form-field>
                                </div>

                            </div>

                            <div class="form-row">

                                <div class="col-lg-12">
                                    <mat-form-field style="width: 100%;">
                                        <mat-label>Apellidos y nombres</mat-label>
                                        <input type="text" matInput formControlName="sSolicitante">
                                    </mat-form-field>
                                </div>

                            </div>

                            <div class="form-row">

                                <div class="col-lg-4">
                                    <mat-form-field style="width: 100%;">
                                        <mat-label>Ciudad</mat-label>
                                        <input type="text" matInput formControlName="sCiudad">
                                    </mat-form-field>
                                </div>

                            </div>

                        </div>

                    </div>

                </mat-expansion-panel>
            </mat-accordion>
        </div>

        <div class="col-lg-7">

            <div class="row">
                <div class="col-sm">
                    <h6>View :</h6>
                    <hr style="margin-top: 0px; margin-bottom: 10px;">
                </div>
            </div>
        

        </div>

    </div>
</div>
  
  
  

  
  