<h1 mat-dialog-title class="clstituloCrtl">{{sPartida}}</h1>
<div mat-dialog-content style="height: 355px;">  
     <div  class="mat-elevation-z8 example-container-partida"> 
         <table mat-table [dataSource]="tGestorDS" class="clspartida"> 

            <ng-container matColumnDef="ciudad">
                <th mat-header-cell *matHeaderCellDef> Ciudad </th>
                <td mat-cell *matCellDef="let element;index as ii">
                 <ng-select  appendTo="body"   (change)="fnCiudad(element.ciudad,ii)"
                 [(ngModel)]="element.ciudad"  
                 [clearable]="false" [disabled]=validacion> 
                   <ng-option *ngFor="let car of lcboCiudad" [(value)]="car.pId">{{car.pNombre}}</ng-option>
                 </ng-select> 
                </td>
           </ng-container> 

              <ng-container matColumnDef="categoria">
                   <th mat-header-cell *matHeaderCellDef> Categoría </th>
                   <td mat-cell *matCellDef="let element;index as ii">
                    <ng-select  appendTo="body" (change)="fnCategoria(element.ciudad,element.categoria,ii)"  
                         [(ngModel)]="element.categoria" [clearable]="false" [disabled]=validacion> 
                      <ng-option *ngFor="let car of this.arrayCiudad[element.ciudad]" [(value)]="car.pId">{{car.pDesc}}</ng-option>
                    </ng-select> 
                   </td>
              </ng-container> 

              <ng-container matColumnDef="canal">
                   <th mat-header-cell *matHeaderCellDef> Canal </th>
                   <td mat-cell *matCellDef="let element;index as ii">
                    <ng-select  appendTo="body"  [(ngModel)]="element.canal" (change)="fnCanal(this.arrayCategoria[element.ciudad+''+element.categoria],ii)"
                    [clearable]="false" [disabled]=validacion >
                      <ng-option *ngFor="let car of this.arrayCategoria[element.ciudad+''+element.categoria]" [(value)]="car.pId"
                      [disabled]="car.estado==1? true:false"
                      >
                      {{car.pDesc}}
                         </ng-option>
                    </ng-select> 
                   </td>
              </ng-container>

              <ng-container matColumnDef="NPer" >
                   <th mat-header-cell *matHeaderCellDef> N° Persona </th>
                   <td mat-cell *matCellDef="let element;let i = index;"> 
                        <mat-form-field style="width: 100px;" >
                          <input matInput type="number" [disabled]=validacion (change)="fnCalPersona(i,element)"  [(ngModel)]="element.NPer" > 
                        </mat-form-field> 
                   </td>
              </ng-container>

              <ng-container matColumnDef="diasPla">
                   <th mat-header-cell *matHeaderCellDef>Días Pla </th>
                   <td mat-cell *matCellDef="let element;let i = index;"> 
                    <mat-form-field style="width: 100px;" >
                      <input matInput type="number" [disabled]=validacion (change)="fnCalPersona(i,element)"  [(ngModel)]="element.diasPla" > 
                    </mat-form-field>  
                   </td>
              </ng-container>

              <ng-container matColumnDef="totalDias">
                   <th mat-header-cell *matHeaderCellDef> Total Días </th>
                   <td mat-cell *matCellDef="let element"> 
                        <mat-form-field style="width: 100px;" >
                          <input matInput type="number"   [disabled]="true" [(ngModel)]="element.totalDias" > 
                        </mat-form-field>  

                   </td>
              </ng-container>

              <ng-container matColumnDef="diasCotiz">
                   <th mat-header-cell *matHeaderCellDef> Días Cotizados </th>
                   <td mat-cell *matCellDef="let element;let i = index;"> 
                        <mat-form-field style="width: 100px;">
                          <input matInput type="number" [disabled]=validacion (change)="fnCalPersona(i,element)" [(ngModel)]="element.diasCotiz" > 
                        </mat-form-field>  
                   </td>
              </ng-container>

              <ng-container matColumnDef="remunDia">
                   <th mat-header-cell *matHeaderCellDef> Remun. x Día </th>
                   <td mat-cell *matCellDef="let element"> 
                        <mat-form-field style="width: 100px;">
                          <input matInput type="number"  [disabled]="true" [(ngModel)]="element.remunDia" > 
                        </mat-form-field>  
                   </td>
              </ng-container>

              <ng-container matColumnDef="total">
                   <th mat-header-cell *matHeaderCellDef> Total </th>
                   <td mat-cell *matCellDef="let element"> 
                        <mat-form-field style="width: 100px;">
                          <input matInput type="number" [disabled]="true"  [(ngModel)]="element.total" > 
                        </mat-form-field>  
                   </td>
              </ng-container>

              <ng-container matColumnDef="implem">
                   <th mat-header-cell *matHeaderCellDef> % Implem </th>
                   <td mat-cell *matCellDef="let element;let i = index;"> 
                        <mat-form-field style="width: 100px;">
                          <input matInput type="number" [disabled]=true [(ngModel)]="element.implem" > 
                        </mat-form-field>  
                   </td>
              </ng-container>

              <ng-container matColumnDef="planilla3">
                   <th mat-header-cell *matHeaderCellDef> Planilla 3 </th>
                   <td mat-cell *matCellDef="let element"> 
                        <mat-form-field style="width: 100px;">
                          <input matInput type="number"  [disabled]=validacion  [(ngModel)]="element.planilla3" > 
                        </mat-form-field>  
                   </td>
              </ng-container> 

              <ng-container matColumnDef="action" sticky>
                   <!-- <ng-container matColumnDef="action" sticky> -->
                   <th mat-header-cell *matHeaderCellDef>
                        <button mat-menu-item (click)="btnNuevoTGestor()" [disabled]=validacion>
                             <mat-icon color="accent">add</mat-icon>
                        </button>
                   </th>
                   <td mat-cell *matCellDef="let element">  
                      <button mat-menu-item (click)="btnElimnarTGestor(element)" [disabled]=validacion >
                        <mat-icon color="accent" >delete</mat-icon> 
                      </button> 
                   </td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="tGestorDC; sticky: true"></tr>
              <tr mat-row *matRowDef="let row; columns: tGestorDC;"></tr>
         </table> 
     </div>
     <div class="text-right" style="padding: 5px 0px 0px 0px;">
          <span class="informacion_tipo_personal">Total de Categoría</span> 
          <span class="numero_personas_registradas">{{Cantidad()}}</span> 
          <span class="informacion_tipo_personal"> || Total Final </span> 
          <span class="numero_personas_registradas"> {{Precio()}}</span>  
     </div>
</div>
<div mat-dialog-actions> 
     <button mat-button color="warn" (click)="onNoClick()">Salir</button>
     <button mat-button color="primary"  [disabled]=validacion (click)="ValidarGuardar()">Guardar</button>
     <!-- <button mat-button color="primary"  (click)="fnSeleccionar()" [disabled]=validacion>Ok</button> -->
</div>