<div class="mb-3" style="text-align: center; position: relative;">
    <mat-card class="title-card">Observaciones del activo</mat-card>
    <button mat-icon-button class="closeButtonModal" (click)="fnSalir()">
        <mat-icon>close</mat-icon>
    </button>
</div>

<div mat-dialog-content id="activoDialogContainer">

    <div class="col-12">
        <mat-form-field class="example-chip-list" style="width: 100%">
            <mat-label>Fotos del Activo (Entrega)</mat-label>
            <mat-chip-list #chipListObservacionesEntrega style="height: 51.5px;">
                <mat-chip *ngFor="let chipElement of chipElementsObservacionesEntrega" (click)="fnVerImagenObservacion(chipElement)">
                    {{chipElement.sObservacion}}
                </mat-chip>
                <input [matChipInputFor]="chipListObservacionesEntrega" readonly [disabled]="chipElementsObservacionesEntrega != []">
            </mat-chip-list>
        </mat-form-field>
    </div>

    <div class="col-12">
        <mat-form-field class="example-chip-list" style="width: 100%">
            <mat-label>Fotos del Activo (Devolución)</mat-label>
            <mat-chip-list #chipListObservacionesDevolucion style="height: 51.5px;">
                <mat-chip *ngFor="let chipElement of chipElementsObservacionesDevolucion" (click)="fnVerImagenObservacion(chipElement)">
                    {{chipElement.sObservacion}}
                </mat-chip>
                <input [matChipInputFor]="chipListObservacionesDevolucion" readonly [disabled]="chipElementsObservacionesDevolucion != []">
            </mat-chip-list>
        </mat-form-field>
    </div>

</div>