.title-card {
  background-color: #334d6e;
  color: white;
  font-size: 25px;
  font-weight: 500;
}

.closeButtonModal {
  position: absolute;
  right: 15px;
  bottom: 15px;
  color: gray;
}

/* Controles */

mat-form-field {
  width: 100%;
}

.ngSelectError {
  position: absolute;
  bottom: 0px;
  font-size: 12px;
}

.mat-form-field-disabled input,
.mat-form-field-disabled textarea,
.mat-select-disabled .mat-select-value {
  color: black;
}
:host ::ng-deep ng-select-value,
:host
  ::ng-deep
  .ng-select.ng-select-disabled
  .ng-select-container
  .ng-value-container
  .ng-value {
  color: black !important;
}
