<div class="clsprincipal">
    <div class="col-md-10 offset-md-1">
        <h5 style="text-align: center;" class="card-header center-text-card">Detalle de Addenda
        </h5>
        <div class="row"><br /></div>
    </div>

    <div class="col-md-10 offset-md-1">
        <mat-card>
            <form [formGroup]="formAddenda" class="row">
                <div class="col-md-10">
                    <div class="form-row">
                        <div class="col-md-3">
                            <ng-select class="alinea-ng-select" appendTo="body" [clearable]="false"
                                formControlName="cboProveedor" placeholder="Proveedor" required>
                                <ng-option *ngFor="let vProv of lProveedor" [value]="vProv.nIdCliente">
                                    {{vProv.sNombreComercial}}</ng-option>
                            </ng-select>
                            <mat-error *ngIf="cboProveedorError">{{ cboProveedorError }}</mat-error>
                        </div>

                        <div class="col-md-3">
                            <mat-form-field style="width: 100%;">
                                <mat-label>Cantidad total:</mat-label>
                                <input [value]="totalCantidad" type="number" readonly matInput
                                    formControlName="txtCantTotal">
                            </mat-form-field>
                        </div>

                        <div class="col-md-3">
                            <mat-form-field style="width: 100%;">
                                <mat-label>Fecha inicio:</mat-label>
                                <input (click)="pickerFechaInicio.open()" readonly formControlName="cboFechaInicio"
                                    matInput [matDatepicker]="pickerFechaInicio">
                                <mat-datepicker-toggle matSuffix [for]="pickerFechaInicio"></mat-datepicker-toggle>
                                <mat-datepicker #pickerFechaInicio></mat-datepicker>
                                <mat-error *ngIf="formAddenda.get('cboFechaInicio').hasError('required')">
                                    .Obligatorio</mat-error>
                            </mat-form-field>
                        </div>

                        <div class="col-md-3">
                            <mat-form-field style="width: 100%;">
                                <mat-label>Fecha Fin:</mat-label>
                                <input (click)="pickerFechaFin.open()" readonly formControlName="cboFechaFin" matInput
                                    [matDatepicker]="pickerFechaFin">
                                <mat-datepicker-toggle matSuffix [for]="pickerFechaFin"></mat-datepicker-toggle>
                                <mat-datepicker #pickerFechaFin></mat-datepicker>
                                <mat-error *ngIf="formAddenda.get('cboFechaFin').hasError('required')">
                                    .Obligatorio</mat-error>
                            </mat-form-field>
                        </div>

                        <div class="col-md-4">
                            <ng-select (change)="GetAllArticulo($event);" class="alinea-ng-select" appendTo="body"
                                [clearable]="false" formControlName="cboTipoArticulo" placeholder="Tipo de artículo"
                                required>
                                <ng-option *ngFor="let vTipo of lTipoArticulo" [value]="vTipo.elementoId">
                                    {{vTipo.nombre}}</ng-option>
                            </ng-select>
                            <mat-error *ngIf="cboTipoArticuloError">{{ cboTipoArticuloError }}</mat-error>
                        </div>

                        <div class="col-md-7 col-10">
                            <ng-select (change)="GetInformacionArticulo($event)" class="alinea-ng-select"
                                appendTo="body" [clearable]="false" formControlName="cboArticulo" placeholder="Artículo"
                                required>
                                <ng-option *ngFor="let vArticulo of lArticulo" [value]="vArticulo.nIdArticulo">
                                    {{vArticulo.sCodArticulo}} - {{vArticulo.sNombreProducto}} {{
                                    (vArticulo.sPartNumber==''||vArticulo.sPartNumber==null) ? '': ' - ' +
                                    vArticulo.sPartNumber}}</ng-option>
                            </ng-select>
                            <mat-error *ngIf="cboArticuloError">{{ cboArticuloError }}</mat-error>
                        </div>

                        <div class="col-md-1 col-2">
                            <div class="box">
                                <img *ngIf="vArticuloSeleccionado==null || vArticuloSeleccionado?.sRutaArchivo=='' || vArticuloSeleccionado?.sRutaArchivo==null"
                                    width="40px" height="40px" src="/assets/img/SinImagen.jpg"
                                    (click)="fnVerImagen(null, '')">

                                <img *ngIf="vArticuloSeleccionado!=null && vArticuloSeleccionado?.sRutaArchivo!='' && vArticuloSeleccionado?.sRutaArchivo!=null"
                                    width="40px" height="40px" [src]='vArticuloSeleccionado?.sRutaArchivo'
                                    (click)="fnVerImagen(vArticuloSeleccionado.sCodArticulo + '-' + vArticuloSeleccionado.sNombreProducto, vArticuloSeleccionado.sRutaArchivo)">
                            </div>
                        </div>

                        <div class="col-md-8">
                            <mat-form-field style="width: 100%;">
                                <mat-label>Características artículo:</mat-label>
                                <mat-chip-list #chipListInformacion>
                                    <mat-chip *ngFor="let vInfor of lInformacionArticulo">
                                        {{vInfor.sInformacion}}
                                    </mat-chip>
                                    <input readonly #informacionInput formControlName="cboInformacion"
                                        [matChipInputFor]="chipListInformacion"
                                        [matChipInputSeparatorKeyCodes]="separatorKeysCodes">
                                </mat-chip-list>
                            </mat-form-field>
                        </div>

                        <div class="col-md-3 col-10 d-flex align-items-end">
                            <mat-form-field style="width: 100%;">
                                <mat-label>Cantidad:</mat-label>
                                <input type="number" matInput formControlName="txtCantidad">
                                <mat-error *ngIf="txtCantidadError">{{ txtCantidadError }}</mat-error>
                            </mat-form-field>
                        </div>

                        <div class="col-md-1 col-2 d-flex align-items-end">
                            <button [disabled]="!this.bAddendaSinProcesar || this.bEditar" style="margin-bottom: 20px;"
                                (click)="fnAnadirArticulo()" mat-icon-button class="fab-secondary" color="accent">
                                <i class="material-icons" matTooltip="Agregar artículo"
                                    matTooltipPosition="left">add</i>
                            </button>
                        </div>
                    </div>
                </div>

                <div class="col-md-2 ocultar-mobile">
                    <div class="form-row">
                        <div class="col-md-1">
                            <div class="clsSeparador">&nbsp;</div>
                        </div>

                        <!-- Campos auditoria -->
                        <div class="col-md-11">

                            <mat-form-field style="width: 100%">
                                <mat-label>Número:</mat-label>
                                <input type="text" readonly matInput formControlName="txtNumero"
                                    style="color: rgb(236, 0, 140)" />
                            </mat-form-field>

                            <mat-form-field style="width: 100%">
                                <mat-label>Registró:</mat-label>
                                <input type="text" readonly matInput formControlName="txtActualizo" />
                            </mat-form-field>

                            <mat-form-field style="width: 100%">
                                <mat-label>Fecha registró:</mat-label>
                                <input type="text" readonly matInput formControlName="txtFechaActualizo" />
                            </mat-form-field>

                            <!-- <mat-form-field style="width: 100%">
                                <mat-label>Estado:</mat-label>
                                <input type="text" readonly matInput placeholder="Estado" formControlName="txtEstado"
                                    style="color: rgb(236, 0, 140)" />
                            </mat-form-field> -->
                        </div>
                    </div>
                </div>

                <!--Informacion en celular-->
                <div class="col-md-12 mostrar-mobile">
                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                            <mat-panel-title style="color: #002c4b; font-weight: bold; padding-top: 10px;">
                                Información
                            </mat-panel-title>
                            <button mat-icon-button>
                                <mat-icon style="margin-right: 10px;" color="accent">info</mat-icon>
                            </button>
                        </mat-expansion-panel-header>
                        <div class="row">
                            <div class="col-md-12">

                                <mat-form-field style="width: 100%">
                                    <mat-label>Número:</mat-label>
                                    <input type="text" readonly matInput formControlName="txtNumero" />
                                </mat-form-field>

                                <mat-form-field style="width: 100%">
                                    <mat-label>Registró:</mat-label>
                                    <input type="text" readonly matInput formControlName="txtActualizo" />
                                </mat-form-field>

                                <mat-form-field style="width: 100%">
                                    <mat-label>Fecha registró:</mat-label>
                                    <input type="text" readonly matInput formControlName="txtFechaActualizo" />
                                </mat-form-field>

                                <mat-form-field style="width: 100%">
                                    <mat-label>Estado:</mat-label>
                                    <input type="text" readonly matInput placeholder="Estado"
                                        formControlName="txtEstado" style="color: rgb(236, 0, 140)" />
                                </mat-form-field>
                            </div>
                        </div>
                    </mat-expansion-panel>
                </div>

                <div class="col-md-12 mostrar-mobile">
                    <br>
                </div>
            </form>
        </mat-card>
    </div>

    <div class="col-md-10 offset-md-1">
        <div class="row">
            <!--Table para detalle de Addenda -->
            <div class="col-12">
                <div id="listaMobile" class="mat-elevation-z8">

                    <div class="table-container-1">
                        <table mat-table [dataSource]="dataSource" matSort>

                            <ng-container matColumnDef="opcion">
                                <th mat-header-cell *matHeaderCellDef class="clsColumnaOpc2">
                                    Opciones
                                </th>
                                <td data-label='Opciones: ' mat-cell *matCellDef="let row"
                                    class="has_label_on_mobile clsColumnaOpc2">

                                    <button mat-icon-button [matMenuTriggerFor]="menu" matTooltip="Desplegar"
                                        matTooltipPosition="right" mat-stroked-button color="accent">
                                        <mat-icon>more_vert</mat-icon>
                                    </button>
                                    <mat-menu #menu="matMenu" xPosition="after">

                                        <button (click)="fnVerDetalle(row)" mat-menu-item *ngIf="this.pIdRegistro != 0">
                                            <mat-icon color="accent">touch_app</mat-icon>
                                            <span>Ver activos</span>
                                        </button>

                                        <button (click)="fnVerElementos(row)" mat-menu-item>
                                            <mat-icon color="accent">devices_other</mat-icon>
                                            <span>Elementos</span>
                                        </button>

                                        <button (click)="fnEliminarFila(row);" mat-menu-item
                                            [disabled]="!this.bAddendaSinProcesar || this.bEditar">
                                            <mat-icon color="accent">delete</mat-icon>
                                            <span>Eliminar</span>
                                        </button>
                                    </mat-menu>
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="sTipoActivo">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header class="clsColumnaOpc">
                                    Tipo Activo
                                </th>
                                <td data-label='Tipo Activo: ' mat-cell *matCellDef="let row"
                                    class="has_label_on_mobile clsColumnaOpc">
                                    {{row.sTipoActivo}} </td>
                            </ng-container>


                            <ng-container matColumnDef="sArticulo">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header class="clsColumnaLarge">
                                    Artículo
                                </th>
                                <td data-label='Artículo: ' mat-cell *matCellDef="let row"
                                    class="has_label_on_mobile clsColumnaLarge">
                                    {{row.sArticulo}} </td>
                            </ng-container>

                            <ng-container matColumnDef="sPartNumber">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header class="clsColumnaOpc">
                                    Part. Number
                                </th>
                                <td data-label='Part. Number: ' mat-cell *matCellDef="let row"
                                    class="has_label_on_mobile clsColumnaOpc">
                                    {{row.sPartNumber}} </td>
                            </ng-container>

                            <ng-container matColumnDef="sCaracteristica">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header class="clsColumnaLarge">
                                    Característica
                                </th>
                                <td data-label='Característica: ' mat-cell *matCellDef="let row"
                                    class="has_label_on_mobile clsColumnaLarge"> {{row.sCaracteristica}}
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="nCantidad">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header class="clsColumnaCantidad">
                                    Cantidad
                                </th>
                                <td data-label='Cantidad: ' mat-cell *matCellDef="let row"
                                    class="has_label_on_mobile clsColumnaOpc2">
                                    <mat-form-field style="width: 80px;">
                                        <input [disabled]="!this.bAddendaSinProcesar || this.bEditar" min="0" matInput
                                            type="number" [(ngModel)]="row.nCantidad">
                                    </mat-form-field>
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="imagen">
                                <th mat-header-cell *matHeaderCellDef> Imagen </th>
                                <td mat-cell *matCellDef="let row" class="has_label_on_mobile clsColumnaOpc"
                                    data-label='Imagen: '>
                                    <button mat-icon-button class="fab-secondary" color="accent">
                                        <div *ngIf="row.sRutaArchivo == '' || row.sRutaArchivo == null">
                                            <div class="box">
                                                <img width="40px" height="40px" src="/assets/img/SinImagen.jpg"
                                                    (click)="fnVerImagen(null, '')">

                                            </div>
                                        </div>
                                        <div *ngIf="row.sRutaArchivo != '' && row.sRutaArchivo != null">
                                            <div class="box">
                                                <img width="40px" height="40px" [src]="row.sRutaArchivo"
                                                    (click)="fnVerImagen(row.sArticulo, row.sRutaArchivo)">

                                            </div>
                                        </div>
                                    </button>
                                </td>
                            </ng-container>
                            <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
                            <tr mat-row *matRowDef="let row; columns: displayedColumns;">
                            </tr>
                        </table>
                    </div>
                    <mat-paginator [pageSizeOptions]="[5, 10, 20]"></mat-paginator>
                </div>
            </div>
        </div>
    </div>
</div>

<!--Zona de botones-->
<div class="fab-container" [ngStyle]="{display: mostrarBotones ? 'flex' : 'none'}">
    <button mat-mini-fab class="fab-toggler" (click)="onToggleFab(1, -1)">
        <i class="material-icons" [@fabToggler]="{value: tsLista}">add</i>
    </button>
    <div [@speedDialStagger]="abLista.length">
        <ng-container *ngFor="let btn of abLista; let ibtn = index;">
            <button [disabled]="!btn.enabled" *ngIf="this[btn.state]" mat-mini-fab class="fab-secondary"
                [matTooltip]="btn.tool" matTooltipPosition="left" [color]="btn.color"
                (click)="clickFab(btn.functionName)">
                <i class="material-icons">{{btn.icon}}</i>
            </button>
        </ng-container>
    </div>
</div>