<div class="clsprincipal"> 
  <!--Modulo Principal--> 
  <div class="" [ngClass]="divList ? 'clsShow' : 'clsHide'"> 

    <div class="clstituloCrtl"> 
      <h3>Reclutamiento</h3>
    </div>

    <!--Filtro-->
    <div class="row" style="padding: 10px;">
      <div class="col-sm-3">
        <mat-form-field>
          <mat-label>Filtro</mat-label>
          <input matInput (keyup)="applyFilter($event.target.value)"  [formControl]="txtControl" >
        </mat-form-field>
      </div>
      <div class="col-sm-1" style="margin: 15px 45px 0px 0px;">
        <button mat-raised-button (click)="openDialogHistorico()">Historico</button> 
      </div>
      <div class="col-sm-7 clsRadio">
        <mat-radio-group
        aria-labelledby="example-radio-group-label"
        class="example-radio-group"
        [formControl]="positionFilter"  >
        <mat-radio-button class="example-radio-button"   *ngFor="let season of seasons" [checked]="season.checked" [value]="season.id">
          {{season.valor}}
        </mat-radio-button>
        </mat-radio-group> 
      </div>
    </div>

    <!--Tabla Principal-->
    <div class="col-sm-12">
      <div class="example-container mat-elevation-z8 clsTablePri">
        <table mat-table [dataSource]="dataSource" matSort>

          <!-- ID Column -->
          <ng-container matColumnDef="pCodPostulacion" sticky>
            <th mat-header-cell *matHeaderCellDef mat-sort-header class="clsColumnaOpc"> Opcion</th>
            <td mat-cell *matCellDef="let row" class="clsColumnaOpc"> 
              <button mat-stroked-button (click)="fnDatos(row.pCodPostulacion)" color="accent">
                <mat-icon> create</mat-icon>
              </button> 
            </td>
          </ng-container>
          
          <ng-container matColumnDef="pTipDoc">
            <th mat-header-cell *matHeaderCellDef mat-sort-header  class="clsColumnaLib"> Tipo Documento  </th>
            <td mat-cell *matCellDef="let row"  class="clsColumnaLib"> {{row.pTipDoc}} </td>
          </ng-container> 

          <!-- Progress Column -->
          <ng-container matColumnDef="pNumDoc">
            <th mat-header-cell *matHeaderCellDef mat-sort-header class="clsColumnaLib"> Numero de Documento </th>
            <td mat-cell *matCellDef="let row"> {{row.pNumDoc}} </td>
          </ng-container> 

          <ng-container matColumnDef="pNom">
            <th mat-header-cell *matHeaderCellDef mat-sort-header class="clsColumnaLarge"> Apellidos y Nombres </th>
            <td mat-cell *matCellDef="let row"  class="clsColumnaLarge"> {{row.pNom}} </td>
          </ng-container> 

          <ng-container matColumnDef="pNumCelular">
            <th mat-header-cell *matHeaderCellDef mat-sort-header class="clsColumnaLib"> Tlf. Móvil </th>
            <td mat-cell *matCellDef="let row"> {{row.pNumCelular}} </td>
          </ng-container> 

          <ng-container matColumnDef="pCorreo">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Correo </th>
            <td mat-cell *matCellDef="let row"> {{row.pCorreo}} </td>
          </ng-container> 

          <ng-container matColumnDef="pPuesto">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Puesto </th>
            <td mat-cell *matCellDef="let row"> {{row.pPuesto}} </td>
          </ng-container> 

          <ng-container matColumnDef="pFechaCita">
            <th mat-header-cell *matHeaderCellDef mat-sort-header class="clsColumnaOpc"> Fecha de Cita	 </th>
            <td mat-cell *matCellDef="let row" class="clsColumnaOpc"> {{row.pFechaCita}} </td>
          </ng-container> 

          <ng-container matColumnDef="pHoraCita">
            <th mat-header-cell *matHeaderCellDef mat-sort-header class="clsColumnaOpc"> Hora de Cita </th>
            <td mat-cell *matCellDef="let row" class="clsColumnaOpc"> {{row.pHoraCita}} </td>
          </ng-container> 

          <ng-container matColumnDef="pTurno">
            <th mat-header-cell *matHeaderCellDef mat-sort-header class="clsColumnaOpc"> Turno </th>
            <td mat-cell *matCellDef="let row" class="clsColumnaOpc"> {{row.pTurno}} </td>
          </ng-container> 

          <ng-container matColumnDef="pFuenteCont">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Fuente </th>
            <td mat-cell *matCellDef="let row"> {{row.pFuenteCont}} </td>
          </ng-container> 

          <ng-container matColumnDef="pCitado">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Citado </th>
            <td mat-cell *matCellDef="let row"> {{row.pCitado}} </td>
          </ng-container> 
          <ng-container matColumnDef="pContactado">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Contactado </th>
            <td mat-cell *matCellDef="let row"> {{row.pContactado}} </td>
          </ng-container> 
          <ng-container matColumnDef="pMedioContacto">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Medio de Contacto </th>
            <td mat-cell *matCellDef="let row"> {{row.pMedioContacto}} </td>
          </ng-container> 
          <ng-container matColumnDef="pMotNoCita">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Motivo de no Citación </th>
            <td mat-cell *matCellDef="let row"> {{row.pMotNoCita}} </td>
          </ng-container> 
          <ng-container matColumnDef="pMotNoCont">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> 	Motivo de no Contactación </th>
            <td mat-cell *matCellDef="let row"> {{row.pMotNoCont}} </td>
          </ng-container> 
          <ng-container matColumnDef="pUltEstCont">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Último Estado de Contactación </th>
            <td mat-cell *matCellDef="let row"> {{row.pUltEstCont}} </td>
          </ng-container> 

          <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;">
          </tr>
        </table>

      </div>
      <mat-paginator [pageSizeOptions]="[10]"></mat-paginator>
    </div>

  </div>

  <!--Modulo Crear/Editar RQ-->
  <div class="" [ngClass]="divCreate ? 'clsShow' : 'clsHide'">
    <mat-card>
      <mat-card-header class="clstituloCrtl">
        <mat-card-title >Ficha de Postulante</mat-card-title>
        <mat-divider [inset]="true"></mat-divider>
      </mat-card-header>  
      <mat-card-content>
        <mat-divider [inset]="true"></mat-divider> 
        <mat-horizontal-stepper linear #stepper>
          <mat-step [stepControl]="DatosFormGroup"> 
            <form [formGroup]="DatosFormGroup">    
              <ng-template matStepLabel>Datos Personales</ng-template>
              <div class="row">
                <div class="col-sm-3">
                  <mat-form-field>
                    <mat-label>Tipo de Documento</mat-label>
                    <mat-select formControlName="TipoDoc">
                      <mat-option *ngFor="let vMatOpcion of lCboTipoDocumento" [value]="vMatOpcion.codigo" >  
                        {{vMatOpcion.valor}} 
                      </mat-option> 
                    </mat-select>
                  </mat-form-field> 
                </div>      
                <div class="col-sm-3"> 
                  <mat-form-field class="example-form-field">
                    <mat-label>N° de Documento</mat-label>
                    <input matInput type="text"   name="valueNDoc" formControlName="NumDoc"> 
                  </mat-form-field>
                </div>      
                <div class="col-sm-3"> 
                  <mat-form-field class="example-form-field">
                    <mat-label>Primer Nombre</mat-label>
                    <input matInput type="text"   name="valuePriN" formControlName="PrimerMombre"> 
                  </mat-form-field>
                </div>       
                <div class="col-sm-3"> 
                  <mat-form-field class="example-form-field">
                    <mat-label>Segundo Nombre</mat-label>
                    <input matInput type="text"  name="valueSegN" formControlName="SegundoMombre"> 
                  </mat-form-field>
                </div> 
              </div>  
              <div class="row">
                <div class="col-sm-3">
                  <mat-form-field class="example-form-field">
                    <mat-label>Apellido Paterno</mat-label>
                    <input matInput type="text"   name="valueAPat" formControlName="PrimerApellido"> 
                  </mat-form-field>
                </div>      
                <div class="col-sm-3"> 
                  <mat-form-field class="example-form-field">
                    <mat-label>Apellido Materno</mat-label>
                    <input matInput type="text"   name="valueAMat" formControlName="SegundoApellido"> 
                  </mat-form-field>
                </div>      
                <div class="col-sm-3"> 
                  <mat-form-field class="example-form-field">
                    <mat-label>Celular</mat-label>
                    <input matInput type="text"   name="valueCel" formControlName="Celular"> 
                  </mat-form-field>
                </div>       
                <div class="col-sm-3"> 
                  <mat-form-field class="example-form-field">
                    <mat-label>Celular Opcional</mat-label>
                    <input matInput type="text"   name="valuePues" formControlName="CelularOpc"> 
                  </mat-form-field>
                </div> 
                <div style="padding-bottom: 10px; width:100%;">
                  <div class="clsSeparador col-md-12"></div>
                </div>
              </div>  
              
              <div class="row">
                <div class="col-sm-6">
                  <mat-form-field>
                    <mat-label>Correo</mat-label>
                    <input matInput type="text"  name="valueNDoc"  formControlName="Correo"> 
                  </mat-form-field> 
                </div>  
                <div class="col-sm-6">
                  <mat-form-field>
                    <mat-label>Puesto</mat-label>
                    <input matInput type="text"  name="valueNDoc" formControlName="Puesto"> 
                  </mat-form-field> 
                </div>  
              </div>  
              <div class="row">
                <div class="col-sm-6">
                  <mat-form-field>
                    <mat-label>Dirección</mat-label>
                    <input matInput type="text"  name="valueNDoc"  formControlName="Direccion"> 
                  </mat-form-field> 
                </div>  
                <div class="col-sm-3">
                  <mat-form-field>
                    <mat-label>Distrito</mat-label>
                    <input matInput type="text"  name="valueNDoc" readonly (click)="openDialogUbigeo()" formControlName="Distrito"> 
                  </mat-form-field> 
                </div>   
                <div class="col-sm-3" class="clsHide">
                  <mat-form-field >
                    <mat-label>Distrito</mat-label>
                    <input matInput type="text"  name="valueNDoc" formControlName="CodDistrito"> 
                  </mat-form-field> 
                </div>  
              </div>  
            </form> 
          </mat-step> 
          <mat-step [stepControl]="ContactoFormGroup" >
            <form [formGroup]="ContactoFormGroup">
              <ng-template matStepLabel>Contactación</ng-template>
              <div class="row">
                <div class="col-sm-4">
                  <mat-form-field>
                    <mat-label>Medio de Contacto</mat-label>
                    <mat-select formControlName="MedioContactacion" (selectionChange)="fnContactado()">
                      <mat-option *ngFor="let vMatOpcion of lCboMedioCont"  [value]="vMatOpcion.codigo" >  
                        {{vMatOpcion.valor}} 
                      </mat-option> 
                    </mat-select> 
                  </mat-form-field> 
                </div>
                <div class="col-sm-4">
                  <mat-form-field>
                    <mat-label>Contactado</mat-label>
                    <mat-select formControlName="Contactado" (selectionChange)="fnContactado()">
                      <mat-option *ngFor="let vMatOpcion of estado"  [value]="vMatOpcion.id" >  
                        {{vMatOpcion.valor}} 
                      </mat-option> 
                    </mat-select>
                  </mat-form-field> 
                </div>
                <div class="col-sm-4">
                  <mat-form-field>
                    <mat-label>Fuente</mat-label> 
                    <mat-select formControlName="Fuente" (selectionChange)="fnFuente()">
                      <mat-option *ngFor="let vMatOpcion of lCboTipoFuente" [value]="vMatOpcion.codigo" >  
                        {{vMatOpcion.valor}} 
                      </mat-option> 
                    </mat-select>
                  </mat-form-field> 
                </div>
                <div class="col-sm-4">
                  <mat-form-field>
                    <mat-label>Referido</mat-label>
                    <input matInput type="text"   formControlName="Referido"> 
                  </mat-form-field> 
                </div>      
                <div class="col-sm-4">
                  <mat-form-field>
                    <mat-label>Motivo de NO Contactación</mat-label>
                    <mat-select formControlName="NoContactacion"  >
                      <mat-option *ngFor="let vMatOpcion of lCboMotNoCont"   [value]="vMatOpcion.codigo" >  
                        {{vMatOpcion.valor}} 
                      </mat-option> 
                    </mat-select>
                  </mat-form-field> 
                </div>
              </div>  
            </form>
            <form [formGroup]="CitaFormGroup"> 
              <div class="row">
                <div class="col-sm-4">
                  <mat-form-field>
                    <mat-label>Citado</mat-label>
                    <mat-select formControlName="Citado"  (selectionChange)="fnCita()">
                      <mat-option *ngFor="let vMatOpcion of estado"  [value]="vMatOpcion.id" >  
                        {{vMatOpcion.valor}} 
                      </mat-option> 
                    </mat-select>
                  </mat-form-field> 
                </div>
                <div class="col-sm-4">
                  <mat-form-field>
                    <mat-label>Fecha de Cita</mat-label>
                    <input matInput [matDatepicker]="fr" readonly  formControlName="Fecha"  >
                    <mat-datepicker-toggle matSuffix [for]="fr"></mat-datepicker-toggle>
                    <mat-datepicker #fr></mat-datepicker>
                  </mat-form-field>  
                </div>
                <div class="col-sm-4">
                  <mat-form-field>
                    <mat-label>Hora de Cita</mat-label>
                    <mat-select formControlName="Hora" (selectionChange)="fnGetHora()">
                      <mat-option *ngFor="let vMatOpcion of lCboHorario"   [value]="vMatOpcion.pIdTurno" >  
                        {{vMatOpcion.pHora}} 
                      </mat-option> 
                    </mat-select>
                  </mat-form-field> 
                </div>
                <div class="col-sm-4">
                  <mat-form-field>
                    <mat-label>Turno</mat-label>
                    <input matInput type="text"  formControlName="Turno">  
                  </mat-form-field> 
                </div>      
                <div class="col-sm-4">
                  <mat-form-field>
                    <mat-label>Motivo de NO Citación</mat-label>
                    <mat-select formControlName="Nocitado"  (selectionChange)="fnNoCita()" >
                      <mat-option *ngFor="let vMatOpcion of lCboMotNoCita" [value]="vMatOpcion.codigo" >  
                        {{vMatOpcion.valor}} 
                      </mat-option> 
                    </mat-select>
                  </mat-form-field> 
                </div>
                <div class="col-sm-4">
                  <mat-form-field>
                    <mat-label>Último Estado de Contactación</mat-label>
                    <input matInput type="text"  formControlName="UltEstCont"> 
                  </mat-form-field>
                </div> 
              </div>  
            </form>
          </mat-step> 
          <!-- <mat-step>
            <ng-template matStepLabel>Done</ng-template>
            <p>You are now done.</p>
            <div>
              <button mat-button matStepperPrevious>Back</button>
              <button mat-button (click)="stepper.reset()">Reset</button>
            </div>
          </mat-step> -->
        </mat-horizontal-stepper>
      </mat-card-content>
      <mat-card-actions>  
        <button mat-raised-button color="warn" (click)="fnChange(0)">Cancelar</button>
        <button mat-raised-button (click)="openDialogFicha()">Ficha</button>
        <button mat-raised-button class="buttonAction" (click)="fnAction(stepper,4)">Guardar</button> 
      </mat-card-actions>
    </mat-card>
  </div>

</div>
 