.title-card {
    background-color: #334D6E;
    color           : white;
    font-size       : 25px;
    font-weight     : 500;
}

.Close {
    float        : right;
    margin-bottom: 0.1rem;
    padding-top  : 0.1rem;
}


table {
    width: 100%;
}

td,
th {
    font-size: 14px;
}

.mat-header-row {
    background-color: rgb(51, 77, 110);
    height          : 40px;
    margin-left     : 10px
}

.mat-header-row .mat-header-cell {
    color      : white;
    height     : 10px;
    margin-left: 10px;
}

.example-container {
    width   : 100%;
    overflow: auto;
    height  : 15rem;
}

.modal-header .close {
    margin: -1rem -1rem -1rem -1rem !important;
}

.clsContent {
    padding-top: 1rem;
    overflow   : initial;
}

.clsTitle {
    padding-top: 0.5rem;
}

.clsHeader {
    align-items: center;
    padding    : 0 !important;
}

.clsColumnOpcion {
    width: 40%
}

.clsColumnUser {
    width: 30%
}

.clsColumnFecha {
    width: 30%
}

.clsBtnDelete {
    margin-right: 1rem;
    margin-left : 1rem;
}