/******************/
.form-row mat-form-field {
  width: 100%;
}
.mat-primary .mat-option.mat-selected:not(.mat-option-disabled) {
  color: unset;
}
.mat-option-pseudo-checkbox.mat-pseudo-checkbox-checked {
  background-color: #ff4081;
}

.modal-header {
  background-color: rgb(51, 77, 110);
  color: white;
}

.modal-header button {
  color: white !important;
  text-shadow: none !important;
  outline: none;
}

.fab-container {
  position: fixed;
  top: 100px;
  right: 50px;
  z-index: 150;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.fab-container > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 5px;
}

.fab-container > div > button {
  margin-top: 10px;
  outline: none;
}

.fab-toggler {
  float: right;
  z-index: 100;
  outline: none;
}

.mat-expansion-panel-header[aria-disabled="true"] {
  color: black !important;
}

.mat-expansion-panel-header {
  height: 40px !important;
  border-bottom-style: solid;
  border-bottom-width: 0.5px;
  border-bottom-color: #8080805c;
  margin-bottom: .25rem;
}

.expansion{
  height: 600px !important;
  overflow-y: auto !important;
}

.mat-expanded {
  border-top-color: #ff4081;
  border-top-width: 0.5px;
  border-top-style: solid;
}
.mat-radio-button ~ .mat-radio-button {
  margin-left: 5px;
}

