<ngx-spinner name="spi_new" [fullScreen]="true" type="ball-clip-rotate-multiple" size="medium">
  <p style="color: white; padding-top: 50px">Cargando información...</p>
</ngx-spinner>
<div class="fab-container">
  <button mat-mini-fab class="fab-toggler">
    <i class="material-icons" [@fabToggler]="{value: tsDetail}">add</i>
  </button>
  <div [@speedDialStagger]="abDetail.length">
    <button *ngFor="let btn of abDetail; let ibtn = index;" mat-mini-fab class="fab-secondary" color="secondary"
      [disabled]="btn.dis" (click)="clickFab(ibtn)">
      <i class="material-icons" matTooltip="{{btn.tool}}" matTooltipPosition="left">{{btn.icon}}</i>
    </button>
  </div>
</div>
<div class="modal-header">
  <h4> INFO PERSONAL </h4>
  <button class="close" (click)="fnCloseModal()">
    <mat-icon>close</mat-icon>
  </button>
</div>
<div class="modal-body">
  <div class="row">
    <div class="col-lg-4">
      <mat-accordion>
        <mat-expansion-panel [expanded]="true" [disabled]="true">
          <mat-expansion-panel-header>
            <mat-panel-title>
              Información del trabajador:
            </mat-panel-title>
            <mat-icon>view_list</mat-icon>
          </mat-expansion-panel-header>
          <mat-selection-list class="expansion" [formControl]="fieldsCtrl">
            <mat-list-option class="card mt-2" (click)="toggleAllSelectionField(allSelected)" [value]="0" #allSelected>
              -Todos-
            </mat-list-option>
            <mat-list-option class="card mt-2" *ngFor="let field of fields" [value]="field" [disabled]="field.disable">
              {{field.header}}
            </mat-list-option>
          </mat-selection-list>
        </mat-expansion-panel>
      </mat-accordion>
    </div>

    <mat-divider [vertical]="true"></mat-divider>

    <form [formGroup]="form" class="col-lg">
      <div class="form-row">
        <div class="col-lg-6">
          <mat-accordion multi>
            <mat-expansion-panel [expanded]="true">
              <mat-expansion-panel-header>
                <mat-panel-title>
                  Filtro por datos personales:
                </mat-panel-title>
                <mat-icon class="mr-2">person</mat-icon>
              </mat-expansion-panel-header>
              <div class="form-row">
                <div class="col-lg-12">
                  <mat-form-field>
                    <mat-label>Nombre</mat-label>
                    <mat-select #persona formControlName="nPersonas" multiple>
                      <mat-option [value]="0" (click)="toggleAllSelection(persona)">-Todos-</mat-option>
                      <mat-option *ngFor="let item of personas" [value]="item.nId">
                        {{item.sDescripcion}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
                <div class="col-lg-6">
                  <mat-form-field>
                    <mat-label>Estado Civil</mat-label>
                    <mat-select #persona formControlName="nEstadosCivil" multiple>
                      <mat-option [value]="0" (click)="toggleAllSelection(persona)">-Todos-</mat-option>
                      <mat-option *ngFor="let item of estCiviles" [value]="item.nId">
                        {{item.sDescripcion}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
                <div class="col-lg-6">
                  <mat-form-field>
                    <mat-label>Nacionalidad</mat-label>
                    <mat-select #persona formControlName="nNacionalidades" multiple>
                      <mat-option [value]="0" (click)="toggleAllSelection(persona)">-Todos-</mat-option>
                      <mat-option *ngFor="let item of estCiviles" [value]="item.nId">
                        {{item.sDescripcion}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
                <div class="col-lg-2 mt-3" style="margin-bottom: 14px">
                  <mat-label style="font-weight: 500;">Género:</mat-label>
                </div>
                <div class="col-lg-10 mt-3" style="margin-bottom: 14px">
                  <mat-radio-group formControlName="nGenero">
                    <mat-radio-button *ngFor="let item of generos" [value]="item.nId">
                      {{item.sDescripcion}}
                    </mat-radio-button>
                  </mat-radio-group>
                </div>
              </div>
            </mat-expansion-panel>

            <mat-expansion-panel [expanded]="true">
              <mat-expansion-panel-header>
                <mat-panel-title>
                  Filtro por datos de empresa:
                </mat-panel-title>
                <mat-icon class="mr-2">groups</mat-icon>
              </mat-expansion-panel-header>
              <div class="form-row">
                <div class="col-lg-12">
                  <mat-form-field>
                    <mat-label>Jefe Inmediato</mat-label>
                    <mat-select #jefe formControlName="nJefes" multiple>
                      <mat-option [value]="0" (click)="toggleAllSelection(jefe)">-Todos-</mat-option>
                      <mat-option *ngFor="let item of jefesInmediato" [value]="item.nId">
                        {{item.sDescripcion}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
                <div class="col-lg-12">
                  <mat-form-field>
                    <mat-label>Planilla</mat-label>
                    <mat-select formControlName="nIdPlanillas" multiple>
                      <mat-option>-Todos-</mat-option>
                      <mat-option *ngFor="let item of planillas" [value]="item.nId">
                        {{item.sDescripcion}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
                <div class="col-lg-6">
                  <mat-form-field>
                    <mat-label>Sucursal</mat-label>
                    <mat-select formControlName="nIdSucursales" multiple>
                      <mat-option>-Todos-</mat-option>
                      <mat-option *ngFor="let item of sucursales" [value]="item.nId">
                        {{item.sDescripcion}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
              </div>
            </mat-expansion-panel>
            <mat-expansion-panel [expanded]="true">
              <mat-expansion-panel-header>
                <mat-panel-title>
                  Filtro por sistema pensionario:
                </mat-panel-title>
                <mat-icon class="mr-2">location_city</mat-icon>
              </mat-expansion-panel-header>
              <div class="form-row">
                <div class="col-lg-6">
                  <mat-form-field>
                    <mat-label>Régimen pensionario</mat-label>
                    <mat-select formControlName="nIdRegPensiones" multiple>
                      <mat-option>-Todos-</mat-option>
                      <mat-option *ngFor="let item of regPensionarios" [value]="item.nId">
                        {{item.sDescripcion}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
                <div class="col-lg-6">
                  <mat-form-field>
                    <mat-label>Cuspp</mat-label>
                    <input matInput formControlName="sCuspp" />
                  </mat-form-field>
                </div>
              </div>
            </mat-expansion-panel>
          </mat-accordion>
        </div>
        <div class="col-lg-6">
          <mat-accordion multi>
            <mat-expansion-panel [expanded]="true">
              <mat-expansion-panel-header>
                <mat-panel-title>
                  Filtro por Ubigeo:
                </mat-panel-title>
                <mat-icon class="mr-2">location_on</mat-icon>
              </mat-expansion-panel-header>
              <div class="form-row">
                <div class="col-lg-12">
                  <mat-form-field>
                    <mat-label>Departamento</mat-label>
                    <mat-select formControlName="sDepa">
                      <mat-option [value]="0">-Todos-</mat-option>
                      <mat-option *ngFor="let item of depas" [value]="item.sCodDepa">
                        {{item.sNomDepa}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
                <div class="col-lg-12">
                  <mat-form-field>
                    <mat-label>Provincia</mat-label>
                    <mat-select formControlName="sProv">
                      <mat-option [value]="0">-Todos-</mat-option>
                      <mat-option *ngFor="let item of provs" [value]="item.sCodProv">
                        {{item.sNomProv}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
                <div class="col-lg-12">
                  <mat-form-field>
                    <mat-label>Distrito</mat-label>
                    <mat-select formControlName="sDist">
                      <mat-option [value]="0">-Todos-</mat-option>
                      <mat-option *ngFor="let item of dists" [value]="item.sCodDist">
                        {{item.sNomDist}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
              </div>
            </mat-expansion-panel>

            <mat-expansion-panel [expanded]="true">
              <mat-expansion-panel-header>
                <mat-panel-title>
                  Filtro por organización:
                </mat-panel-title>
                <mat-icon class="mr-2">work</mat-icon>
              </mat-expansion-panel-header>
              <div class="form-row">
                <div class="col-lg-12">
                  <mat-form-field>
                    <mat-label>Dirección</mat-label>
                    <mat-select formControlName="nIdDirecciones" multiple>
                      <mat-option [value]="0">-Todos-</mat-option>
                      <mat-option *ngFor="let item of direcciones" [value]="item.nId">
                        {{item.sDescripcion}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
                <div class="col-lg-12">
                  <mat-form-field>
                    <mat-label>Área</mat-label>
                    <mat-select formControlName="nIdAreas" multiple>
                      <mat-option [value]="0">-Todos-</mat-option>
                      <mat-option *ngFor="let item of areas" [value]="item.nId">
                        {{item.sDescripcion}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
              </div>
            </mat-expansion-panel>

            <mat-expansion-panel [expanded]="true">
              <mat-expansion-panel-header>
                <mat-panel-title>
                  Filtro por datos bancarios:
                </mat-panel-title>
                <mat-icon class="mr-2">account_balance</mat-icon>
              </mat-expansion-panel-header>
              <div class="form-row">
                <div class="col-lg-12">
                  <mat-form-field>
                    <mat-label>Banco Haberes</mat-label>
                    <mat-select formControlName="nIdBancosHaber" multiple>
                      <mat-option [value]="0">-Todos-</mat-option>
                      <mat-option *ngFor="let item of haberBancos" [value]="item.nId">
                        {{item.sDescripcion}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
                <div class="col-lg-12">
                  <mat-form-field>
                    <mat-label>Banco CTS</mat-label>
                    <mat-select formControlName="nIdBancosCts" multiple>
                      <mat-option [value]="0">-Todos-</mat-option>
                      <mat-option *ngFor="let item of ctsBancos" [value]="item.nId">
                        {{item.sDescripcion}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
              </div>
            </mat-expansion-panel>
          </mat-accordion>
        </div>
      </div>
    </form>
  </div>
</div>