.center-text-card {
  text-align: center;
}

.form-row .form-group label {
  font-size: 12.5px;
}

/*Para darle color a los disables*/
::ng-deep .mat-select-content {
  width: 100%;
}

:host /deep/ .mat-form-field-disabled input {
  color: black;
}

::ng-deep .mat-select-value {
  color: black !important;
}

:host /deep/.mat-checkbox-checked.mat-accent.mat-checkbox-disabled {
  color: black !important;
}

ng-select-value {
  color: black !important;
}

.card-header {
  background-color: rgb(51, 77, 110);
  color: white;
}

::ng-deep
  .ng-select.ng-invalid.ng-touched
  .ng-select-container
  .ng-value-container
  .ng-placeholder {
  color: #f44336;
}

::ng-deep .ng-select.ng-invalid.ng-touched .ng-arrow-wrapper .ng-arrow {
  color: #f44336;
}

::ng-deep .ng-select.ng-invalid.ng-touched .ng-select-container:after {
  border-bottom: thin solid #f44336 !important;
}

::ng-deep .ng-select.ng-select-disabled span.ng-star-inserted {
  color: black !important;
}

ng-select ~ mat-error {
  font-size: 12px;
  margin-top: -8px;
}
