th.mat-header-cell,
td.mat-cell,
td.mat-footer-cell,
th.mat-header-cell:first-of-type,
td.mat-cell:first-of-type,
td.mat-cell:last-of-type,
th.mat-header-cell:last-of-type {
  padding: 0.25em 0.5em !important;
}

.example-container {
  width: 100%;
  overflow: auto;
  height: 400px;
}

.row mat-form-field {
  width: 100%;
}

table {
  width: 100%;
}

th.mat-header-cell {
  text-align: center !important;
  background-color: rgb(51, 77, 110);
  color: white;
  font-size: 14px;
}

.mat-column-accion,
.mat-column-sFechaTranslado,
.mat-column-sCodTransporte,
.mat-column-sPresupuesto {
  text-align: center;
}
.mat-column-nPeso,
.mat-column-nVolumen,
.mat-column-nPrecio {
  text-align: center;
}

.sticky-header {
  top: 0px;
  position: sticky;
  z-index: 100;
}
