  /* Botones Flotantes */

  .fab-container {
    position: fixed;
    top: 100px;
    right: 50px;
    z-index: 150;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .fab-container>div {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 5px;
  }
  
  .fab-container>div>button {
    margin-top: 10px;
    outline: none;
  }

  /* Titulo Card  */

  .card-header {
    background-color: #334d6e;
    color: white;
    min-width: 100%;
    margin: 0px;
  }

  /* Mat Table */

  table {
    width: 100%;
  }
  
  td, th {
      font-size: 14px;
  }

  .example-container {
    height: 400px;
    width: 100%;
    overflow: auto;
  }

  .example-container2 {
    height: 250px;
    width: 100%;
    overflow: auto;
  }

  .clsColumnaLib {
    width: 80px;
  }

  .input {
    width: 100%;
  }
  
  /* Tamaño de Ng Select igual a inputs  */
  .ngselect{
   padding-bottom:3.5px; 
   bottom:0.35rem
  }

  .ngselect1{
    padding-bottom:3.5px; 
   }

  /* Mat Expansion Panel */
 .example-headers-align .mat-expansion-panel-header-title,
 .example-headers-align .mat-expansion-panel-header-description {
   flex-basis: 0;
   color: #002c4b; 
   font-weight: bold;
 }
 
 .example-headers-align .mat-expansion-panel-header-description {
   justify-content: flex-end;
   align-items: center;
 }
 
 .example-headers-align .mat-form-field + .mat-form-field {
   margin-left: 8px;
 }

