<ngx-spinner name="spi_boletas" [fullScreen]="false" type="ball-clip-rotate-multiple" size="medium">
  <p style="color: white; padding-top: 50px">Cargando información...</p>
</ngx-spinner>

<div class="fab-container">
  <button mat-mini-fab class="fab-toggler" (click)="onToggleFab(-1)">
    <i class="material-icons" [@fabToggler]="{ value: tsDetail }">add</i>
  </button>
  <div [@speedDialStagger]="abDetail.length">
    <button *ngFor="let btn of abDetail; let index = index" mat-mini-fab class="fab-secondary" color="secondary"
      (click)="clickFab(index)" [disabled]="btn.disabled">
      <i class="material-icons" matTooltip="{{ btn.tool }}" matTooltipPosition="left">{{ btn.icon }}</i>
    </button>
  </div>
</div>

<div class="modal-header">
  <h4 class="modal-title">Consulta de boletas</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss()">
    <span class="material-icons">close</span>
  </button>
</div>

<div class="modal-body" style="padding-bottom: 20px">
  <div class="row">
    <div class="col-lg-6">
      <mat-accordion>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title> Periodo laboral </mat-panel-title>
            <mat-panel-description style="margin-right: 0px">
            </mat-panel-description>
            <mat-icon style="margin-right: 10px">filter_alt</mat-icon>
          </mat-expansion-panel-header>

          <!-- <div class="row"> -->
          <div [formGroup]="fgPeriodoLaboral" style="padding-top: 10px">
            <!-- <div class="form-row"> -->
            <mat-form-field style="width: 100%">
              <mat-label>Periodo laboral</mat-label>
              <mat-select formControlName="periodoLaboral" (selectionChange)="onChangePeriodoLaboral($event.value)">
                <mat-option *ngFor="let elem of lstPeriodosLaborales" [value]="elem.periodoLaboralId">
                  Desde : {{ elem.fechaInicio }} - Hasta : {{ elem.fechaFin }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </mat-expansion-panel>

        <mat-expansion-panel [expanded]="true">
          <mat-expansion-panel-header>
            <mat-panel-title> Devengue </mat-panel-title>
            <mat-panel-description style="margin-right: 0px">
            </mat-panel-description>
            <mat-icon style="margin-right: 10px">filter_alt</mat-icon>
          </mat-expansion-panel-header>

          <div style="padding-top: 10px">
            <form autocomplete="off" [formGroup]="fgSearchBoletas">
              <div class="form-row">
                <div class="col-lg-5">
                  <mat-form-field style="width: 100%">
                    <mat-label>Año</mat-label>
                    <mat-select formControlName="anio" (selectionChange)="onChangeAnio($event.value)">
                      <mat-option *ngFor="let elem of lstAnios" [value]="elem.value">
                        {{ elem.text }}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>

                <div class="col-lg-7">
                  <mat-form-field style="width: 100%">
                    <mat-label>Mes</mat-label>
                    <input type="text" matInput formControlName="mes" />
                    <button style="outline: none" mat-button *ngIf="getSearchBoletas.mes.value" matSuffix
                      mat-icon-button aria-label="Clear" (click)="getSearchBoletas.mes.patchValue('')">
                      <mat-icon>close</mat-icon>
                    </button>
                  </mat-form-field>
                </div>
              </div>
            </form>
          </div>

          <div id="searchDiv" class="mat-elevation-z8">
            <mat-table [dataSource]="searchBS" class="mat-elevation-z8">
              <!-- Checkbox Column -->
              <ng-container matColumnDef="select">
                <mat-header-cell *matHeaderCellDef>
                  <mat-checkbox (change)="$event ? masterToggle() : null"
                    [checked]="selection.hasValue() && isAllSelected()"
                    [indeterminate]="selection.hasValue() && !isAllSelected()" [aria-label]="checkboxLabel()">
                  </mat-checkbox>
                </mat-header-cell>
                <mat-cell *matCellDef="let row">
                  <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null"
                    [checked]="selection.isSelected(row)" [aria-label]="checkboxLabel(row)">
                  </mat-checkbox>
                </mat-cell>
              </ng-container>

              <!-- Position Column -->
              <ng-container matColumnDef="position">
                <mat-header-cell *matHeaderCellDef> No. </mat-header-cell>
                <mat-cell *matCellDef="let element">
                  {{ element.position }}
                </mat-cell>
              </ng-container>

              <!-- Año Column -->
              <ng-container matColumnDef="anio">
                <mat-header-cell *matHeaderCellDef> Año </mat-header-cell>
                <mat-cell *matCellDef="let element">
                  {{ element.anio }}
                </mat-cell>
              </ng-container>

              <!-- Mes Column -->
              <ng-container matColumnDef="mes">
                <mat-header-cell *matHeaderCellDef> Mes </mat-header-cell>
                <mat-cell *matCellDef="let element">
                  {{ element.mes }}
                </mat-cell>
              </ng-container>

              <!-- Name Column -->
              <ng-container matColumnDef="montoIngresos">
                <mat-header-cell *matHeaderCellDef>
                  Total Ing.
                </mat-header-cell>
                <mat-cell *matCellDef="let element">
                  {{ element.montoIngresos }}
                </mat-cell>
              </ng-container>

              <!-- Weight Column -->
              <ng-container matColumnDef="montoDescuento">
                <mat-header-cell *matHeaderCellDef>
                  Total Dscto.
                </mat-header-cell>
                <mat-cell *matCellDef="let element">
                  {{ element.montoDescuento }}
                </mat-cell>
              </ng-container>

              <!-- Symbol Column -->
              <ng-container matColumnDef="montoNeto">
                <mat-header-cell *matHeaderCellDef>
                  Total Neto
                </mat-header-cell>
                <mat-cell *matCellDef="let element">
                  {{ element.montoNeto }}
                </mat-cell>
              </ng-container>

              <ng-container matColumnDef="noData">
                <mat-footer-cell *matFooterCellDef [attr.colspan]="searchBC.length">
                  No se encuentran registros.
                </mat-footer-cell>
              </ng-container>

              <mat-header-row *matHeaderRowDef="searchBC"></mat-header-row>
              <mat-row *matRowDef="let row; columns: searchBC" (click)="onVisualizarBoleta(row)"></mat-row>
              <mat-footer-row *matFooterRowDef="['noData']"
                [hidden]="searchBS && this.searchBS.filteredData.length > 0">
              </mat-footer-row>
            </mat-table>

            <mat-paginator #searchB style="display: contents" [hidePageSize]="false" [pageSize]="4">
            </mat-paginator>
          </div>
        </mat-expansion-panel>
      </mat-accordion>
    </div>

    <div class="col-lg-6">
      <div class="row">
        <div class="col-sm">
          <h6>Detalle de boleta :</h6>
          <hr style="margin-top: 0px; margin-bottom: 20px" />
        </div>
      </div>

      <div class="row">
        <div class="col-lg">
          <iframe id="pdf-boleta" style="width: 100%; height: 400px"></iframe>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal-footer">
  <mat-progress-bar *ngIf="pbBoleta" color="accent" mode="indeterminate"></mat-progress-bar>
</div>