<div class="transporte">
  <h5 class="card-header">
    Listado de Choferes
    <button class="close button-modal-lucky" matDialogClose>
      <mat-icon>close</mat-icon>
    </button>
  </h5>
  <div mat-dialog-content>
    <div class="row justify-content-center">
      <div class="col-md-6">

        <mat-form-field style="width: 100%;">
          <mat-label>Buscar:</mat-label>
          <input type="text" matInput [formControl]="txtFiltro" (input)="fnFiltrar()">
          <button style="outline: none;" mat-button *ngIf="txtFiltro.value" matSuffix mat-icon-button aria-label="Clear"
            (click)="this.txtFiltro.setValue('');">
            <mat-icon>close</mat-icon>
          </button>
        </mat-form-field>
      </div>

    </div>
    <mat-card>

      <div id="listaMobile" class="example-container mat-elevation-z8" [style.height.px]="300">
        <table mat-table [dataSource]="dsChoferes" matSort>
          <ng-container *ngFor="let col of cols;" matColumnDef="{{col.field}}" [ngSwitch]="col.type">

            <!-- #region Designación de sort en header -->
            <ng-template [ngIf]="col.type == 'accion'" [ngIfElse]="withSort">
              <th mat-header-cell *matHeaderCellDef [style.width.px]="col.width" [style.textAlign]="col.align">
                {{col.header}}
              </th>
            </ng-template>
            <ng-template #withSort>
              <th mat-header-cell *matHeaderCellDef mat-sort-header [style.width.px]="col.width"> {{col.header}} </th>
            </ng-template>
            <!-- #endregion -->

            <!-- #region Formación de rows dependiendo del tipo -->
            <td mat-cell *matCellDef="let row" class='header_mobile' id="{{col.header}}: "
              [style.textAlign]="col.align">
              <span *ngSwitchCase="null">
                <ngb-highlight [result]=" row[col.field]" [term]="txtFiltro.value">
                </ngb-highlight>
              </span>
              <span *ngSwitchCase="'accion'">
                <button mat-stroked-button matTooltip="Agregar" matTooltipPosition="right" color="accent"
                  (click)="fnAgregar(row)">
                  <mat-icon>forward</mat-icon>
                </button>
              </span>
            </td>
            <!-- #endregion -->

          </ng-container>
          <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
      </div>
      <mat-paginator [pageSizeOptions]="[10, 20, 40]" showFirstLastButtons></mat-paginator>
    </mat-card>
  </div>
</div>