<div class="col-md-10 offset-md-1 mt-4 clsprincipal">
  <!--Titulo-->
  <div class="text-center">
    <h3 class="titulo">
      Registro de Porcentajes - Staff
    </h3>
  </div>
  <!-- Botonera -->
  <div class="fab-container">
    <button mat-mini-fab class="fab-toggler" (click)="repositoryUtilitarios.onToggleFab(1, -1)">
      <i class="material-icons" [@fabToggler]="{value: repositoryUtilitarios.tsLista}">add</i>
    </button>
    <div [@speedDialStagger]="repositoryUtilitarios.abLista.length">
      <button mat-raised-button mat-mini-fab class="fab-secondary" color="secondary" (click)="fnExit()">
        <i class="material-icons" matTooltip="Cancelar" matTooltipPosition="left">close</i>
      </button>
      <button mat-raised-button mat-mini-fab class="fab-secondary" color="secondary" (click)="fnSave()"
        id="btnGuardarTareo" disabled>
        <i class="material-icons" matTooltip="Guardar Tareo" matTooltipPosition="left">save</i>
      </button>
    </div>
  </div>

  <!--Cabecera-->
  <div class="row">
    <div class="col-md-12 col-12">
      <mat-card>
        <div class="row m-auto">

          <div class="col-md-6">

            <mat-form-field class="example-full-width">
              <mat-label>Solicitante</mat-label>
              <input matInput [(ngModel)]="this.securityErp.sysUsuario" disabled>
            </mat-form-field>

            <div class="row">
              <div class="col-md-6 col-12">

                <ng-select appendTo="body" [clearable]="false" (change)="fnSearchDetailEmployee($event)"
                  placeholder="Apellidos y nombres" required>
                  <ng-option *ngFor="let item of personalTareoList" [value]="item">
                    {{item.sNombres}}
                  </ng-option>
                </ng-select>


              </div>

              <div class="col-md-2">
                <mat-form-field class="example-full-width">
                  <mat-label>Año</mat-label>
                  <mat-select (selectionChange)="fnConsultMonth($event.value)">
                    <mat-option *ngFor="let anios of tareoStaffCrud.lstAnios" [value]="anios">
                      {{anios}}</mat-option>
                  </mat-select>
                </mat-form-field>
              </div>

              <div class="row">
                <div class="col-md-12">
                  <mat-form-field class="example-full-width">
                    <mat-label>Mes</mat-label>
                    <mat-select (selectionChange)="fnGetMonthCod($event)" id="cboMes">
                      <mat-option>---Seleccione---</mat-option>
                      <mat-option *ngFor="let meses of tareoStaffCrud.lstMeses" [value]="meses.nEleCod">
                        {{meses.cEleNam}}</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
              </div>

              <div class="col-md-6 col-12">
                <!-- <mat-form-field class="example-full-width">
                  <mat-label>Año</mat-label>
                  <input matInput #postalCode maxlength="5" value="2020" disabled>
                </mat-form-field> -->
              </div>
            </div>

            <div class="row">
              <div class="col-md-6 col-12">
                <mat-form-field class="example-full-width">
                  <mat-label>Cargo</mat-label>
                  <input matInput [(ngModel)]="consultaPersonalTareo.idCargo" disabled>
                </mat-form-field>
              </div>
              <div class="col-md-6 col-12">
                <mat-form-field class="example-full-width">
                  <input matInput [(ngModel)]="consultaPersonalTareo.cargo" disabled>
                </mat-form-field>
              </div>
            </div>

            <div class="row">
              <div class="col-md-6 col-12">
                <mat-form-field class="example-full-width">
                  <mat-label>Ciudad</mat-label>
                  <input matInput [(ngModel)]="consultaPersonalTareo.idCiudad" disabled>
                </mat-form-field>
              </div>
              <div class="col-md-6 col-12">
                <mat-form-field class="example-full-width">
                  <input matInput [(ngModel)]="consultaPersonalTareo.ciudad" disabled>
                </mat-form-field>
              </div>
            </div>

          </div>

          <div class="col-md-6">

            <div class="row">
              <div class="col-md-6 col-12">
                <mat-form-field class="example-full-width">
                  <mat-label>Estado</mat-label>
                  <input style="color: red;font-weight: bolder;" matInput
                    [(ngModel)]="consultaPersonalTareo.estadoTareo" disabled>
                </mat-form-field>
              </div>

              <div class="col-md-6 - col-12">
                <mat-form-field class="example-full-width ">
                  <mat-label>Nª Tareo</mat-label>
                  <input style="color: red; font-weight: bold;" matInput [(ngModel)]="tareoStaffCrud.idCorrelativo"
                    disabled>
                </mat-form-field>
              </div>
            </div>

            <div class="row">
              <div class="col-md-6 col-12">
                <mat-form-field color="primary" class="example-full-width">
                  <mat-label>Quincena</mat-label>
                  <input matInput [(ngModel)]="consultaPersonalTareo.idQuincena" disabled>
                </mat-form-field>
              </div>

              <div class="col-md-6 - col-12">
                <mat-form-field class="example-full-width">
                  <input matInput [(ngModel)]="consultaPersonalTareo.quincena" disabled>
                </mat-form-field>
              </div>
            </div>

            <div class="row">
              <div class="col-md-6 col-12">
                <mat-form-field class="example-full-width">
                  <mat-label>Partida</mat-label>
                  <input matInput [(ngModel)]="consultaPersonalTareo.codPartida" disabled>
                </mat-form-field>
              </div>
              <div class="col-md-6 col-12">
                <mat-form-field class="example-full-width">
                  <input matInput [(ngModel)]="consultaPersonalTareo.partida" disabled>
                </mat-form-field>
              </div>
            </div>

            <div class="row">
              <div class="col-md-6 col-12">
                <mat-form-field class="example-full-width">
                  <mat-label>Registro</mat-label>
                  <input matInput [(ngModel)]="consultaPersonalTareo.horaFechaRegistro" disabled>
                </mat-form-field>
              </div>

              <div class="col-md-6 col-12">
                <mat-form-field class="example-full-width">
                  <mat-label>Modificado</mat-label>
                  <input matInput [(ngModel)]="consultaPersonalTareo.horaFechaModificacion" disabled>
                </mat-form-field>
              </div>
            </div>

          </div>

        </div>
      </mat-card>
    </div>
  </div>

  <!-- Detalle de campañas -->
  <div class="mt-4 mb-4">

    <div class="text-center mt-4">
      <button mat-raised-button class="mr-1 btn_activo botonTraerCampania" (click)="fnLoadDetailTareo()"
        id="traerCampania" disabled>
        TRAER CAMPAÑAS
      </button>
    </div>

    <ng-container *ngIf="repositoryTareo.mostrarTablaDetalleTareo">
      <mat-label class=" textoDeTotales">{{repositoryTareo.totalfilasDetalleTareo}}</mat-label>
      <div class="mat-elevation-z8 container_tabla">
        <table mat-table [dataSource]="detalleTareoStaff" id="tablaCampania">

          <ng-container matColumnDef="campania">
            <th mat-header-cell *matHeaderCellDef>Campaña </th>
            <td mat-cell *matCellDef="let element"> {{element.campania}} </td>
          </ng-container>

          <ng-container matColumnDef="nombreCampania">
            <th mat-header-cell *matHeaderCellDef> Nombre </th>
            <td mat-cell *matCellDef="let element"> {{element.nombreCampania}} </td>
          </ng-container>

          <ng-container matColumnDef="perfil">
            <th mat-header-cell *matHeaderCellDef>Perfil</th>
            <td mat-cell *matCellDef="let element"> {{element.perfil}} </td>
          </ng-container>

          <ng-container matColumnDef="canal">
            <th mat-header-cell *matHeaderCellDef> Canal </th>
            <td mat-cell *matCellDef="let element"> {{element.canal}} </td>
          </ng-container>

          <ng-container matColumnDef="porcentaje">
            <th mat-header-cell *matHeaderCellDef style="text-align: center;"> Porcentaje </th>
            <td mat-cell *matCellDef="let element" style="text-align: center;">
              <input type="number" min="0" [(ngModel)]="element.porcentaje" (change)="onValidatePorcentajes()"
                (keyup)="returnIndex(element)" (keyup.enter)="consultaCostoEmpresaDiasDisponible(element)"
                class="textoCenterNumeros">
            </td>
          </ng-container>

          <ng-container matColumnDef="diasEquivalente">
            <th mat-header-cell *matHeaderCellDef> Dias Equivalente </th>
            <td mat-cell *matCellDef="let element">
              <input type="number" [(ngModel)]="element.diasEquivalente" class="textoCenterNumeros" disabled>
            </td>

          </ng-container>

          <tr mat-header-row *matHeaderRowDef="consultaPersonalTareo.displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: consultaPersonalTareo.displayedColumns;"></tr>
        </table>
      </div>

      <div class="cuadroTotales">
        <mat-label class="textoDeTotales">**
          Solo se podrá grabar al llegar al 100% **</mat-label>

        <input class="textoCenterNumeros" type="number" [(ngModel)]="repositoryTareo.sumaTotalPorcentajesEquivalentes"
          style="width:168px" min="0" disabled>

        <input class="textoCenterNumeros" type="number" [(ngModel)]="repositoryTareo.sumaTotalDiasEquivalentes"
          style="width:167px;margin-left: 68px;" min="0" disabled>
      </div>
    </ng-container>

  </div>

  <br />