/* Header de componente */
.title-card {
  background-color: #334D6E;
  color: white;
  font-size: 20px;
}

:host ::ng-deep .mat-form-field-flex{
  padding-bottom: 6px;
}

/* Estilos del texto tabs*/

:host ::ng-deep .mat-ink-bar{
  max-width: 140px !important;
  margin-left: 10px;
  background-color: #334D6E !important;
}

:host ::ng-deep .mat-tab-label-active{
  opacity: 1 !important;
  background-color: #334D6E;
}

:host ::ng-deep .mat-tab-label .mat-tab-label-content{
  font-size: 18px !important;
  font-weight:normal !important;
  color: #334D6E;
}

:host ::ng-deep .mat-tab-label-active .mat-tab-label-content{
  color: white;
}
:host ::ng-deep .mat-tab-body-content {
  height: 100%;
  overflow: hidden;
}
